@font-face {
    font-family: 'Pirata One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/pirata-one.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Home page cards */
.userbook {
    background: url("../images/userbook.png") no-repeat center;
}

.devbook {
    background: url("../images/devbook.png") no-repeat center;
}

.textbook {
    background: url("../images/textbook.png") no-repeat center;
}

.userbook:hover {
    background: url("../images/userbook-open.png") no-repeat center;
}

.devbook:hover {
    background: url("../images/devbook-open.png") no-repeat center;
}

.textbook:hover {
    background: url("../images/textbook-open.png") no-repeat center;
}

.md-typeset .grid .card {
    text-align: center;
    padding: 0;
}

.md-typeset .grid .card a {
    font-size: 2em;
    font-family: "Pirata One";
    display: block;
    line-height: 300px;
    color: white;
    margin-bottom: 10px;
}

/* Top navigation tab style: centered, with icons and custom font*/
.md-tabs .md-tabs__item:first-child {
    display: none;
}

.md-tabs .md-tabs__item a {
    padding-left: 2rem;
    font-size: 2em;
    font-family: "Pirata One";
    line-height: 2.4em;
    margin-top: 0;
}

.md-tabs .md-tabs__item:nth-child(2) {
    background: url("../images/userbook.png") no-repeat;
    background-size: 2.4rem;
}

.md-tabs .md-tabs__item:nth-child(3) {
    background: url("../images/devbook.png") no-repeat;
    background-size: 2.4rem;
}

.md-tabs .md-tabs__item:nth-child(4) {
    background: url("../images/textbook.png") no-repeat;
    background-size: 2.4rem;
}

.md-tabs .md-tabs__item--active:nth-child(2) {
    background: url("../images/userbook-open.png") no-repeat;
    background-size: 2.4rem;
}

.md-tabs .md-tabs__item--active:nth-child(3) {
    background: url("../images/devbook-open.png") no-repeat;
    background-size: 2.4rem;
}

.md-tabs .md-tabs__item--active:nth-child(4) {
    background: url("../images/textbook-open.png") no-repeat;
    background-size: 2.4rem;
}

.md-tabs__list {
    justify-content: center;
    gap: 30px;
}

/* Bigger logo */
[dir=ltr] .md-header__title {
    margin-left: 0;
}

.md-header__button.md-logo {
    margin: 0;
    padding: .4rem;
}

.md-header__button.md-logo img {
    height: 2rem;
}

/* Header colors */
.md-tabs.userbook-section, .md-header.userbook-section {
    background-color: saddlebrown;
}
.md-tabs.devbook-section, .md-header.devbook-section {
    background-color: darkgreen;
}
.md-tabs.textbook-section, .md-header.textbook-section {
    background-color: brown;
}

/* Separator for source file facts at page bottom */
aside.md-source-file {
    border-top: 1px solid var(--md-default-fg-color--lighter);
    padding-top: 0.5rem;
    margin-top: 2rem;
}