openapi: 3.1.0
info:
  version: 1.0.0
  title: NEM Client API Endpoints
  description: OpenAPI specification for the NEM client API.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: http://libertalia.nemtest.net:7890
    description: Testnet node
  - url: http://portobelo.nemmain.net:7890
    description: Mainnet node
security:
  - {}
tags:
  - name: Account
    description: |
      Account data, metadata, status, and batch operations. Endpoints return balance, importance,
      and other account state for one or more accounts, identified by address or public key.

      - **Account**: identified by an **address** (derived from public key) or by **public key**.
      - **Account status**: `UNLOCKED` or `LOCKED` for harvesting on the queried node.
      - **Delegated account**: when requesting by delegated account key, the node resolves the main account
        that delegated to the given key (used for delegated harvesting flows).

      Local-only endpoints (e.g. generation, historical batch) are restricted by configuration (`nis.additionalLocalIps`).
  - name: Block
    description: |
      Block data retrieval. Blocks are the units of the blockchain; each block contains a list of
      transactions and is signed by a harvester.

      Endpoints: last block, block at a given height, and (local-only) block or block range by height.
  - name: Chain
    description: |
      Blockchain score and height. The chain is the ordered sequence of blocks accepted by the node.

      - **Chain height**: the number of blocks in the chain (last block height).
      - **Chain score**: a numeric measure of the chain used by nodes to choose the best chain when
        multiple exist (e.g. after a network split). Higher score means a "better" chain; applications
        rarely need to interpret this value.
  - name: Debug
    description: |
      Debug and diagnostics: timers, connection audits, and time synchronization results. Intended
      for operators and troubleshooting, not for typical application logic.

      - **Timers**: periodic tasks run by the NEM client (e.g. sync, harvesting); each timer exposes
        execution count, success/failure, and last run time.
      - **Connection audits**: request traces (incoming and outgoing) with caller/destination host,
        path, and elapsed time - useful to inspect load and slow endpoints.
      - **Time synchronization**: results of the node's time sync with the network.
  - name: Harvesting
    description: |
      Harvesting is the process by which blocks are created and fees are earned on the network.

      - **Harvester**: An account participating in block harvesting.
      - **Delegated harvester**: A remote (delegated) account that harvests on behalf
        of a main account, after importance has been transferred and the remote key
        has been unlocked on a node.
      - **Unlocked account**: An account whose private key is unlocked on a node
        (via a harvesting/unlock operation) and is therefore currently eligible to harvest.
      - **Unlocked slot**: A node-level capacity unit allowing one harvester (unlocked account).
        Nodes can be configured (via `nis.unlockedLimit`) to allow only a limited number of
        unlocked accounts simultaneously.

      Node operators can further control who is allowed to harvest on a given node:
      - `nis.allowedHarvesterAddresses`: optional list of account addresses that are allowed to use
        this node for harvesting. When set, harvesting/unlock requests with other addresses are rejected.
      - `nis.additionalHarvesterPrivateKeys`: optional list of private keys that should automatically
        start harvesting on boot (subject to `nis.unlockedLimit` and other eligibility checks).
  - name: Mosaic
    description: |
      Mosaic supply, definitions, and ownership. Mosaics are custom assets on the NEM network;
      each is identified by a mosaic id (namespace + name) and has a definition and a current supply.

      - **Mosaic id**: identifier consisting of **namespace id** (e.g. `makoto.metal.coins`) and **name**
        (e.g. `nem`); together they form a human-readable mosaic identifier.
      - **Mosaic definition**: metadata (divisibility, levy, properties).
      - **Mosaic supply**: the total number of units of the mosaic that exist (or existed at a given block height).
        Expressed in the mosaic's smallest unit (same as token amounts; see divisibility in the definition).
        Set at creation via `initialSupply`; the creator can later increase or decrease it only if the definition has `supplyMutable: true`.
  - name: Namespace
    description: |
      Namespace and root namespace operations. Namespaces provide a hierarchical naming scheme for
      mosaics (e.g. `makoto.metal.coins`).

      - **Fully-qualified namespace**: the full dot-separated path (e.g. `makoto.metal.coins`), not
        just the leaf segment. Use this when querying namespace or mosaic endpoints by namespace.
      - **Root namespace**: top-level namespace (no parent); sub-namespaces are children of a root.
  - name: Node
    description: |
      Node info, peer lists, boot, shutdown, and status.

      - **Node**: a NEM node, identified by its `identity` (public key + name) and `endpoint` (host, port, protocol).
      - **Reachable node**: a node that is currently reachable and responds to node info / peer list requests. Shown in peer lists and
        used as a base set for further selection (e.g., broadcast nodes).
      - **Broadcast node** (active broadcast node): a reachable node selected by the peer network as a target for broadcasting data
        (e.g., transactions and blocks). Returned by `/node/peer-list/active`.
      - **Node status**: categorical health/status of a node, as reported by the peer network:
        - `ACTIVE`: node is reachable and the last request succeeded.
        - `BUSY`: node is reachable but returned a busy signal for the last request.
        - `INACTIVE`: node is offline or unreachable.
        - `FAILURE`: node is reachable but the last request failed with a server error.
        - `UNKNOWN`: node is in an unknown state (no reliable status yet).
  - name: Time synchronization
    description: |
      Network time and communication timestamps. NEM uses a fixed **network epoch** (29 March 2015,
      00:06:25 UTC); timestamps are expressed in seconds or milliseconds since that epoch.
  - name: Transaction
    description: |
      Transaction retrieval, announcement, and preparation. Transactions are signed by the sender and
      broadcast to the network.

      - **Transaction hash**: unique identifier of a transaction; lookup by hash requires the
        `TRANSACTION_HASH_LOOKUP` node feature and is subject to `nis.transactionHashRetentionTime`.
      - **Unconfirmed transaction**: a transaction that has been broadcast but not yet included in any block.
      - **Confirmed transaction**: a transaction that has been included in a block. Endpoints in this tag
        return only confirmed transactions unless the endpoint name explicitly indicates otherwise (e.g. unconfirmed list).
      Local (trusted) endpoints may return full transaction data; public ones may omit sensitive fields.
externalDocs:
  description: NEM technical documentation
  url: https://nemproject.github.io/
paths:
  /account/generate:
    get:
      tags:
        - Account
      summary: Generate new account data
      description: |
        Generates a new random account key pair and returns the private key, public key, and address.
        Key pairs can also be generated client-side using Symbol SDK (e.g. [JavaScript](https://www.npmjs.com/package/symbol-sdk), 
        [Python](https://pypi.org/project/symbol-sdk-python/)), without calling this endpoint.

        **How the account is generated:** The key pair is generated using the Ed25519 curve. The private key is 32 random bytes 
        produced by the JVM's `java.security.SecureRandom` (a cryptographically secure pseudorandom number generator). 
        The public key is derived from the private key. No custom or weak RNG is used.

        **Security:** For typical use (wallets, client applications), this is considered secure: `SecureRandom` is backed by
        the operating system's entropy source (e.g. `/dev/urandom` on Linux) and is appropriate for key generation. 
        If the system has low entropy (e.g. fresh VM, embedded device with no good entropy source), the output could theoretically be weaker; 
        the application does not check or supplement entropy.

        ⚠️ **Local-only**: this endpoint returns sensitive cryptographic material and therefore is only accessible from trusted IP addresses.
        By default, it is available only from the machine where the REST server is running (localhost).
        You can allow additional trusted IP addresses by configuring the `nis.additionalLocalIps` property in the NEM client configuration file.
      operationId: generateAccount
      responses:
        '200':
          description: Account successfully generated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedAccount'
              examples:
                default:
                  summary: New key pair and address
                  value:
                    privateKey: 0962c6505d02123c40e858ff8ef21e2b7b5466be12c4770e3bf557aae828390f
                    address: NCKMNCU3STBWBR7E3XD2LR7WSIXF5IVJIDBHBZQT
                    publicKey: c2e19751291d01140e62ece9ee3923120766c6302e1099b04014fe1009bc89d3
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/get:
    get:
      tags:
        - Account
      summary: Request account data
      description: |
        Retrieves account data for a given address.
        The response contains both account information and additional metadata such as harvesting and multisig state.
      operationId: getAccount
      parameters:
        - $ref: '#/components/parameters/address'
      responses:
        '200':
          description: Account information successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMetaDataPair'
              examples:
                testnet:
                  summary: Testnet account with metadata
                  value:
                    account:
                      address: TALICELCD3XPH4FFI5STGGNSNSWPOTG5E4DS2TOS
                      balance: 124446551689680
                      vestedBalance: 104443451691625
                      importance: 0.010263666447108395
                      publicKey: a11a1a6c17a24252e674d151713cdf51991ad101751e4af02a20c61b59f1fe1a
                      label: null
                      harvestedBlocks: 645
                      multisigInfo: {}
                    meta:
                      cosignatoryOf: []
                      cosignatories: []
                      status: LOCKED
                      remoteStatus: ACTIVE
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/get/forwarded:
    get:
      tags:
        - Account
      summary: Request original account data for delegated account
      description: |
        Given the address of a delegated account, returns the account data of the
        original account for which the given address is acting as a delegate.

        If the provided address belongs to a delegated account, the response
        contains the original account’s information.

        If the provided address does not belong to a delegated account, the response
        contains the account information for the given address itself.
      operationId: getAccountByForwardedAddress
      parameters:
        - $ref: '#/components/parameters/address'
      responses:
        '200':
          description: Account information successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMetaDataPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/get/from-public-key:
    get:
      tags:
        - Account
      summary: Request account data by public key
      description: |
        Retrieves account data given the account's public key.
        The response contains both account information and additional metadata such as harvesting and multisig state.
      operationId: getAccountByPublicKey
      parameters:
        - $ref: '#/components/parameters/publicKey'
      responses:
        '200':
          description: Account information successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMetaDataPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/get/forwarded/from-public-key:
    get:
      tags:
        - Account
      summary: Request original account data by delegated account public key
      description: |
        Given the public key of a delegated account, returns the account data of the
        original account for which the given public key is acting as a delegate.

        If the provided public key belongs to a delegated account, the response
        contains the original account’s information.

        If the provided public key does not belong to a delegated account, the response
        contains the account information for the given public key itself.
      operationId: getAccountByForwardedPublicKey
      parameters:
        - $ref: '#/components/parameters/publicKey'
      responses:
        '200':
          description: Account information successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMetaDataPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/status:
    get:
      tags:
        - Account
      summary: Request account status
      description: |
        Retrieves only the account metadata for a given address: harvesting status, delegated harvesting status, and multisig relationships (cosignatories).
        It does **not** return account info such as balance, importance, or public key.
      operationId: getAccountStatus
      parameters:
        - $ref: '#/components/parameters/address'
      responses:
        '200':
          description: Account metadata successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMetaData'
              examples:
                default:
                  summary: Account harvesting and multisig metadata
                  value:
                    cosignatories: []
                    cosignatoryOf: []
                    status: LOCKED
                    remoteStatus: ACTIVE
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/get/batch:
    post:
      tags:
        - Account
      summary: Request account data for multiple accounts
      description: |
        Retrieves a list of account data objects for multiple accounts.

        The request body contains a list of account identifiers.
      operationId: getAccountsBatch
      requestBody:
        $ref: '#/components/requestBodies/accounts'
      responses:
        '200':
          description: Successfully fetched list of account data.
          content:
            application/json:
              schema:
                type: object
                description: List of account data.
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountMetaDataPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/historical/get:
    get:
      tags:
        - Account
      summary: Retrieve historical account data
      description: |
        Retrieves historical balance and importance information for an account.

        ⚠️ This endpoint is available **only if the node supports** the optional feature `HISTORICAL_ACCOUNT_DATA`.

        **Checking if a node supports this feature:** Call GET `/node/extended-info` (or GET `/node/info`). 
        The response includes node metadata with a `features` bitmask. Historical account data corresponds to flag `0x2`; 
        the node supports this endpoint if that bit is set.

        **Enabling the feature on your own node:** In the NEM client configuration file, set `nis.optionalFeatures` to include `HISTORICAL_ACCOUNT_DATA`.
        For example: `nis.optionalFeatures = TRANSACTION_HASH_LOOKUP|HISTORICAL_ACCOUNT_DATA`.

        The request returns historical data points between the given block heights (inclusive).

        **Number of data points:** You control this via `startHeight`, `endHeight`, and `increment`. 
        The number of points returned is: **`(endHeight − startHeight) ÷ increment + 1`**. 
        For example, `startHeight=100`, `endHeight=199`, `increment=1` gives 100 points; the same range with `increment=10` gives 10 points. 
        This value must not exceed **10,000**; otherwise the request fails with an error (400 Bad Request). 
        To stay under the limit, use a larger `increment` and/or a smaller height range.
      operationId: getAccountHistoricalData
      parameters:
        - $ref: '#/components/parameters/address'
        - $ref: '#/components/parameters/startHeight'
        - $ref: '#/components/parameters/endHeight'
        - $ref: '#/components/parameters/increment'
      responses:
        '200':
          description: Successfully retrieved historical account data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHistoricalDataList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/historical/get/batch:
    post:
      tags:
        - Account
      summary: Retrieve historical account data for multiple accounts
      description: |
        Retrieves historical balance and importance information for a collection of accounts.

        ⚠️ This endpoint is available **only if the node supports** the optional feature `HISTORICAL_ACCOUNT_DATA`.

        **Checking if a node supports this feature:** Call GET `/node/extended-info` (or GET `/node/info`). 
        The response includes node metadata with a `features` bitmask. Historical account data corresponds to flag `0x2`; 
        the node supports this endpoint if that bit is set.

        **Enabling the feature on your own node:** In the NEM client configuration file, set `nis.optionalFeatures` to include `HISTORICAL_ACCOUNT_DATA`.
        For example: `nis.optionalFeatures = TRANSACTION_HASH_LOOKUP|HISTORICAL_ACCOUNT_DATA`.

        The request returns historical data points for each requested account between the given block heights (inclusive). 
        If any of the provided addresses is invalid, the entire request fails with 400 Bad Request; no partial results are returned.

        **Number of data points:** You control this via `startHeight`, `endHeight`, `incrementBy`, and the number of accounts. 
        Points per account = **`(endHeight − startHeight) ÷ incrementBy + 1`**. 
        Total points = **points per account × number of accounts**. 
        This total must not exceed **10,000**; otherwise the request fails with an error (400 Bad Request). 
        To stay under the limit, reduce the height range, increase `incrementBy`, and/or request fewer accounts.
      operationId: getAccountHistoricalDataBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accounts
                - startHeight
                - endHeight
                - incrementBy
              properties:
                accounts:
                  type: array
                  minItems: 1
                  description: List of account addresses. All must be valid; if any is invalid, the request fails with 400 Bad Request.
                  items:
                    $ref: '#/components/schemas/AccountId'
                startHeight:
                  $ref: '#/components/schemas/BlockHeight'
                  description: Block height from which the data should be supplied.
                endHeight:
                  $ref: '#/components/schemas/BlockHeight'
                  description: Block height up to which the data should be supplied (inclusive).
                incrementBy:
                  type: integer
                  format: int64
                  minimum: 1
                  description: Step between consecutive block heights. Must be greater than 0.
                  examples:
                    - 1
            examples:
              default:
                value:
                  accounts:
                    - account: NALICELGU3IVY4DPJKHYLSSVYFFWYS5QPLYEZDJJ
                    - account: NDZQI4MPLUCFVWQY5P6LD5LFLH2NVDYOQ347DATW
                  startHeight: 17590
                  endHeight: 17592
                  incrementBy: 1
      responses:
        '200':
          description: Successfully retrieved historical account data for all requested accounts.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountHistoricalDataList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /block/at/public:
    post:
      tags:
        - Block
      summary: Return block by height
      description: |
        Returns the block at the given block height.
        The request body must contain a BlockHeight object.

        Returns an error if the block with the specified height cannot be found in the database.
      operationId: getBlockAtHeight
      requestBody:
        $ref: '#/components/requestBodies/blockHeight'
      responses:
        '200':
          description: Block successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /local/block/at:
    post:
      tags:
        - Block
      summary: Return extended block data by height
      description: |
        Returns detailed information about a block at the given block height.
        The response includes the block, its hash, difficulty, and a list of transactions with their hashes.

        ⚠️ **Local-only:** for security reasons, this endpoint is only accessible from trusted IP addresses.
        By default, it is available only from the machine where the REST server is running (localhost).
        You can allow additional trusted IP addresses by configuring the `nis.additionalLocalIps` property in the NEM client configuration file.
      operationId: getLocalBlockAtHeight
      requestBody:
        $ref: '#/components/requestBodies/blockHeight'
      responses:
        '200':
          description: Extended block data successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedBlock'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /local/chain/blocks-after:
    post:
      tags:
        - Block
      summary: Return blocks after block height
      description: |
        Returns up to 10 blocks from the blockchain that come after the given block height.
        The returned list does not include the block at the specified (starting) height.
        If the database contains fewer than 10 blocks after the specified height, all available blocks are returned.

        ⚠️ **Local-only:** for security reasons, this endpoint is only accessible from trusted IP addresses.
        By default, it is available only from the machine where the REST server is running (localhost).
        You can allow additional trusted IP addresses by configuring the `nis.additionalLocalIps` property in the NEM client configuration file.
      operationId: getLocalBlocksAfterHeight
      requestBody:
        $ref: '#/components/requestBodies/blockHeight'
      responses:
        '200':
          description: List of extended blocks data successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedBlockList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /chain/last-block:
    get:
      tags:
        - Block
      summary: Return last block of the blockchain
      description: Returns the current last block of the blockchain.
      operationId: getLastBlock
      responses:
        '200':
          description: The latest block on the chain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
              examples:
                mainnetLastBlock:
                  summary: Example last block (main network)
                  value:
                    timeStamp: 9232968
                    signature: 0a1351ef3e9b19c601e804a6d329c9ade662051d1da2c12c3aec9934353e421c79de7d8e59b127a8ca9b9d764e3ca67daefcf1952f71bc36f747c8a738036b05
                    prevBlockHash:
                      data: 58efa578aea719b644e8d7c731852bb26d8505257e03a897c8102e8c894a99d6
                      type: 1
                    transactions: []
                    version: 1744830465
                    signer: 2afca04d2cb8d16cf3656274bc55b95e60be823cfb7230d82f791ed42a309ee7
                    height: 42804
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /chain/score:
    get:
      tags:
        - Chain
      summary: Return blockchain score
      description: |
        Returns the current score of the blockchain. The higher the score, the better the chain.

        Normally there is only one chain shared by all nodes. When the network splits (e.g. connectivity issues),
        different chains can temporarily exist. Nodes then use the chain score to choose among the chains they are
        aware of until the network rejoins. Applications are typically not concerned with this value; it is mainly
        used by the node for synchronization and chain selection.
      operationId: getChainScore
      responses:
        '200':
          description: Blockchain score successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainScore'
              examples:
                default:
                  summary: Chain score (integer value in hexadecimal)
                  value:
                    score: 18722d5a7d590deb
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /chain/height:
    get:
      tags:
        - Chain
      summary: Return blockchain height
      description: |
        Returns the current height of the blockchain.
        The response contains the height of the last block in the chain.
      operationId: getChainHeight
      responses:
        '200':
          description: Blockchain height successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockReference'
              examples:
                default:
                  summary: Current chain height
                  value:
                    height: 42799
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
  /debug/timers:
    get:
      tags:
        - Debug
      summary: Return debug timers
      description: |
        Returns an array of task monitor structures for monitoring statistics of periodic tasks.
      operationId: getDebugTimers
      responses:
        '200':
          description: Debug timers returned successfully.
          content:
            application/json:
              schema:
                type: array
                description: Array of debug timer entries.
                items:
                  $ref: '#/components/schemas/TimerInformation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /debug/connections/incoming:
    get:
      tags:
        - Debug
      summary: Return incoming connections
      description: |
        Returns a request audit of HTTP requests that other clients or nodes have sent to this node's REST API.

        For each request the node records the caller's host (IP), the API path (e.g. `/chain/score`, `/node/info`), start time, and elapsed time. The response has two lists: **outstanding** (requests currently in progress) and **most-recent** (a sliding window of the latest requests). So you can see who is calling the node, which endpoints are hit, and how long requests take—useful for debugging connectivity, load, or slow endpoints.
        The node records each incoming request and exposes this trace via the API. It is a request log/trace for inspection, not a security or compliance audit. What is special is that you get a live view of in-flight requests and a short history of recent ones without parsing server logs.
      operationId: getDebugIncomingConnections
      responses:
        '200':
          description: Audit collection of incoming connections returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionAuditResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /debug/connections/outgoing:
    get:
      tags:
        - Debug
      summary: Return outgoing connections
      description: |
        Returns an audit collection of outgoing connections.
        Use this information to monitor outstanding and recent outgoing requests.
      operationId: getDebugOutgoingConnections
      responses:
        '200':
          description: Audit collection of outgoing connections returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionAuditResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /debug/time-synchronization:
    get:
      tags:
        - Debug
      summary: Return time synchronization results
      description: Returns time synchronization results for monitoring changes in network time.
      operationId: getDebugTimeSynchronization
      responses:
        '200':
          description: Time synchronization results returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSynchronizationResultList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/unlock:
    post:
      tags:
        - Harvesting
      summary: Start harvesting (unlock account)
      description: |
        Starts harvesting for the specified account.
        Accounts with a vested balance of at least 10,000 XEM are eligible to harvest blocks.
        After NEM client startup, all accounts are locked by default; harvesters need to unlock their accounts again
        (start harvesting) after each NEM client restart.

        Node operators can further restrict which accounts may harvest on this node via configuration:
        - `nis.allowedHarvesterAddresses`: only these account addresses are allowed to use this node for harvesting
          (other private keys are rejected by server-side validation).
        - `nis.additionalHarvesterPrivateKeys`: additional harvester private keys that are automatically unlocked
          for harvesting on boot (subject to `nis.unlockedLimit` and standard eligibility checks).

        ⚠️ **Security warning:** For non-local network calls, the private key used in the request must always be the private key of the delegated account.
        For trusted and local network calls, it is possible, but not recommended, to use the private key of the main account.
      operationId: startHarvesting
      requestBody:
        $ref: '#/components/requestBodies/privateKey'
      responses:
        '200':
          description: Indicates success. No response body is returned.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/lock:
    post:
      tags:
        - Harvesting
      summary: Stop harvesting (lock account)
      description: |
        Stops harvesting for the specified account.

        ⚠️ **Security warning:** For non-local network calls, the private key used in the request must always be the private key of the delegated account.
        For trusted and local network calls, it is possible, but not recommended, to use the private key of the main account.
      operationId: stopHarvesting
      requestBody:
        $ref: '#/components/requestBodies/privateKey'
      responses:
        '200':
          description: Indicates success. No response body is returned.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/unlocked/info:
    post:
      tags:
        - Harvesting
      summary: Retrieve information about the harvesting capacity of this node
      description: |
        Retrieves the current and maximum number of harvesters on this node.
        Each node can be configured to allow a limited number of harvesters. These correspond to accounts unlocked for harvesting.
        The returned information reflects the current usage and the configured limit.
      operationId: retrieveUnlockedInfo
      responses:
        '200':
          description: Harvesting statistics returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HarvestingStats'
              examples:
                default:
                  summary: Unlock capacity and current count
                  value:
                    num-unlocked: 2
                    max-unlocked: 3
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/harvests:
    get:
      tags:
        - Harvesting
      summary: Retrieve the list of blocks harvested by an account
      description: |
        Gets an array of harvested block information objects for the specified account.

        The result contains information about blocks harvested by the account,
        starting from a given block identifier and supports pagination.
      operationId: getHarvestedBlocks
      parameters:
        - $ref: '#/components/parameters/addressFilter'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Successfully returned harvested info for the account.
          content:
            application/json:
              schema:
                type: object
                description: Array of harvest info.
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/HarvestInfo'
              examples:
                default:
                  summary: Harvested blocks for account
                  value:
                    data:
                      - timeStamp: 8879051
                        difficulty: 26453656336676
                        totalFee: 102585065
                        id: 1262068
                        height: 37015
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/importances:
    get:
      tags:
        - Harvesting
      summary: Retrieve importance data for all accounts
      description: |
        Gets an array of account importance objects.

        Each entry contains an account address and its importance information.
        Importance data may be unset for accounts that are not eligible for harvesting.
      operationId: getImportanceData
      responses:
        '200':
          description: Successfully returned importance data for accounts.
          content:
            application/json:
              schema:
                type: object
                description: Array of accounts importance data.
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountImportanceData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /local/account/isunlocked:
    post:
      tags:
        - Harvesting
      summary: Check if account is harvesting
      description: |
        Checks whether the account corresponding to the given private key is currently harvesting.

        ⚠️ **Local-only:** for security reasons, this endpoint is only accessible from trusted IP addresses.
        By default, it is available only from the machine where the REST server is running (localhost).
        You can allow additional trusted IP addresses by configuring the `nis.additionalLocalIps` property in the NEM client configuration file.
      operationId: fetchAccountHarvestingStatus
      requestBody:
        $ref: '#/components/requestBodies/privateKey'
      responses:
        '200':
          description: Returns whether the account is harvesting (`ok`) or not (`nope`).
          content:
            text/plain:
              schema:
                type: string
                enum:
                  - ok
                  - nope
              examples:
                unlocked:
                  value: ok
                locked:
                  value: nope
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /mosaic/supply:
    get:
      tags:
        - Mosaic
      summary: Return mosaic supply
      description: |
        Returns the current supply for a given mosaic identifier.
        The mosaic id is provided as a request parameter and parsed by the server into a MosaicId object.
      operationId: getMosaicSupply
      parameters:
        - $ref: '#/components/parameters/mosaicId'
      responses:
        '200':
          description: Mosaic supply successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MosaicIdSupplyPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/mosaic/owned/definition:
    get:
      tags:
        - Mosaic
      summary: Return mosaic definitions owned by an account
      description: |
        Returns a list of mosaic definitions for mosaics currently owned by the specified account.
        The account is identified by its address, which is provided as a query parameter.
      operationId: getMosaicOwnedDefinition
      parameters:
        - $ref: '#/components/parameters/address'
      responses:
        '200':
          description: Mosaic definitions successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                description: List of account metadata.
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MosaicDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/mosaic/owned/definition/batch:
    post:
      tags:
        - Mosaic
      summary: Return mosaic definitions owned by multiple accounts
      description: |
        Returns a list of mosaic definitions for mosaics currently owned by the specified accounts.
        The request body contains a list of account identifiers. For each account, the node looks at mosaics that
        the account holds (plus XEM and first‑level levy mosaics) and collects their definitions. Mosaic definitions
        are aggregated across all accounts and deduplicated in the response.

        This is useful when you manage or query many accounts at once (for example, a service that tracks several customers' accounts) 
        and want to fetch each mosaic definition only once: even if the same mosaic is owned by multiple accounts in the request, 
        its definition appears only a single time in the response.
      operationId: getMosaicOwnedDefinitionBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: List of account identifiers.
              required:
                - data
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/AccountId'
            examples:
              testnet:
                value:
                  data:
                    - account: TALICELCD3XPH4FFI5STGGNSNSWPOTG5E4DS2TOS
              mainnet:
                value:
                  data:
                    - account: NCHESTYVD2P6P646AMY7WSNG73PCPZDUQNSD6JAK
      responses:
        '200':
          description: Mosaic definitions successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MosaicDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/mosaic/owned:
    get:
      tags:
        - Mosaic
      summary: Returns the mosaic balances owned by an account
      description: |
        Returns a list of mosaics (mosaic ID and quantity) owned by the specified account address.
      operationId: getMosaicOwned
      parameters:
        - $ref: '#/components/parameters/address'
      responses:
        '200':
          description: Mosaics successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                description: List of account metadata.
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Mosaic'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /mosaic/definition:
    get:
      tags:
        - Mosaic
      summary: Return mosaic definition
      description: |
        Returns the mosaic definition for the given mosaic identifier.

        The parent namespace of the mosaic must be **active**; otherwise the request fails with HTTP `404 Not Found`.
      operationId: getMosaicDefinition
      parameters:
        - $ref: '#/components/parameters/mosaicId'
      responses:
        '200':
          description: Mosaic definition successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MosaicDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /mosaic/definition/last:
    get:
      tags:
        - Mosaic
      summary: Return last known mosaic definition
      description: |
        Returns the last known mosaic definition (latest version) for the given mosaic identifier.

        Mosaic definitions can be updated over time. If multiple definitions exist for the same `mosaicId`, this endpoint always returns the
        most recent version known to the node (highest internal database id), regardless of whether the mosaic or its owning namespace has expired.

        This endpoint does not perform any height-based or expiry checks:
        it simply returns the latest stored definition. For the native XEM mosaic, a predefined static definition is returned.

        To check whether a mosaic is still active at a specific block height, use one of the following:
        - GET /local/mosaic/definition/supply with mosaicId and height to get the definition together with expirationHeight of the owning namespace;
          if height is greater than or equal to expirationHeight, the mosaic is expired at that height.
        - GET /local/mosaics/expired to list mosaics that expire at a given height (requires the `TRACK_EXPIRED_MOSAICS` feature).
      operationId: getLastMosaicDefinition
      parameters:
        - $ref: '#/components/parameters/mosaicId'
      responses:
        '200':
          description: Last mosaic definition successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MosaicDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /mosaic/definition/page:
    get:
      tags:
        - Mosaic
      summary: Return mosaic definitions (paged)
      description: |
        Returns all known mosaic definitions using pagination.
        Each entry contains a mosaic definition together with associated metadata.
      operationId: getMosaicDefinitionPage
      parameters:
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Mosaic definitions successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MosaicDefinitionMetaDataPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /namespace/mosaic/definition/page:
    get:
      tags:
        - Mosaic
      summary: Return mosaic definitions for namespace (paged)
      description: |
        Returns mosaic definitions for mosaics whose `namespaceId` matches the specified namespace exactly.
        A single namespace can define multiple mosaics (for example, `alice.drinks:beer` and `alice.drinks:juice` both belong to the
        namespace `alice.drinks`); this endpoint lists one definition for each such mosaic.
        It does not include mosaics from child namespaces (e.g., `alice.drinks.premium:*`).
        If the namespace is inactive or does not exist, the response is 200 with an empty list.
        The request supports cursor-based paging. Each returned item contains a mosaic definition and associated metadata.
      operationId: getNamespaceMosaicDefinitionPage
      parameters:
        - $ref: '#/components/parameters/namespace'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Mosaic definitions successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MosaicDefinitionMetaDataPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/mosaic/definition/page:
    get:
      tags:
        - Mosaic
      summary: Returns mosaic definitions created by an account
      description: |
        Returns mosaic definitions for mosaics created by the specified account (the account is the creator of the definition).
        Results can be optionally filtered by a parent namespace and retrieved in pages using a cursor-based pagination mechanism.
      operationId: getAccountMosaicDefinitionPage
      parameters:
        - $ref: '#/components/parameters/address'
        - $ref: '#/components/parameters/parentNamespace'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Mosaic definitions successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MosaicDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /local/mosaic/definition/supply:
    get:
      tags:
        - Mosaic
      summary: Return mosaic definition and supply at a given block height
      description: |
        Returns the mosaic definition along with its current supply and
        the expiration height of the owning namespace at the specified block height.
        If the mosaic does not exist at that height, an empty list is returned.

        ⚠️ **Local-only:** for security reasons, this endpoint is only accessible from trusted IP addresses.
        By default, it is available only from the machine where the REST server is running (localhost).
        You can allow additional trusted IP addresses by configuring the `nis.additionalLocalIps` property in the NEM client configuration file.
      operationId: getMosaicDefinitionWithSupply
      parameters:
        - $ref: '#/components/parameters/mosaicId'
        - $ref: '#/components/parameters/height'
      responses:
        '200':
          description: Mosaic definition and supply list (empty list if not found).
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MosaicDefinitionSupplyTuple'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /local/mosaics/expired:
    get:
      tags:
        - Mosaic
      summary: List expired mosaics at a block height
      description: |
        Returns mosaics that expired or were restored at the specified block height.
        Each entry includes the mosaic id, the type of event (expired vs restored), and the balances
        held by each account at the time of expiry.

        **Requirements:**
        - The node must support the `TRACK_EXPIRED_MOSAICS` feature (see `GET /node/info`, `metaData.features`).
        - If the feature is not supported, the server returns HTTP 500 with message
          `this node does not support tracking expired mosaics`.

        If the `height` parameter is omitted, the server uses the maximum block height
        (effectively returning expirations recorded at the highest processed height).

         ⚠️ **Local-only:** for security reasons, this endpoint is only accessible from trusted IP addresses.
         By default, it is available only from the machine where the REST server is running (localhost).
         You can allow additional trusted IP addresses by configuring the `nis.additionalLocalIps` property in the NEM client configuration file.
      operationId: getMosaicExpired
      parameters:
        - $ref: '#/components/parameters/height'
      responses:
        '200':
          description: List of expired/restored mosaics at the given height (empty array if none).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpiredMosaicList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /namespace/root/page:
    get:
      tags:
        - Namespace
      summary: Retrieve root namespaces
      description: |
        Gets root namespaces in a paged manner. A **root namespace** is a namespace without a parent (e.g. `alice`); 
        sub-namespaces (e.g. `alice.vouchers`) have a parent and are not returned by this endpoint.
        Each returned item contains namespace information together with a database id used for keyset pagination.
      operationId: getRootNamespaces
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: List of root namespaces retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceMetaDataPairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /namespace:
    get:
      tags:
        - Namespace
      summary: Return namespace information
      description: |
        Retrieves information about the namespace identified by the given fully-qualified name.
        A fully-qualified namespace is the **full dot-separated path** from the root namespace down to the target namespace,
        for example:
        - `alice` (root namespace)
        - `alice.drinks` (child of `alice`)
        - `alice.drinks.premium` (child of `alice.drinks`)

        The namespace must exist and be active; otherwise the request fails with HTTP `404 Not Found` (`ResourceNotFound`).
      operationId: getNamespace
      parameters:
        - $ref: '#/components/parameters/namespace'
      responses:
        '200':
          description: Namespace information retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Namespace'
              examples:
                default:
                  summary: Namespace with fully-qualified name and owner
                  value:
                    fqn: makoto.metal.coins
                    owner: TD3RXTHBLK6J3UD2BH2PXSOFLPWZOTR34WCG4HXH
                    height: 13465
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/namespace/page:
    get:
      tags:
        - Namespace
      summary: Return namespaces owned by account
      description: |
        Retrieves namespaces owned by a given account address.
        If the optional parent parameter is supplied, only sub-namespaces of the given parent namespace are returned.
      operationId: getNamespaces
      parameters:
        - $ref: '#/components/parameters/address'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/parentNamespace'
      responses:
        '200':
          description: Namespaces owned by the account retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Namespace'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/info:
    get:
      tags:
        - Node
      summary: Return basic node information
      description: |
        Retrieves basic information about a NEM node, including its identity, endpoint configuration, and metadata.
        Using IP `127.0.0.1` retrieves information about the local node.
      operationId: getNodeInfo
      responses:
        '200':
          description: Node information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'
              examples:
                default:
                  summary: Node with identity, endpoint and metadata
                  value:
                    metaData:
                      features: 1
                      application: NIS
                      networkId: -104
                      version: 0.4.33-BETA
                      platform: Oracle Corporation (1.8.0_25) on Windows 8
                    endpoint:
                      protocol: http
                      port: 7890
                      host: 81.224.224.156
                    identity:
                      name: Alice
                      public-key: a1aaca6c17a24252e674d155713cdf55996ad00175be4af02a20c67b59f9fe8a
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/extended-info:
    get:
      tags:
        - Node
      summary: Return extended node information
      description: |
        Retrieves extended information about a NEM node.

        The response contains:
          - basic node information (`node`)
          - application-level metadata (`nisInfo`)
      operationId: getNodeExtendedInfo
      responses:
        '200':
          description: Extended node information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedNode'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/peer-list/all:
    get:
      tags:
        - Node
      summary: Return all known nodes in the neighborhood of the queried node
      description: |
        Gets a collection of all nodes currently known by the queried node, grouped by their connection status.

        The response contains arrays of nodes categorized by status:
          - `active`: node is reachable and responsive
          - `busy`: node is reachable but does not respond within timeout
          - `inactive`: node is unreachable
          - `failure`: node failed authentication or encountered a fatal error
      operationId: getAllNodePeerList
      responses:
        '200':
          description: Successfully retrieved node neighborhood.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeCollection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/peer-list/reachable:
    get:
      tags:
        - Node
      summary: Return the list of reachable (active) nodes in the neighborhood of the queried node
      description: |
        Returns a list of all nodes currently known by the queried node that have status **ACTIVE**.
        Only nodes that are reachable and respond in a timely manner are returned.
      operationId: getReachableNodePeerList
      responses:
        '200':
          description: Successfully retrieved reachable nodes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/peer-list/active:
    get:
      tags:
        - Node
      summary: Return active broadcast nodes in neighborhood
      description: |
        Gets a list of **active nodes selected for broadcasts** in the neighborhood.

        These nodes are a subset of reachable nodes and are used by the queried node to 
        broadcast data (e.g. transactions and blocks) across the network.
      operationId: getActiveNodePeerList
      responses:
        '200':
          description: Successfully retrieved active broadcast nodes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/active-peers/max-chain-height:
    get:
      tags:
        - Node
      summary: Return maximum chain height from active peers
      description: |
        Makes the queried node request the blockchain height from every node in its active peer list, and returns the maximum height observed
        (the highest known chain height in the active neighborhood).
      operationId: getActivePeersMaxChainHeight
      responses:
        '200':
          description: Maximum chain height retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockReference'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/boot:
    post:
      tags:
        - Node
      summary: Boot node
      description: |
        Boots the local node and assigns an identity to it.

        This endpoint is used when you do not want to store the boot private key in the NEM client configuration file.
        You start the NEM client with `nis.shouldAutoBoot = false` (and without `nis.bootKey`), then call this endpoint from a
        trusted host to provide the private key and node name at runtime.

        Boot state is **not persisted**: after restarting the NEM client process, the node must be booted again, either via
        configuration (auto-boot) or by calling this endpoint.

        If you call this endpoint when the node is already booted, the request fails with HTTP `503 Service Unavailable` and message `NIS_ILLEGAL_STATE_ALREADY_BOOTED`.

        ⚠️ **Local-only:** for security reasons, this endpoint is only accessible from trusted IP addresses.
        By default, it is available only from the machine where the REST server is running (localhost).
        You can allow additional trusted IP addresses by configuring the `nis.additionalLocalIps` property in the NEM client configuration file.
      operationId: bootNode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BootNodeRequest'
            examples:
              default:
                summary: Boot local NEM client node
                value:
                  metaData:
                    application: NIS
                  endpoint:
                    protocol: http
                    host: localhost
                    port: 7890
                  identity:
                    private-key: a6cbd01d04edecfaef51df9486c111abb6299c764a00206eb1d01f4587491b3f
                    name: Alice
      responses:
        '200':
          description: Indicates that the node was successfully booted. No content is returned.
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/experiences:
    get:
      tags:
        - Node
      summary: Return node experiences
      description: |
        Returns an array of node experiences collected by the local node (success/failure counts per peer).
        This data is used internally by the P2P layer for trust scoring and node selection. For API clients,
        the endpoint is mainly useful as a diagnostics and monitoring tool e.g. to see how the node is
        doing with its peers or to troubleshoot connectivity.
      operationId: getNodeExperiences
      responses:
        '200':
          description: Successfully retrieved node experiences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedNodeExperiencePairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /shutdown:
    get:
      tags:
        - Node
      summary: Shut down NEM client
      description: |
        Stops the currently running NEM client instance.
        After shutdown, the node must be restarted manually. No further responses will be returned by this server until it is restarted.

        ⚠️ **Local-only:** for security reasons, this endpoint is only accessible from trusted IP addresses.
        By default, it is available only from the machine where the REST server is running (localhost).
        You can allow additional trusted IP addresses by configuring the `nis.additionalLocalIps` property in the NEM client configuration file.
      operationId: nodeShutdown
      responses:
        '200':
          description: Indicates that server shutdown was initiated successfully. No response body is returned.
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /heartbeat:
    get:
      tags:
        - Node
      summary: Return node heartbeat
      description: |
        Determines whether the node is up and responsive.
        If this request does not return a response, the node is either not running or is unable to serve requests.
      operationId: nodeHeartbeat
      responses:
        '200':
          description: Indicates that the node is responsive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeHeartbeatResult'
              examples:
                ok:
                  value:
                    type: 2
                    code: 1
                    message: ok
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /status:
    get:
      tags:
        - Node
      summary: Return node status
      operationId: getNodeStatus
      responses:
        '200':
          description: Returns the node status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeStatusResult'
              examples:
                ok:
                  value:
                    type: 4
                    code: 3
                    message: status
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
  /time-sync/network-time:
    get:
      tags:
        - Time synchronization
      summary: Return current network time (communication timestamps)
      description: |
        Returns the local node's current network time as a pair of communication timestamps: `sendTimeStamp` and `receiveTimeStamp`.

        Both fields are network timestamps in **milliseconds since the NEM network epoch** (see `NetworkTimeStampMilliseconds`).
        Both `sendTimeStamp` and `receiveTimeStamp` are set to the same value (the moment when the node handled the request).
        They are structured this way to match the format used by the P2P time synchronization protocol.
      operationId: getNetworkTime
      responses:
        '200':
          description: Network communication timestamps successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunicationTimestamps'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/unconfirmedTransactions:
    get:
      tags:
        - Transaction
      summary: Return unconfirmed transactions for an account
      description: |
        Returns a list of unconfirmed transactions where the given account is either the sender or the recipient.
        Only the most recent 25 unconfirmed transactions are returned.
        Transactions remain in this list until they are either accepted (included in a block) or expire.
      operationId: getUnconfirmedTransactions
      parameters:
        - $ref: '#/components/parameters/address'
      responses:
        '200':
          description: Returns a list of unconfirmed transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnconfirmedTransactionMetaDataPairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/transfers/all:
    get:
      tags:
        - Transaction
      summary: Return all transactions to or from an account
      description: |
        Gets an array of transaction metadata pairs for which the specified account is either the sender or the recipient.

        Transactions are sorted in descending order by insertion time.

        By default, up to **25** transactions are returned.
        The number of returned items can be increased up to **100** by using the `pageSize` query parameter.

        Optional pagination parameters (`hash`, `id`) allow fetching transactions that appeared directly 
        before the referenced transaction.   
        Use `id` (from `meta.id` in a previous response) for reliable pagination on any node; use `hash` (from `meta.hash`) only 
        when the node has the **transaction hash lookup (hash retention)** feature and the hash is still within 
        the retention window (`nis.transactionHashRetentionTime`), otherwise the request may fail. See the `hash` and `id` parameter descriptions for details.
      operationId: getAllAccountTransactions
      parameters:
        - $ref: '#/components/parameters/address'
        - $ref: '#/components/parameters/hashFilter'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Successfully returned transaction data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMetaDataPairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/transfers/incoming:
    get:
      tags:
        - Transaction
      summary: Return incoming transactions for an account
      description: |
        Gets an array of transaction metadata pairs for which the specified account is the recipient of the transaction.

        Transactions are sorted in descending order by insertion time.

        By default, up to **25** transactions are returned.
        The number of returned items can be increased up to **100** by using the `pageSize` query parameter.

        Optional pagination parameters (`hash`, `id`) allow fetching transactions that appeared directly 
        before the referenced transaction.
        Use `id` (from `meta.id` in a previous response) for reliable pagination on any node; use `hash` (from `meta.hash`) only 
        when the node has the **transaction hash lookup (hash retention)** feature and the hash is still within 
        the retention window (`nis.transactionHashRetentionTime`), otherwise the request may fail. See the `hash` and `id` parameter descriptions for details.
      operationId: getIncomingAccountTransactions
      parameters:
        - $ref: '#/components/parameters/address'
        - $ref: '#/components/parameters/hashFilter'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Successfully returned incoming transaction data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMetaDataPairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/transfers/outgoing:
    get:
      tags:
        - Transaction
      summary: Return outgoing transactions for an account
      description: |
        Gets an array of transaction metadata pairs for which the specified account is the sender of the transaction.

        Transactions are sorted in descending order by insertion time.

        By default, up to **25** transactions are returned.
        The number of returned items can be increased up to **100** by using the `pageSize` query parameter.

        Optional pagination parameters (`hash`, `id`) allow fetching transactions that appeared directly 
        before the referenced transaction. 
        Use `id` (from `meta.id` in a previous response) for reliable pagination on any node; use `hash` (from `meta.hash`) only 
        when the node has the **transaction hash lookup (hash retention)** feature and the hash is still within 
        the retention window (`nis.transactionHashRetentionTime`), otherwise the request may fail. See the `hash` and `id` parameter descriptions for details.
      operationId: getOutgoingAccountTransactions
      parameters:
        - $ref: '#/components/parameters/address'
        - $ref: '#/components/parameters/hashFilter'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Successfully returned outgoing transaction data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMetaDataPairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /transaction/get:
    get:
      tags:
        - Transaction
      summary: Return transaction with specified hash
      description: |
        Returns the transaction associated with the specified transaction hash, including its metadata.

        **Retention window**

        Transactions can be looked up by hash only while the hash is in the node's in-memory cache.
        Once the retention period expires, the hash is removed and this endpoint can no longer return that transaction, even if it is already in a block.

        The cache duration is set by `nis.transactionHashRetentionTime` (in hours). Default is 36 hours.
        Minimum is 36 hours unless the value is -1 (infinite retention). There is no fixed maximum; it depends on node configuration.
        The window therefore varies by node.

        **Checking if a node supports this endpoint**

        This endpoint is only available when the node has the transaction-hash-lookup feature (`TRANSACTION_HASH_LOOKUP`) enabled.
        When it is disabled, lookup by hash is not available at all - you cannot search for a transaction by its hash on that node.
        To check: call `GET /node/info` and inspect `metaData.features`. If `(metaData.features & 0x1) !== 0`, the node supports lookup by hash.
        There is no single API that returns a list of nodes supporting this feature; you must query each node's info and test the `features` bitmask.

        Errors:
        - Unsupported feature: HTTP 500 with message like `this node does not support transaction lookup using a hash`. The node does not support this endpoint.
        - Hash not found: HTTP 400 with message `Hash was not found in cache`. The hash is not in the cache—either it never existed on this node or it has expired from the retention window. The response does not distinguish between these two cases.
      operationId: getTransactionByHash
      parameters:
        - $ref: '#/components/parameters/hash'
      responses:
        '200':
          description: Successfully returned transaction data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMetaDataPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /local/account/transfers/all:
    post:
      tags:
        - Transaction
      summary: Return all transactions with decoded messages
      description: |
        Returns incoming and outgoing transactions for an account, including decoded transaction messages.

        This endpoint behaves like `/account/transfers/all`, but if a transaction contains an encrypted message, 
        the message is decrypted before being returned.

        Transactions are sorted in descending order by insertion time.

        ⚠️ **Local-only:** for security reasons, this endpoint is only accessible from trusted IP addresses.
        By default, it is available only from the machine where the REST server is running (localhost).
        You can allow additional trusted IP addresses by configuring the `nis.additionalLocalIps` property in the NEM client configuration file.
      operationId: getLocalAllAccountTransactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPrivateKeyTransactionsPage'
      responses:
        '200':
          description: Successfully returned transaction data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMetaDataPairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /local/account/transfers/incoming:
    post:
      tags:
        - Transaction
      summary: Return incoming transactions for an account with decoded messages
      description: |
        Gets an array of transaction metadata pairs for which the specified account is the recipient of the transaction.
        If a transaction contains an encrypted message, the message is decrypted before being returned.

        Transactions are sorted in descending order by insertion time.

        ⚠️ **Local-only:** for security reasons, this endpoint is only accessible from trusted IP addresses.
        By default, it is available only from the machine where the REST server is running (localhost).
        You can allow additional trusted IP addresses by configuring the `nis.additionalLocalIps` property in the NEM client configuration file.
      operationId: getLocalIncomingAccountTransactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPrivateKeyTransactionsPage'
      responses:
        '200':
          description: Successfully returned transaction data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMetaDataPairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /local/account/transfers/outgoing:
    post:
      tags:
        - Transaction
      summary: Return outgoing transactions for an account with decoded messages
      description: |
        Gets an array of transaction metadata pairs for which the specified account is the sender of the transaction.
        If a transaction contains an encrypted message, the message is decrypted before being returned.

        Transactions are sorted in descending order by insertion time.

        ⚠️ **Local-only:** for security reasons, this endpoint is only accessible from trusted IP addresses.
        By default, it is available only from the machine where the REST server is running (localhost).
        You can allow additional trusted IP addresses by configuring the `nis.additionalLocalIps` property in the NEM client configuration file.
      operationId: getLocalOutgoingAccountTransactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPrivateKeyTransactionsPage'
      responses:
        '200':
          description: Successfully returned transaction data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMetaDataPairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /transaction/announce:
    post:
      tags:
        - Transaction
      summary: Announce a signed transaction
      description: |
        Broadcasts a signed transaction to the network.
        The private key is not needed. The request must contain the serialized transaction data and its corresponding signature.
        Transactions can be signed client-side using Symbol SDK (e.g. [JavaScript](https://www.npmjs.com/package/symbol-sdk), 
        [Python](https://pypi.org/project/symbol-sdk-python/)) and then announced via this endpoint.
      operationId: announceTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnounceRequest'
      responses:
        '200':
          description: |
            Transaction accepted and announced.
            The response body is always an `AnnounceResult`; check `code` and `message` to see whether validation passed
            (code 1, message SUCCESS, or code 0, message NEUTRAL) or failed (e.g., FAILURE_INSUFFICIENT_BALANCE). 
            A non-success result means the transaction was not added to the unconfirmed cache and will not be further processed.

            The most common errors are:
              - `FAILURE_INSUFFICIENT_BALANCE`: The sender account has not enough funds.
              - `FAILURE_TIMESTAMP_TOO_FAR_IN_FUTURE`: The timestamp is invalid because it lies too far in the future.
              - `FAILURE_PAST_DEADLINE`: The deadline is invalid because it has already been passed.
              - `FAILURE_MESSAGE_TOO_LARGE`: The attached message is too large.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnounceResult'
              examples:
                success:
                  summary: Transaction accepted and announced
                  value:
                    type: 1
                    code: 1
                    message: SUCCESS
                    transactionHash:
                      data: c1786437336da077cd572a27710c40c378610e8d33880bcb7bdb0a42e3d35586
                    innerTransactionHash:
                      data: cc317a7674d56352b4c711096a7594bd11908bf518293a191fc2faa12eac0fbb
                validationFailureInsufficientBalance:
                  summary: Validation failed - insufficient balance
                  value:
                    type: 1
                    code: 5
                    message: FAILURE_INSUFFICIENT_BALANCE
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /transaction/prepare-announce:
    post:
      tags:
        - Transaction
      summary: Prepare and announce a transaction
      description: |
        Creates, signs, and broadcasts a transaction to the NEM network.

        ⚠️ **Local-only:** for security reasons, this endpoint is only accessible from trusted IP addresses.
        By default, it is available only from the machine where the REST server is running (localhost).
        You can allow additional trusted IP addresses by configuring the `nis.additionalLocalIps` property in the NEM client configuration file.

        This endpoint requires the sender’s private key, which the NEM client uses to sign the transaction before announcing it to the network.
      operationId: prepareAnnounceTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareAnnounceRequest'
      responses:
        '200':
          description: Transaction successfully announced.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnounceResult'
              examples:
                success:
                  summary: Transaction signed and announced
                  value:
                    type: 1
                    code: 1
                    message: SUCCESS
                    transactionHash:
                      data: c1786437336da077cd572a27710c40c378610e8d33880bcb7bdb0a42e3d35586
                    innerTransactionHash:
                      data: cc317a7674d56352b4c711096a7594bd11908bf518293a191fc2faa12eac0fbb
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
components:
  schemas:
    PrivateKey:
      type: string
      description: 256-bit private key encoded as a hexadecimal string (64 hex characters).
      minLength: 64
      maxLength: 64
      pattern: ^[0-9a-fA-F]{64}$
      examples:
        - a04cd0fce20b0806bef448d273d47d4a15945f46716d198b506cbf1c44650f42
    PublicKey:
      type: string
      description: 256-bit public key encoded as a hexadecimal string (64 hex characters).
      minLength: 64
      maxLength: 64
      pattern: ^[0-9a-fA-F]{64}$
      examples:
        - 18e4f79f886927de698df1f857de2aada41ccca6617e56bb0d61623b35b08cc0
    Address:
      type: string
      description: |
        Represents a unique account address. The first character indicates the network (T for testnet, N for mainnet).
        Addresses are always 40 characters long and Base32-encoded.
      minLength: 40
      maxLength: 40
      pattern: ^[A-Z2-7]{40}$
      examples:
        - TALICELCD3XPH4FFI5STGGNSNSWPOTG5E4DS2TOS
    GeneratedAccount:
      type: object
      description: |
        An object containing information about a newly generated account.
        It includes the private key, the public key, and the derived address.
      required:
        - privateKey
        - publicKey
        - address
      properties:
        privateKey:
          $ref: '#/components/schemas/PrivateKey'
        publicKey:
          $ref: '#/components/schemas/PublicKey'
        address:
          $ref: '#/components/schemas/Address'
    NetworkTimeStamp:
      type: integer
      format: int64
      description: |
        Network timestamp in **seconds** since the NEM network epoch (29 March 2015, 00:06:25 UTC), i.e. since the creation of the nemesis (genesis) block.
        The epoch is hardcoded and **the same for all networks** (mainnet, testnet). Used in transactions, blocks, and deadlines.
        To convert to a real date: add this value (in seconds) to the Unix timestamp of the NEM epoch (1427587585 s for 29 March 2015 00:06:25 UTC), then use standard date functions.
      examples:
        - 9108808
    ModelError:
      type: object
      description: Error response returned when a request is invalid or an internal error occurs.
      required:
        - timeStamp
        - error
        - message
        - status
      properties:
        timeStamp:
          $ref: '#/components/schemas/NetworkTimeStamp'
        error:
          type: string
          description: Short error type identifier.
        message:
          type: string
          description: Detailed error message describing the failure.
        status:
          type: integer
          format: int32
          description: The HTTP status code of the response.
          examples:
            - 400
            - 404
            - 500
            - 503
            - 401
    Amount:
      type: integer
      format: int64
      description: Token amount in smallest unit (no decimals).
      minimum: 0
      examples:
        - 408676852850
    Importance:
      type: number
      format: double
      description: Account importance for harvesting, between 0 and 1 (inclusive).
      minimum: 0
      maximum: 1
      examples:
        - 0.00008857563463531297
    AccountMultisigInfo:
      type: object
      description: |
        Additional multisig account information. The value is always an object, never null.
        If the account is not a multisig account, the object is empty `{}`.
        If the account is a multisig account, the object contains `cosignatoriesCount` and `minCosignatories`.
      properties:
        cosignatoriesCount:
          type: integer
          format: int32
          description: Number of cosignatories for the multisig account.
          examples:
            - 3
        minCosignatories:
          type: integer
          format: int32
          description: Minimum number of cosignatories required to approve a transaction.
          examples:
            - 2
    AccountInfo:
      type: object
      description: Basic account information.
      required:
        - address
        - balance
        - vestedBalance
        - importance
        - harvestedBlocks
      properties:
        address:
          $ref: '#/components/schemas/Address'
        balance:
          $ref: '#/components/schemas/Amount'
          description: |
            The account's balance as a non-negative integer in micro XEM. For example, 123456789 means 123.456789 XEM.
            This is the spendable amount. When sending a transaction, the node checks that the amount does not exceed this balance.
        vestedBalance:
          $ref: '#/components/schemas/Amount'
          description: |
            Vested balance of the account in micro XEM. It indicates how much of the balance is already vested.
            Each day, 10% of the unvested balance is added to the vested balance. Used for importance calculation only; it is not used when sending a transaction.
            Only accounts with at least 10,000 XEM vested balance are eligible for importance score calculation and can activate harvesting.
        importance:
          $ref: '#/components/schemas/Importance'
        publicKey:
          oneOf:
            - $ref: '#/components/schemas/PublicKey'
            - type: 'null'
          description: Public key of the account, or null if the account has not yet published a transaction.
        label:
          oneOf:
            - type: string
            - type: 'null'
          description: Reserved; currently unused and always null.
          examples:
            - null
        harvestedBlocks:
          type: integer
          format: int64
          description: |
            Number of blocks harvested by this account (0 for new accounts). Harvesting is the process of creating new blocks.
          examples:
            - 645
        multisigInfo:
          $ref: '#/components/schemas/AccountMultisigInfo'
    AccountStatus:
      type: string
      description: |
        The harvesting status of a queried account.

        The harvesting status can be one of the following values:
        - **UNKNOWN**: The harvesting status of the account is not known.
        - **LOCKED**: The account is not harvesting.
        - **UNLOCKED**: The account is harvesting.
      enum:
        - UNKNOWN
        - LOCKED
        - UNLOCKED
    AccountRemoteStatus:
      type: string
      description: |
        The status of delegated harvesting of a queried account.

        The delegated (remote) harvesting status can be one of the following values:
        - **REMOTE**: The account is a delegated account and therefore delegated harvesting status is not applicable for it.
        - **ACTIVATING**: The account has activated delegated harvesting, but it is not yet active.
        - **ACTIVE**: The account has activated delegated harvesting and delegated harvesting is active.
        - **DEACTIVATING**: The account has deactivated delegated harvesting, but delegated harvesting is still active.
        - **INACTIVE**: The account has inactive delegated harvesting, or it has deactivated delegated harvesting and 
          deactivation is operational.
      enum:
        - REMOTE
        - ACTIVATING
        - ACTIVE
        - DEACTIVATING
        - INACTIVE
    AccountMetaData:
      type: object
      description: Additional metadata describing the account state.
[...]
