openapi: 3.1.0
info:
  version: 1.0.0
  title: NEM Client API Endpoints
  description: OpenAPI specification for the NEM client API.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: http://libertalia.nemtest.net:7890
    description: Testnet node
  - url: http://portobelo.nemmain.net:7890
    description: Mainnet node
security:
  - {}
tags:
  - name: Account
    description: Account data, metadata, and batch operations.
  - name: Block
    description: Block data retrieval.
  - name: Chain
    description: Blockchain score, height, and last block.
  - name: Debug
    description: Debug timers, connections, and time synchronization.
  - name: Harvesting
    description: |
      Harvesting is the process by which blocks are created and fees are earned
      on the network.

      This section uses the following terminology:

      - **Harvester**: An account participating in block harvesting.
      - **Delegated harvester**: An account that harvests using a remote key
        delegated to a node.
      - **Unlocked account**: An account whose private key is unlocked on a node
        and is therefore eligible to harvest.
      - **Unlocked slot**: A node-level capacity unit allowing one account to
        harvest. Nodes can be configured to allow only a limited number of
        unlocked accounts simultaneously.
  - name: Mosaic
    description: Mosaic supply, definitions, and ownership.
  - name: Namespace
    description: Namespace and root namespace operations.
  - name: Node
    description: Node info, peer lists, boot, and shutdown.
  - name: Time synchronization
    description: Network time and communication timestamps.
  - name: Transaction
    description: Transaction retrieval, announcement, and preparation.
externalDocs:
  description: NEM technical documentation
  url: https://nemproject.github.io/
paths:
  /account/generate:
    get:
      tags:
        - Account
      summary: Generate new account data
      description: |
        Generates a new random account key pair and returns the private key, public key, and address.

        ⚠️ **Security warning:** This endpoint is intended for trusted and local use only.
        It returns sensitive cryptographic material and MUST NOT be exposed publicly.
      operationId: generateAccount
      responses:
        '200':
          description: Account successfully generated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedAccount'
              examples:
                default:
                  summary: New key pair and address
                  value:
                    privateKey: 0962c6505d02123c40e858ff8ef21e2b7b5466be12c4770e3bf557aae828390f
                    address: NCKMNCU3STBWBR7E3XD2LR7WSIXF5IVJIDBHBZQT
                    publicKey: c2e19751291d01140e62ece9ee3923120766c6302e1099b04014fe1009bc89d3
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/get:
    get:
      tags:
        - Account
      summary: Request account data
      description: |
        Retrieves account data for a given address.
        The response contains both account information and additional metadata such as harvesting and multisig state.
      operationId: getAccount
      parameters:
        - $ref: '#/components/parameters/address'
      responses:
        '200':
          description: Account information successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMetaDataPair'
              examples:
                testnet:
                  summary: Testnet account with metadata
                  value:
                    account:
                      address: TALICELCD3XPH4FFI5STGGNSNSWPOTG5E4DS2TOS
                      balance: 124446551689680
                      vestedBalance: 104443451691625
                      importance: 0.010263666447108395
                      publicKey: a11a1a6c17a24252e674d151713cdf51991ad101751e4af02a20c61b59f1fe1a
                      label: null
                      harvestedBlocks: 645
                      multisigInfo: {}
                    meta:
                      cosignatoryOf: []
                      cosignatories: []
                      status: LOCKED
                      remoteStatus: ACTIVE
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/get/forwarded:
    get:
      tags:
        - Account
      summary: Request original account data for delegated account
      description: |
        Given the address of a delegated account, returns the account data of the
        original account for which the given address is acting as a delegate.

        If the provided address belongs to a delegated account, the response
        contains the original account’s information.

        If the provided address does not belong to a delegated account, the response
        contains the account information for the given address itself.
      operationId: getAccountByForwardedAddress
      parameters:
        - $ref: '#/components/parameters/address'
      responses:
        '200':
          description: Account information successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMetaDataPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/get/from-public-key:
    get:
      tags:
        - Account
      summary: Request account data by public key
      description: |
        Retrieves account data for a given public key.
        The response contains both account information and additional metadata such as harvesting and multisig state.
      operationId: getAccountByPublicKey
      parameters:
        - $ref: '#/components/parameters/publicKey'
      responses:
        '200':
          description: Account information successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMetaDataPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/get/forwarded/from-public-key:
    get:
      tags:
        - Account
      summary: Request original account data by delegated account public key
      description: |
        Given the public key of a delegated account, returns the account data of the
        original account for which the given public key is acting as a delegate.

        If the provided public key belongs to a delegated account, the response
        contains the original account’s information.

        If the provided public key does not belong to a delegated account, the response
        contains the account information for the given public key itself.
      operationId: getAccountByForwardedPublicKey
      parameters:
        - $ref: '#/components/parameters/publicKey'
      responses:
        '200':
          description: Account information successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMetaDataPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/status:
    get:
      tags:
        - Account
      summary: Request account status
      description: |
        Retrieves the account metadata for a given account address.
        The response contains account status information such as harvesting status, delegated harvesting status,
        and multisig relationships.
      operationId: getAccountStatus
      parameters:
        - $ref: '#/components/parameters/address'
      responses:
        '200':
          description: Account metadata successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMetaData'
              examples:
                default:
                  summary: Account harvesting and multisig metadata
                  value:
                    cosignatories: []
                    cosignatoryOf: []
                    status: LOCKED
                    remoteStatus: ACTIVE
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/get/batch:
    post:
      tags:
        - Account
      summary: Request account data for multiple accounts
      description: |
        Retrieves a list of account data objects for multiple accounts.

        The request body contains a list of account identifiers.
      operationId: getAccountsBatch
      requestBody:
        $ref: '#/components/requestBodies/accounts'
      responses:
        '200':
          description: Successfully fetched list of account data.
          content:
            application/json:
              schema:
                type: object
                description: List of account data.
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountMetaDataPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/historical/get:
    get:
      tags:
        - Account
      summary: Retrieve historical account data
      description: |
        Retrieves historical balance and importance information for an account.

        ⚠️ This endpoint is available **only if the node supports** the optional feature `HISTORICAL_ACCOUNT_DATA`.

        The request returns historical data points between the given block heights.
        The number of returned data points must not exceed **1000**.
      operationId: getAccountHistoricalData
      parameters:
        - $ref: '#/components/parameters/address'
        - $ref: '#/components/parameters/startHeight'
        - $ref: '#/components/parameters/endHeight'
        - $ref: '#/components/parameters/increment'
      responses:
        '200':
          description: Successfully retrieved historical account data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHistoricalDataList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/historical/get/batch:
    post:
      tags:
        - Account
      summary: Retrieve historical account data for multiple accounts
      description: |
        Retrieves historical balance and importance information for a collection of accounts.

        ⚠️ This endpoint is available **only if the node supports** the optional feature `HISTORICAL_ACCOUNT_DATA`.

        The request returns historical data points for each requested account between the given block heights.

        The total number of returned data points across **all accounts** must not exceed **10,000**.
      operationId: getAccountHistoricalDataBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accounts
                - startHeight
                - endHeight
                - incrementBy
              properties:
                accounts:
                  type: array
                  minItems: 1
                  description: List of account identifiers.
                  items:
                    $ref: '#/components/schemas/AccountId'
                startHeight:
                  $ref: '#/components/schemas/BlockHeight'
                  description: The block height from which the data should be supplied.
                endHeight:
                  $ref: '#/components/schemas/BlockHeight'
                  description: The block height up to which the data should be supplied.
                incrementBy:
                  type: integer
                  format: int64
                  minimum: 1
                  description: |
                    The increment between consecutive block heights.
                    The total number of returned data points across all accounts must not exceed **10,000**.
                  examples:
                    - 1
            examples:
              default:
                value:
                  accounts:
                    - account: NALICELGU3IVY4DPJKHYLSSVYFFWYS5QPLYEZDJJ
                    - account: NDZQI4MPLUCFVWQY5P6LD5LFLH2NVDYOQ347DATW
                  startHeight: 17590
                  endHeight: 17592
                  incrementBy: 1
      responses:
        '200':
          description: Successfully retrieved historical account data for all requested accounts.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountHistoricalDataList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /block/at/public:
    post:
      tags:
        - Block
      summary: Return block by height
      description: |
        Returns the block at the given block height.
        The request body must contain a BlockHeight object.

        Returns an error if the block with the specified height cannot be found in the database.
      operationId: getBlockAtHeight
      requestBody:
        $ref: '#/components/requestBodies/blockHeight'
      responses:
        '200':
          description: Block successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /local/block/at:
    post:
      tags:
        - Block
      summary: Return extended block data by height
      description: |
        Returns detailed information about a block at the given block height.
        The response includes the block, its hash, difficulty, and a list of transactions with their hashes (txes).

        ⚠️ **Security warning:** This endpoint is intended for trusted and local use only.
      operationId: getLocalBlockAtHeight
      requestBody:
        $ref: '#/components/requestBodies/blockHeight'
      responses:
        '200':
          description: Extended block data successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedBlock'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /local/chain/blocks-after:
    post:
      tags:
        - Block
      summary: Return blocks after block height
      description: |
        Returns up to 10 blocks from the blockchain that come after the given block height.
        If the database contains fewer than 10 blocks after the specified height, all available blocks are returned.

        ⚠️ **Security warning:** This endpoint is intended for trusted and local use only.
      operationId: getLocalBlocksAfterHeight
      requestBody:
        $ref: '#/components/requestBodies/blockHeight'
      responses:
        '200':
          description: List of extended blocks data successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedBlockList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /chain/last-block:
    get:
      tags:
        - Block
      summary: Return last block of the blockchain
      description: Returns the current last block of the blockchain.
      operationId: getLastBlock
      responses:
        '200':
          description: The latest block on the chain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
              examples:
                mainnetLastBlock:
                  summary: Example last block (main network)
                  value:
                    timeStamp: 9232968
                    signature: 0a1351ef3e9b19c601e804a6d329c9ade662051d1da2c12c3aec9934353e421c79de7d8e59b127a8ca9b9d764e3ca67daefcf1952f71bc36f747c8a738036b05
                    prevBlockHash:
                      data: 58efa578aea719b644e8d7c731852bb26d8505257e03a897c8102e8c894a99d6
                      type: 1
                    transactions: []
                    version: 1744830465
                    signer: 2afca04d2cb8d16cf3656274bc55b95e60be823cfb7230d82f791ed42a309ee7
                    height: 42804
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /chain/score:
    get:
      tags:
        - Chain
      summary: Return blockchain score
      description: |
        Returns the current score of the blockchain.
        The higher the score, the better the chain.
        During synchronization, nodes try to obtain the best blockchain in the network.
      operationId: getChainScore
      responses:
        '200':
          description: Blockchain score successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainScore'
              examples:
                default:
                  summary: Chain score in hexadecimal
                  value:
                    score: 18722d5a7d590deb
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /chain/height:
    get:
      tags:
        - Chain
      summary: Return blockchain height
      description: |
        Returns the current height of the blockchain.
        The response contains the height of the last block in the chain.
      operationId: getChainHeight
      responses:
        '200':
          description: Blockchain height successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockReference'
              examples:
                default:
                  summary: Current chain height
                  value:
                    height: 42799
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
  /debug/timers:
    get:
      tags:
        - Debug
      summary: Return debug timers
      description: |
        Returns an array of task monitor structures for monitoring statistics of periodic tasks.
      operationId: getDebugTimers
      responses:
        '200':
          description: Debug timers returned successfully.
          content:
            application/json:
              schema:
                type: array
                description: Array of debug timer entries.
                items:
                  $ref: '#/components/schemas/TimerInformation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /debug/connections/incoming:
    get:
      tags:
        - Debug
      summary: Return incoming connections
      description: |
        Returns an audit collection of incoming connections.
        Use this information to monitor outstanding and recent incoming requests.
      operationId: getDebugIncomingConnections
      responses:
        '200':
          description: Audit collection of incoming connections returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionAuditResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /debug/connections/outgoing:
    get:
      tags:
        - Debug
      summary: Return outgoing connections
      description: |
        Returns an audit collection of outgoing connections.
        Use this information to monitor outstanding and recent outgoing requests.
      operationId: getDebugOutgoingConnections
      responses:
        '200':
          description: Audit collection of outgoing connections returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionAuditResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /debug/time-synchronization:
    get:
      tags:
        - Debug
      summary: Return time synchronization results
      description: Returns time synchronization results for monitoring changes in network time.
      operationId: getDebugTimeSynchronization
      responses:
        '200':
          description: Time synchronization results returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSynchronizationResultList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/unlock:
    post:
      tags:
        - Harvesting
      summary: Start harvesting (unlock account)
      description: |
        Starts harvesting for the specified account.
        Accounts with a vested balance of at least 10,000 XEM are eligible to harvest blocks.
        To begin harvesting, the account must be unlocked. After NIS startup, all accounts are locked by default.

        ⚠️ **Security warning:** For non-local network calls, the private key used in the request must always be the private key of the delegated account.
        For trusted and local network calls, it is possible, but not recommended, to use the private key of the main account.
      operationId: startHarvesting
      requestBody:
        $ref: '#/components/requestBodies/privateKey'
      responses:
        '200':
          description: Indicates success. No response body is returned.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/lock:
    post:
      tags:
        - Harvesting
      summary: Stop harvesting (lock account)
      description: |
        Stops harvesting for the specified account.

        ⚠️ **Security warning:** For non-local network calls, the private key used in the request must always be the private key of the delegated account.
        For trusted and local network calls, it is possible, but not recommended, to use the private key of the main account.
      operationId: stopHarvesting
      requestBody:
        $ref: '#/components/requestBodies/privateKey'
      responses:
        '200':
          description: Indicates success. No response body is returned.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/unlocked/info:
    post:
      tags:
        - Harvesting
      summary: Retrieve unlock info (unlocked accounts)
      description: |
        Retrieves information about the number of currently unlocked accounts (harvesters)
        and the maximum number of accounts that are allowed to harvest on this node.

        Each node can be configured to allow a limited number of delegated harvesters.
        The returned information reflects the current usage and configured limit.
      operationId: retrieveUnlockedInfo
      responses:
        '200':
          description: Successfully returned unlocked accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HarvestingStats'
              examples:
                default:
                  summary: Unlock capacity and current count
                  value:
                    num-unlocked: 2
                    max-unlocked: 3
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/harvests:
    get:
      tags:
        - Harvesting
      summary: Retrieve harvest information for account
      description: |
        Gets an array of harvested block information objects for the specified account.

        The result contains information about blocks harvested by the account,
        starting from a given block identifier and supports pagination.
      operationId: getHarvestedBlocks
      parameters:
        - $ref: '#/components/parameters/addressFilter'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Successfully returned harvested info for the account.
          content:
            application/json:
              schema:
                type: object
                description: Array of harvest info.
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/HarvestInfo'
              examples:
                default:
                  summary: Harvested blocks for account
                  value:
                    data:
                      - timeStamp: 8879051
                        difficulty: 26453656336676
                        totalFee: 102585065
                        id: 1262068
                        height: 37015
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/importances:
    get:
      tags:
        - Harvesting
      summary: Retrieve importance data for accounts
      description: |
        Gets an array of account importance objects.

        Each entry contains the account address and its importance information.
        Importance data may be unset for accounts that are not eligible for harvesting.
      operationId: getImportanceData
      responses:
        '200':
          description: Successfully returned importance data for accounts.
          content:
            application/json:
              schema:
                type: object
                description: Array of accounts importance data.
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountImportanceData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /local/account/isunlocked:
    post:
      tags:
        - Harvesting
      summary: Check if account is unlocked
      description: |
        Checks whether the account corresponding to the given private key is currently unlocked for harvesting.

        ⚠️ **Security warning:** This endpoint requires sending a private key over the network and is intended for trusted and local use only.
      operationId: fetchAccountHarvestingStatus
      requestBody:
        $ref: '#/components/requestBodies/privateKey'
      responses:
        '200':
          description: Returns the account harvesting status (unlocked or locked).
          content:
            text/plain:
              schema:
                type: string
                enum:
                  - ok
                  - nope
              examples:
                unlocked:
                  value: ok
                locked:
                  value: nope
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /mosaic/supply:
    get:
      tags:
        - Mosaic
      summary: Return mosaic supply
      description: |
        Returns the current supply for a given mosaic identifier.
        The mosaic id is provided as a request parameter and parsed by the server into a MosaicId object.
      operationId: getMosaicSupply
      parameters:
        - $ref: '#/components/parameters/mosaicId'
      responses:
        '200':
          description: Mosaic supply successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MosaicIdSupplyPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/mosaic/owned/definition:
    get:
      tags:
        - Mosaic
      summary: Return mosaic definitions owned by an account
      description: |
        Returns a list of mosaic definitions created (owned) by the specified account.
        The account is identified by its address, which is provided as a query parameter.
      operationId: getMosaicOwnedDefinition
      parameters:
        - $ref: '#/components/parameters/address'
      responses:
        '200':
          description: Mosaic definitions successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                description: List of account metadata.
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MosaicDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/mosaic/owned/definition/batch:
    post:
      tags:
        - Mosaic
      summary: Return mosaic definitions owned by multiple accounts
      description: |
        Returns a list of mosaic definitions created (owned) by the specified accounts.
        The request body contains a list of account identifiers. Mosaic definitions
        are aggregated across all accounts and deduplicated in the response.
      operationId: getMosaicOwnedDefinitionBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: List of account identifiers.
              required:
                - data
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/AccountId'
            examples:
              testnet:
                value:
                  data:
                    - account: TALICELCD3XPH4FFI5STGGNSNSWPOTG5E4DS2TOS
              mainnet:
                value:
                  data:
                    - account: NCHESTYVD2P6P646AMY7WSNG73PCPZDUQNSD6JAK
      responses:
        '200':
          description: Mosaic definitions successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MosaicDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/mosaic/owned:
    get:
      tags:
        - Mosaic
      summary: Return mosaics owned by an account
      description: |
        Returns a list of mosaics (mosaic ID and quantity) owned by the specified account address.
      operationId: getMosaicOwned
      parameters:
        - $ref: '#/components/parameters/address'
      responses:
        '200':
          description: Mosaics successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                description: List of account metadata.
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Mosaic'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /mosaic/definition:
    get:
      tags:
        - Mosaic
      summary: Return mosaic definition
      description: |
        Returns the mosaic definition for the given mosaic identifier.
        The parent namespace of the mosaic must be active; otherwise an error is returned.
      operationId: getMosaicDefinition
      parameters:
        - $ref: '#/components/parameters/mosaicId'
      responses:
        '200':
          description: Mosaic definition successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MosaicDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /mosaic/definition/last:
    get:
      tags:
        - Mosaic
      summary: Return last mosaic definition
      description: |
        Returns the last known mosaic definition for the given mosaic identifier.
        The returned definition may be expired. For the native XEM mosaic, a predefined static definition is returned.
      operationId: getLastMosaicDefinition
      parameters:
        - $ref: '#/components/parameters/mosaicId'
      responses:
        '200':
          description: Last mosaic definition successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MosaicDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /mosaic/definition/page:
    get:
      tags:
        - Mosaic
      summary: Return mosaic definitions (paged)
      description: |
        Returns all known mosaic definitions using pagination.
        Each entry contains a mosaic definition together with associated metadata.
      operationId: getMosaicDefinitionPage
      parameters:
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Mosaic definitions successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MosaicDefinitionMetaDataPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /namespace/mosaic/definition/page:
    get:
      tags:
        - Mosaic
      summary: Return mosaic definitions for namespace (paged)
      description: |
        Returns mosaic definitions belonging to a specific namespace.
        The request supports cursor-based paging. Each returned item contains a mosaic definition and associated metadata.
      operationId: getNamespaceMosaicDefinitionPage
      parameters:
        - $ref: '#/components/parameters/namespace'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Mosaic definitions successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MosaicDefinitionMetaDataPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/mosaic/definition/page:
    get:
      tags:
        - Mosaic
      summary: Return mosaic definitions created by account (paged)
      description: |
        Returns mosaic definitions created by a specific account.
        Results can be optionally filtered by a parent namespace and retrieved in pages using a cursor-based pagination mechanism.
      operationId: getAccountMosaicDefinitionPage
      parameters:
        - $ref: '#/components/parameters/address'
        - $ref: '#/components/parameters/parentNamespace'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Mosaic definitions successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MosaicDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /local/mosaic/definition/supply:
    get:
      tags:
        - Mosaic
      summary: Return mosaic definition and supply at a given block height
      description: |
        Returns the mosaic definition along with its current supply and
        the expiration height of the owning namespace at the specified block height.
        If the mosaic does not exist at that height, an empty list is returned.

         ⚠️️ **Security warning:** This endpoint is intended for trusted and local use only.
      operationId: getMosaicDefinitionWithSupply
      parameters:
        - $ref: '#/components/parameters/mosaicId'
        - $ref: '#/components/parameters/height'
      responses:
        '200':
          description: Mosaic definition and supply (empty list if not found).
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MosaicDefinitionSupplyTuple'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /namespace/root/page:
    get:
      tags:
        - Namespace
      summary: Retrieve root namespaces
      description: |
        Gets root namespaces in a paged manner.
        Each returned item contains namespace information together with a database id used for keyset pagination.
      operationId: getRootNamespaces
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: List of root namespaces retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceMetaDataPairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /namespace:
    get:
      tags:
        - Namespace
      summary: Return namespace information
      description: |
        Retrieves information about a namespace with the given fully qualified namespace id (FQN).
        The namespace must exist and be active, otherwise an error is returned.
      operationId: getNamespace
      parameters:
        - $ref: '#/components/parameters/namespace'
      responses:
        '200':
          description: Namespace information retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Namespace'
              examples:
                default:
                  summary: Namespace with FQN and owner
                  value:
                    fqn: makoto.metal.coins
                    owner: TD3RXTHBLK6J3UD2BH2PXSOFLPWZOTR34WCG4HXH
                    height: 13465
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/namespace/page:
    get:
      tags:
        - Namespace
      summary: Return namespaces owned by account
      description: |
        Retrieves namespaces owned by a given account address.
        If the optional parent parameter is supplied, only sub-namespaces of the given parent namespace are returned.
      operationId: getNamespaces
      parameters:
        - $ref: '#/components/parameters/address'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/parentNamespace'
      responses:
        '200':
          description: Namespaces owned by the account retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Namespace'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/info:
    get:
      tags:
        - Node
      summary: Return basic node information
      description: |
        Retrieves basic information about a NEM node, including its identity, endpoint configuration, and metadata.
        Using IP `127.0.0.1` retrieves information about the local node.
      operationId: getNodeInfo
      responses:
        '200':
          description: Node information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'
              examples:
                default:
                  summary: Node with identity, endpoint and metadata
                  value:
                    metaData:
                      features: 1
                      application: NIS
                      networkId: -104
                      version: 0.4.33-BETA
                      platform: Oracle Corporation (1.8.0_25) on Windows 8
                    endpoint:
                      protocol: http
                      port: 7890
                      host: 81.224.224.156
                    identity:
                      name: Alice
                      public-key: a1aaca6c17a24252e674d155713cdf55996ad00175be4af02a20c67b59f9fe8a
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/extended-info:
    get:
      tags:
        - Node
      summary: Return extended node information
      description: |
        Retrieves extended information about a NEM node.

        The response contains:
          - basic node information (`node`)
          - application-level metadata (`nisInfo`)
      operationId: getNodeExtendedInfo
      responses:
        '200':
          description: Extended node information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedNode'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/peer-list/all:
    get:
      tags:
        - Node
      summary: Return all known nodes in neighborhood
      description: |
        Gets a collection of all nodes currently known by the running node, grouped by their connection status.

        The response contains arrays of nodes categorized by status:
          - **active** – node is reachable and responsive
          - **busy** – node is reachable but does not respond within timeout
          - **inactive** – node is unreachable
          - **failure** – node failed authentication or encountered a fatal error
      operationId: getAllNodePeerList
      responses:
        '200':
          description: Successfully retrieved node neighborhood.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeCollection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/peer-list/reachable:
    get:
      tags:
        - Node
      summary: Return reachable (active) nodes in neighborhood
      description: |
        Gets a list of all nodes currently known by the running node that have status **ACTIVE**.
        Only nodes that are reachable and respond in a timely manner are returned.
      operationId: getReachableNodePeerList
      responses:
        '200':
          description: Successfully retrieved reachable nodes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/peer-list/active:
    get:
      tags:
        - Node
      summary: Return active broadcast nodes in neighborhood
      description: |
        Gets a list of **active nodes selected for broadcasts** in the neighborhood.

        These nodes are a subset of reachable nodes and are used by the running node to 
        broadcast data (e.g. transactions and blocks) across the network.
      operationId: getActiveNodePeerList
      responses:
        '200':
          description: Successfully retrieved active broadcast nodes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/active-peers/max-chain-height:
    get:
      tags:
        - Node
      summary: Return maximum chain height from active peers
      description: |
        Requests the blockchain height from every node in the active peer list and returns the maximum height observed.
        This endpoint is typically used to determine the highest known chain height in the active neighborhood.
      operationId: getActivePeersMaxChainHeight
      responses:
        '200':
          description: Maximum chain height retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockReference'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/boot:
    post:
      tags:
        - Node
      summary: Boot node
      description: |
        Boots the local node and assigns an identity to it.
        Returns an error if the node has already been booted.

        ⚠️ **Security warning:** This endpoint is intended for trusted and local use only.
      operationId: bootNode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BootNodeRequest'
            examples:
              default:
                summary: Boot local NIS node
                value:
                  metaData:
                    application: NIS
                  endpoint:
                    protocol: http
                    host: localhost
                    port: 7890
                  identity:
                    private-key: a6cbd01d04edecfaef51df9486c111abb6299c764a00206eb1d01f4587491b3f
                    name: Alice
      responses:
        '200':
          description: Indicates that the node was successfully booted. No content is returned.
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/experiences:
    get:
      tags:
        - Node
      summary: Return node experiences
      description: |
        Returns an array of node experiences collected by the node.
        Each entry represents the communication experience with a remote node
        and is used to assess node trustworthiness.
      operationId: getNodeExperiences
      responses:
        '200':
          description: Successfully retrieved node experiences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedNodeExperiencePairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /shutdown:
    get:
      tags:
        - Node
      summary: Shut down NIS server
      description: |
        Stops the currently running NIS server instance.
        After shutdown, the node must be restarted manually.

        ⚠️ **Security warning:** This endpoint is intended for trusted and local use only.
      operationId: nodeShutdown
      responses:
        '200':
          description: Indicates that server shutdown was initiated successfully. No response body is returned.
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /heartbeat:
    get:
      tags:
        - Node
      summary: Return node heartbeat
      description: |
        Determines whether the NIS node is up and responsive.
        If this request does not return a response, the node is either not running or is unable to serve requests.
      operationId: nodeHeartbeat
      responses:
        '200':
          description: Indicates that the node is responsive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeHeartbeatResult'
              examples:
                ok:
                  value:
                    type: 2
                    code: 1
                    message: ok
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /status:
    get:
      tags:
        - Node
      summary: Return NIS status
      operationId: getNodeStatus
      responses:
        '200':
          description: Returns the NIS status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeStatusResult'
              examples:
                ok:
                  value:
                    type: 4
                    code: 3
                    message: status
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
  /time-sync/network-time:
    get:
      tags:
        - Time synchronization
      summary: Return network communication timestamps
      description: |
        Returns the network timestamps representing when a time synchronization request or response was sent and received.

        Both timestamps are expressed as network time in milliseconds.
      operationId: getNetworkTime
      responses:
        '200':
          description: Network communication timestamps successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunicationTimestamps'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/unconfirmedTransactions:
    get:
      tags:
        - Transaction
      summary: Return unconfirmed transactions for account
      description: |
        Returns a list of unconfirmed transactions where the given account is either the sender or the recipient.
        Only the most recent 25 unconfirmed transactions are returned.
      operationId: getUnconfirmedTransactions
      parameters:
        - $ref: '#/components/parameters/address'
      responses:
        '200':
          description: Returns a list of unconfirmed transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnconfirmedTransactionMetaDataPairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/transfers/all:
    get:
      tags:
        - Transaction
      summary: Return all transactions for account
      description: |
        Gets an array of transaction metadata pairs for which the specified account is either the sender or the recipient.

        Transactions are sorted in descending order by insertion time.

        By default, up to **25** transactions are returned.
        The number of returned items can be increased up to **100** by using the `pageSize` query parameter.

        Optional pagination parameters (`hash`, `id`) allow fetching transactions that appeared directly 
        before the referenced transaction.
      operationId: getAllAccountTransactions
      parameters:
        - $ref: '#/components/parameters/address'
        - $ref: '#/components/parameters/hashFilter'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Successfully returned transaction data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMetaDataPairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/transfers/incoming:
    get:
      tags:
        - Transaction
      summary: Return incoming transactions for account
      description: |
        Gets an array of transaction metadata pairs for which the specified account is the recipient of the transaction.

        Transactions are sorted in descending order by insertion time.

        By default, up to **25** transactions are returned.
        The number of returned items can be increased up to **100** by using the `pageSize` query parameter.

        Optional pagination parameters (`hash`, `id`) allow fetching transactions that appeared directly 
        before the referenced transaction.
      operationId: getIncomingAccountTransactions
      parameters:
        - $ref: '#/components/parameters/address'
        - $ref: '#/components/parameters/hashFilter'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Successfully returned incoming transaction data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMetaDataPairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/transfers/outgoing:
    get:
      tags:
        - Transaction
      summary: Return outgoing transactions for account
      description: |
        Gets an array of transactions for which the specified account is the sender of the transaction.

        Transactions are sorted in descending order by insertion time.

        By default, up to **25** transactions are returned.
        The number of returned items can be increased up to **100** by using the `pageSize` query parameter.

        Optional pagination parameters (`hash`, `id`) allow fetching transactions that appeared directly 
        before the referenced transaction.
      operationId: getOutgoingAccountTransactions
      parameters:
        - $ref: '#/components/parameters/address'
        - $ref: '#/components/parameters/hashFilter'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Successfully returned outgoing transaction data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMetaDataPairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /transaction/get:
    get:
      tags:
        - Transaction
      summary: Return transaction by hash
      description: |
        Returns the transaction associated with the specified transaction hash, including its metadata.

        ⚠️ **Transaction lookup retention**

        Transactions can be searched by hash only for a limited period of time.
        A node keeps recently seen transaction hashes in memory for a configurable
        duration defined by the `nis.transactionHashRetentionTime` setting.

        Once this retention period expires, the transaction hash is removed from
        the node’s in-memory cache and the transaction can no longer be retrieved
        using this endpoint, even if the transaction has already been included
        in a block.

        The actual availability window therefore depends on the node configuration
        and may vary between nodes.

        This endpoint is available only if the node supports transaction lookup by hash.  
        If the feature is not supported or the hash cannot be found, an error is returned.
      operationId: getTransactionByHash
      parameters:
        - $ref: '#/components/parameters/hash'
      responses:
        '200':
          description: Successfully returned transaction data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMetaDataPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /local/account/transfers/all:
    post:
      tags:
        - Transaction
      summary: Return all transactions with decoded messages
      description: |
        Returns incoming and outgoing transactions for an account, including decoded transaction messages.

        This endpoint behaves like `/account/transfers/all`, but if a transaction contains an encrypted message, 
        the message is decrypted before being returned.

        ⚠️ **Security warning:** This endpoint requires the **private key** of the account and must only be used when NIS is running locally.
      operationId: getLocalAllAccountTransactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPrivateKeyTransactionsPage'
      responses:
        '200':
          description: Successfully returned transaction data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMetaDataPairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /local/account/transfers/incoming:
    post:
      tags:
        - Transaction
      summary: Return incoming transactions with decoded messages
      description: |
        Returns incoming transactions for an account, including decoded transaction messages.

        This endpoint behaves like `/account/transfers/incoming`, but if a transaction contains an encrypted message, 
        the message is decrypted before being returned.

        ⚠️ **Security warning:** This endpoint requires the **private key** of the account and must only be used when NIS is running locally.
      operationId: getLocalIncomingAccountTransactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPrivateKeyTransactionsPage'
      responses:
        '200':
          description: Successfully returned transaction data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMetaDataPairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /local/account/transfers/outgoing:
    post:
      tags:
        - Transaction
      summary: Return outgoing transactions with decoded messages
      description: |
        Returns outgoing transactions for an account, including decoded transaction messages.

        This endpoint behaves like `/account/transfers/outgoing`, but if a transaction contains an encrypted message, 
        the message is decrypted before being returned.

        ⚠️ **Security warning:** This endpoint requires the **private key** of the account and must only be used when NIS is running locally.
      operationId: getLocalOutgoingAccountTransactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPrivateKeyTransactionsPage'
      responses:
        '200':
          description: Successfully returned transaction data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionMetaDataPairList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /transaction/announce:
    post:
      tags:
        - Transaction
      summary: Announce signed transaction
      description: |
        Creates and broadcasts a signed transaction to NIS.
        The private key is not involved. The request must contain the serialized transaction data and its corresponding signature.

        The most common errors are:
        - The sender account has not enough funds.
        - The timestamp is invalid because it lies too far in the future.
        - The deadline is invalid because it has already been passed.
        - The attached message is too large.
        - The transaction is already known.
        - There is another transaction conflicting with this transaction. This can happen when trying to transfer the importance to another account.
      operationId: announceTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnounceRequest'
      responses:
        '200':
          description: |
            Transaction accepted and announced.
            The response body is always an `AnnounceResult`; check `code` and `message` to see whether validation passed
            (code 1, message SUCCESS, or code 0, message NEUTRAL) or failed (e.g., FAILURE_INSUFFICIENT_BALANCE). A non-success result means the
            transaction was not added to the unconfirmed cache.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnounceResult'
              examples:
                success:
                  summary: Transaction accepted and announced
                  value:
                    type: 1
                    code: 1
                    message: SUCCESS
                    transactionHash:
                      data: c1786437336da077cd572a27710c40c378610e8d33880bcb7bdb0a42e3d35586
                    innerTransactionHash:
                      data: cc317a7674d56352b4c711096a7594bd11908bf518293a191fc2faa12eac0fbb
                validationFailureInsufficientBalance:
                  summary: Validation failed - insufficient balance
                  value:
                    type: 1
                    code: 5
                    message: FAILURE_INSUFFICIENT_BALANCE
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /transaction/prepare-announce:
    post:
      tags:
        - Transaction
      summary: Prepare and announce transaction
      description: |
        Creates, signs, and broadcasts a transaction to the NEM network.

        ⚠️ **Security warning:** This endpoint requires the sender's private key and must only be used with trusted, local NIS nodes.
        The transaction is signed by NIS and then announced to the network.
      operationId: prepareAnnounceTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareAnnounceRequest'
      responses:
        '200':
          description: Transaction successfully announced.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnounceResult'
              examples:
                success:
                  summary: Transaction signed and announced
                  value:
                    type: 1
                    code: 1
                    message: SUCCESS
                    transactionHash:
                      data: c1786437336da077cd572a27710c40c378610e8d33880bcb7bdb0a42e3d35586
                    innerTransactionHash:
                      data: cc317a7674d56352b4c711096a7594bd11908bf518293a191fc2faa12eac0fbb
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
components:
  schemas:
    PrivateKey:
      type: string
      description: 256-bit private key encoded as a hexadecimal string (64 hex characters).
      minLength: 64
      maxLength: 64
      pattern: ^[0-9a-fA-F]{64}$
      examples:
        - a04cd0fce20b0806bef448d273d47d4a15945f46716d198b506cbf1c44650f42
    PublicKey:
      type: string
      description: 256-bit public key encoded as a hexadecimal string (64 hex characters).
      minLength: 64
      maxLength: 64
      pattern: ^[0-9a-fA-F]{64}$
      examples:
        - 18e4f79f886927de698df1f857de2aada41ccca6617e56bb0d61623b35b08cc0
    Address:
      type: string
      description: |
        Represents a unique account address. The first character indicates the network (T for testnet, N for mainnet).
        Addresses are always 40 characters long and Base32-encoded.
      minLength: 40
      maxLength: 40
      pattern: ^[A-Z2-7]{40}$
      examples:
        - TALICELCD3XPH4FFI5STGGNSNSWPOTG5E4DS2TOS
    GeneratedAccount:
      type: object
      description: |
        An object contains information about a newly generated account.
        It includes the private key, the public key, and the derived address.
      required:
        - privateKey
        - publicKey
        - address
      properties:
        privateKey:
          $ref: '#/components/schemas/PrivateKey'
        publicKey:
          $ref: '#/components/schemas/PublicKey'
        address:
          $ref: '#/components/schemas/Address'
    TimeStamp:
      type: integer
      format: int64
      description: Number of seconds since the creation of the nemesis block.
      examples:
        - 9108808
    ModelError:
      type: object
      description: Error response returned when a request is invalid or an internal error occurs.
      required:
        - timeStamp
        - error
        - message
        - status
      properties:
        timeStamp:
          $ref: '#/components/schemas/TimeStamp'
        error:
          type: string
          description: Short error type identifier.
        message:
          type: string
          description: Detailed error message describing the failure.
        status:
          type: integer
          format: int32
          description: The HTTP status code of the response.
          examples:
            - 400
            - 404
            - 500
            - 503
            - 401
    Amount:
      type: integer
      format: int64
      description: Token amount in smallest unit.
      minimum: 0
      examples:
        - 408676852850
    Importance:
      type: number
      format: double
      description: Account importance for harvesting, between 0 and 1 (inclusive).
      minimum: 0
      maximum: 1
      examples:
        - 0.00008857563463531297
    AccountMultisigInfo:
      type: object
      description: |
        Additional multisig account information.

        If the account is not a multisig account, this object is empty.
        If the account is a multisig account, it contains cosignatory details.
      properties:
        cosignatoriesCount:
          type: integer
          format: int32
          description: Number of cosignatories for the multisig account.
          examples:
            - 3
        minCosignatories:
          type: integer
          format: int32
          description: Minimum number of cosignatories required to approve a transaction.
          examples:
            - 2
    AccountInfo:
      type: object
      description: Basic account information.
      required:
        - address
        - balance
        - vestedBalance
        - importance
        - harvestedBlocks
      properties:
        address:
          $ref: '#/components/schemas/Address'
        balance:
          $ref: '#/components/schemas/Amount'
          description: |
            Account balance as a non-negative integer in micro XEM. For example, 123456789 means 123.456789 XEM.
            For transfers, only the balance (not vested balance) is used.
        vestedBalance:
          $ref: '#/components/schemas/Amount'
          description: |
            Vested balance of the account in micro XEM, used for importance calculation.
        importance:
          $ref: '#/components/schemas/Importance'
        publicKey:
          oneOf:
            - $ref: '#/components/schemas/PublicKey'
            - type: 'null'
          description: Public key of the account, or null if the account has not yet published a transaction.
        label:
          oneOf:
            - type: string
            - type: 'null'
          description: Reserved; currently unused and always null.
          examples:
            - null
        harvestedBlocks:
          type: integer
          format: int64
          description: |
            Number of blocks harvested by this account (0 for new accounts). Harvesting is the process of creating new blocks.
          examples:
            - 645
        multisigInfo:
          $ref: '#/components/schemas/AccountMultisigInfo'
    AccountStatus:
      type: string
      description: |
        The harvesting status of a queried account.

        The harvesting status can be one of the following values:
        - **UNKNOWN**: The harvesting status of the account is not known.
        - **LOCKED**: The account is not harvesting.
        - **UNLOCKED**: The account is harvesting.
      enum:
        - UNKNOWN
        - LOCKED
        - UNLOCKED
    AccountRemoteStatus:
      type: string
      description: |
        The status of delegated harvesting of a queried account.

        The delegated (remote) harvesting status can be one of the following values:
        - **REMOTE**: The account is a delegated account and therefore delegated harvesting status is not applicable for it.
        - **ACTIVATING**: The account has activated delegated harvesting, but it is not yet active.
        - **ACTIVE**: The account has activated delegated harvesting and delegated harvesting is active.
        - **DEACTIVATING**: The account has deactivated delegated harvesting, but delegated harvesting is still active.
        - **INACTIVE**: The account has inactive delegated harvesting, or it has deactivated delegated harvesting and 
          deactivation is operational.
      enum:
        - REMOTE
        - ACTIVATING
        - ACTIVE
        - DEACTIVATING
        - INACTIVE
    AccountMetaData:
      type: object
      description: Additional metadata describing the account state.
      required:
        - status
        - remoteStatus
        - cosignatoryOf
        - cosignatories
      properties:
        status:
          $ref: '#/components/schemas/AccountStatus'
        remoteStatus:
          $ref: '#/components/schemas/AccountRemoteStatus'
        cosignatoryOf:
          type: array
          description: Accounts for which this account is a cosignatory.
          items:
            $ref: '#/components/schemas/AccountInfo'
        cosignatories:
          type: array
          description: Accounts that are cosignatories of this account.
          items:
            $ref: '#/components/schemas/AccountInfo'
    AccountMetaDataPair:
      type: object
      description: |
        Object includes information for an account and additional information about its state.
      required:
        - account
        - meta
      properties:
        account:
          $ref: '#/components/schemas/AccountInfo'
        meta:
          $ref: '#/components/schemas/AccountMetaData'
    AccountId:
      type: object
      description: Identifier of an account.
      required:
        - account
      properties:
        account:
          $ref: '#/components/schemas/Address'
    accounts:
      type: object
      description: List of account addresses.
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AccountId'
      examples:
        - data:
            - account: NDZQI4MPLUCFVWQY5P6LD5LFLH2NVDYOQ347DATW
            - account: NAXF4PC4RUB7HRKCCVDWFLILUUAO2HRETM34OCQZ
    BlockHeight:
      type: integer
      format: int64
      description: |
        Position of a block in the blockchain. The first block has height 1; each new block increments by one.
      minimum: 1
      examples:
        - 17592
    PageRank:
      type: number
      format: double
      description: PageRank value associated with the account.
      examples:
        - 0.0007605047835049349
    AccountHistoricalData:
      type: object
      description: Historical account data at a specific block height.
      required:
        - height
        - address
        - balance
        - vestedBalance
        - unvestedBalance
        - importance
        - pageRank
      properties:
        height:
          $ref: '#/components/schemas/BlockHeight'
          description: Block height at which the data was recorded.
        address:
          $ref: '#/components/schemas/Address'
        balance:
          $ref: '#/components/schemas/Amount'
          description: Account balance in micro XEM.
        vestedBalance:
          $ref: '#/components/schemas/Amount'
          description: Vested balance in micro XEM.
        unvestedBalance:
          $ref: '#/components/schemas/Amount'
          description: Unvested balance in micro XEM.
        importance:
          $ref: '#/components/schemas/Importance'
          description: Account importance at this block height.
        pageRank:
          $ref: '#/components/schemas/PageRank'
          description: PageRank value associated with the account.
    AccountHistoricalDataList:
      type: object
      description: Historical account data list.
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AccountHistoricalData'
    BlockReference:
      type: object
      required:
        - height
      properties:
        height:
          $ref: '#/components/schemas/BlockHeight'
    Hash:
      type: string
      description: The 256-bit SHA3 hash encoded as a hexadecimal string (64 characters).
      examples:
        - 81d52a7df4abba8bb1613bcc42b6b93cf3114524939035d88ae8e864cd2c34c8
    HashReference:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/Hash'
    Transaction:
      type: object
      description: Base NEM transaction object.
      required:
        - type
        - version
        - timeStamp
        - deadline
        - signer
      properties:
        timeStamp:
          type: integer
          description: |
            The number of seconds elapsed since the creation of the nemesis block. Future timestamps are not allowed. 
            Transaction validation detects future timestamps and returns an error in that case. 
            Network time synchronization ensures that any NEM software component will use valid timestamps when creating transactions.
        signature:
          oneOf:
            - type: string
            - type: 'null'
          description: |
            The transaction signature. 
            The transaction signature is validated using the supplied public key in the field signer. 
            If the signature is not valid, an error is returned from validation.
        fee:
          $ref: '#/components/schemas/Amount'
          description: |
            The fee for the transaction. The higher the fee, the higher is the priority of the transaction. 
            Transactions with high priority get included in a block before transactions with lower priority. 
            If the sender does not have enough funds the validation will result in an error.
        type:
          type: integer
          description: |
            Transaction type identifier. The following types are supported:
            - 257   - Transfer Transaction
            - 2049  - Importance Transfer Transaction
            - 4097  - Multisig Aggregate Modification Transaction
            - 4098  - Multisig Signature Transaction
            - 4100  - Multisig Transaction
            - 8193  - Provision Namespace Transaction
            - 16385 - Mosaic Definition Creation Transaction
            - 16386 - Mosaic Supply Change Transaction
        deadline:
          $ref: '#/components/schemas/TimeStamp'
          description: |
            The deadline of the transaction.
            The deadline is given as the number of seconds elapsed since the creation of the nemesis block.
            If a transaction does not get included in a block before the deadline is reached, it is deleted.
        version:
          type: integer
          description: |
            The version of the structure. The following version are currently support.
            1744830465 - mainnet network version
            -1744830463 - testnet mainnet version
        signer:
          $ref: '#/components/schemas/PublicKey'
          description: The public key of the account that created the transaction.
      discriminator:
        propertyName: type
        mapping:
          '257': '#/components/schemas/TransferTransaction'
          '2049': '#/components/schemas/ImportanceTransferTransaction'
          '4097': '#/components/schemas/MultisigAggregateModificationTransaction'
          '4098': '#/components/schemas/MultisigSignatureTransaction'
          '4100': '#/components/schemas/MultisigTransaction'
          '8193': '#/components/schemas/ProvisionNamespaceTransaction'
          '16385': '#/components/schemas/MosaicDefinitionCreationTransaction'
          '16386': '#/components/schemas/MosaicSupplyChangeTransaction'
    MosaicId:
      type: object
      description: Uniquely identifies a mosaic definition.
      properties:
        namespaceId:
          type: string
          description: The namespace containing this mosaic.
        name:
          type: string
          description: The mosaic name.
    Mosaic:
      type: object
      description: |
        A mosaic describes an instance of a mosaic definition. Mosaics can be transferred by means of a transfer transaction.
      properties:
        mosaicId:
          $ref: '#/components/schemas/MosaicId'
        quantity:
          type: integer
          description: |
            The mosaic quantity. The quantity is always given in smallest units for the mosaic, i.e. 
            if it has a divisibility of 3 the quantity is given in millis.
    TransferTransaction:
      description: |
        Transfer transactions contain data about transfers of XEM or mosaics to another account.
        There are two versions of transfer transactions, version 1 and version 2. 
        Version 1 transfer transactions are only capable of transferring XEM and a message 
        while version 2 transfer transactions additionally can transfer a set of mosaics.
      allOf:
        - $ref: '#/components/schemas/Transaction'
        - type: object
          description: Transfer transaction object.
          required:
            - recipient
            - amount
          properties:
            recipient:
              $ref: '#/components/schemas/Address'
              description: The address of the recipient.
            amount:
              $ref: '#/components/schemas/Amount'
              description: |
                The amount of micro XEM that is transferred from sender to recipient for version 1 type.
                For version 2 transaction types amount field acts as multiplier for mosaic array.
                Please check examples available here https://docs.nem.io/pages/Exchanges/integration/examples/docs.en.html.
            message:
              oneOf:
                - type: object
                - type: 'null'
              description: |
                Optionally a transaction can contain a message. 
                In this case the transaction contains a message substructure. If not the field is null.
              properties:
                payload:
                  type: string
                  description: |
                    The payload is the actual (possibly encrypted) message data.
                type:
                  type: integer
                  description: |
                    The field holds the message type information. Possible message types are:
                    - 1: The message is not encrypted.
                    - 2: The message is encrypted.
                  enum:
                    - 1
                    - 2
            mosaics:
              type: array
              description: The array of transferred mosaics.
              items:
                $ref: '#/components/schemas/Mosaic'
    ImportanceTransferTransaction:
      description: |
        NIS has the ability to transfer the importance of one account to another account for harvesting.
        The account receiving the importance is called the delegated account.
        Importance transfer transactions are part of the secure harvesting feature of NEM.
        Once an importance transfer transaction has been included in a block,
        it needs 6 hours to become active.
      allOf:
        - $ref: '#/components/schemas/Transaction'
        - type: object
          description: Importance transfer transaction object.
          required:
            - mode
            - remoteAccount
          properties:
            mode:
              type: integer
              enum:
                - 1
                - 2
              description: |
                Importance transfer mode:
                - 1: Activate delegated harvesting
                - 2: Deactivate delegated harvesting
            remoteAccount:
              $ref: '#/components/schemas/PublicKey'
              description: The public key of the delegated (remote) account.
    MultisigCosignatoryModification:
      type: object
      description: |
        Multisig cosignatory modification.
        This object represents the addition or removal of a cosignatory
        from a multisig account.
      required:
        - modificationType
        - cosignatoryAccount
      properties:
        modificationType:
          type: integer
          enum:
            - 1
            - 2
          description: |
            Type of cosignatory modification:
            - 1: Add a new cosignatory
            - 2: Remove an existing cosignatory
        cosignatoryAccount:
          $ref: '#/components/schemas/PublicKey'
          description: Public key of the cosignatory account.
    MultisigMinCosignatoriesModification:
      type: object
      description: |
        Multisig minimum cosignatories modification.
        This object specifies a relative change to the minimum number of cosignatories
        required to approve a multisig transaction.
      required:
        - relativeChange
      properties:
        relativeChange:
          type: integer
          description: |
            Relative change of the minimum number of cosignatories.
            A positive value increases the required number of cosignatories,
            while a negative value decreases it.
          examples:
            - 1
    MultisigAggregateModificationTransaction:
      description: |
        Multisig aggregate modification transactions are part of the NEM's multisig account system. 
        A multisig aggregate modification transaction holds an array of multisig cosignatory modifications and 
        a single multisig minimum cosignatories modification inside the transaction. 
        A multisig aggregate modification transaction can be wrapped by a multisig transaction. 
        Aggregate modification transactions that use the minCosignatories field need to have 
        version 0x68000002 (decimal 1744830466) for mainnet, 0x98000002 (decimal -1744830462) for testnet.
      allOf:
        - $ref: '#/components/schemas/Transaction'
        - type: object
          required:
            - modifications
          properties:
            modifications:
              type: array
              description: Array of multisig modifications.
              items:
                $ref: '#/components/schemas/MultisigCosignatoryModification'
            minCosignatories:
              $ref: '#/components/schemas/MultisigMinCosignatoriesModification'
    MultisigSignatureTransaction:
      description: |
        Multisig signature transactions are part of the NEM's multisig account system. 
        Multisig signature transactions are included in the corresponding multisig transaction and are the way a cosignatory 
        of a multisig account can sign a multisig transaction for that account.
      allOf:
        - $ref: '#/components/schemas/Transaction'
        - type: object
          description: Multisig Signature Transaction object.
          required:
            - otherHash
            - otherAccount
          properties:
            otherHash:
              $ref: '#/components/schemas/Hash'
              description: The hash of the inner transaction of the corresponding multisig transaction.
            otherAccount:
              $ref: '#/components/schemas/Address'
              description: The address of the corresponding multisig account.
    ProvisionNamespaceTransaction:
      description: |
        Accounts can rent a namespace for one year and after a year renew the contract. 
        This is done via a ProvisionNamespaceTransaction.
      allOf:
        - $ref: '#/components/schemas/Transaction'
        - type: object
          description: Provision Namespace Transaction object.
          required:
            - rentalFeeSink
            - rentalFee
            - newPart
          properties:
            rentalFeeSink:
              $ref: '#/components/schemas/PublicKey'
              description: The public key of the account to which the rental fee is transferred.
            rentalFee:
              $ref: '#/components/schemas/Amount'
              description: The fee for renting the namespace.
            newPart:
              type: string
              description: The new part which is concatenated to the parent with a '.' as separator.
            parent:
              oneOf:
                - type: string
                - type: 'null'
              description: The parent namespace. This can be null if the transaction rents a root namespace.
    MosaicProperty:
      type: object
      description: |
        Single mosaic property entry.
        Each property defines a characteristic of the mosaic.
      required:
        - name
        - value
      properties:
        name:
          type: string
          description: |
            Name of the mosaic property.
            Supported values:
            - divisibility - Number of decimal places for sub-units (0–6). A divisibility of 3 means the smallest
              unit is 0.001 (e.g. 1000 = 1.000 mosaic). Transfer quantities are in these smallest units. Default "0".
            - initialSupply - Initial supply when creating the mosaic, in whole units (not smallest sub-units).
              Must be between 0 and 9,000,000,000. Default "1000".
            - supplyMutable - Whether the mosaic supply can be changed later. Values "true" or "false". Default "false".
            - transferable - Whether the mosaic can be transferred by any account. If "false", only the creator
              can be sender or recipient. Values "true" or "false". Default "true".
          enum:
            - divisibility
            - initialSupply
            - supplyMutable
            - transferable
        value:
          type: string
          description: |
            Property value, always a string. Interpretation depends on the property name:
            - divisibility: integer (0–6)
            - initialSupply: integer (max 9,000,000,000)
            - supplyMutable: "true" or "false"
            - transferable: "true" or "false"
    MosaicLevy:
      type: object
      description: |
        Optional levy applied when transferring mosaics.
        A levy defines a fee that is transferred to a recipient whenever the mosaic is moved.
        If the mosaic has no levy defined, this object is empty.
      properties:
        type:
          type: integer
          description: |
            Levy type:
            - 1: Absolute fee - The fee is specified as absolute quantity and thus does not depend on the quantity 
              that is transferred.
            - 2: Percentage fee - The fee is specified as a percentage of the quantity transferred.
              The fee increases linearly with the transferred mosaic quantity.
          enum:
            - 1
            - 2
        recipient:
          $ref: '#/components/schemas/Address'
          description: Recipient of the levy. This can be any account.
        mosaicId:
          $ref: '#/components/schemas/MosaicId'
          description: |
            ID of the mosaic in which the fee must be paid. Any existing mosaic can be specified.
            For fees in XEM, use the mosaic ID `nem:xem`.
        fee:
          $ref: '#/components/schemas/Amount'
          description: Fee amount. Interpretation depends on the levy type (see above).
    MosaicDefinition:
      type: object
      description: A mosaic definition describes an asset type on the network.
      required:
        - creator
        - id
        - description
        - properties
      properties:
        creator:
          $ref: '#/components/schemas/PublicKey'
          description: Public key of the mosaic creator.
        id:
          $ref: '#/components/schemas/MosaicId'
          description: The mosaic identifier.
        description:
          type: string
          minLength: 1
          maxLength: 512
          description: |
            Mosaic description. Must be non-empty and at most 512 characters.
        properties:
          description: Mosaic properties.
          type: array
          items:
            $ref: '#/components/schemas/MosaicProperty'
        levy:
          $ref: '#/components/schemas/MosaicLevy'
    MosaicDefinitionCreationTransaction:
      description: |
        Before a mosaic can be created or transferred, a corresponding definition of the mosaic has 
        to be created and published to the network. This is done via a mosaic definition creation transaction.
      allOf:
        - $ref: '#/components/schemas/Transaction'
        - type: object
          description: Mosaic Definition Creation Transaction object.
          required:
            - mosaicDefinition
            - creationFee
            - creationFeeSink
          properties:
            mosaicDefinition:
              $ref: '#/components/schemas/MosaicDefinition'
              description: The mosaic definition to be created.
            creationFee:
              $ref: '#/components/schemas/Amount'
              description: The fee for the creation of the mosaic.
            creationFeeSink:
              $ref: '#/components/schemas/PublicKey'
              description: The public key of the account to which the creation fee is transferred.
    MosaicSupplyChangeTransaction:
      description: |
        A mosaic supply change transaction increases or decreases the supply of a mosaic.
        This transaction can only be executed by the creator of the mosaic definition
        if the mosaic property `supplyMutable` is set to true.
      allOf:
        - $ref: '#/components/schemas/Transaction'
        - type: object
          description: Mosaic Supply Change Transaction object.
          required:
            - mosaicId
            - supplyType
            - delta
          properties:
            mosaicId:
              $ref: '#/components/schemas/MosaicId'
              description: The mosaic identifier whose supply is being modified.
            supplyType:
              type: integer
              enum:
                - 1
                - 2
              description: |
                Supply change type:
                - 1: Increase the mosaic supply
                - 2: Decrease the mosaic supply
            delta:
              type: integer
              description: |
                Amount by which the mosaic supply is changed.
[...]
