@font-face {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://fonts.gstatic.com/s/aldrich/v21/MCoTzAn-1s3IGyJMVacY3w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Colors */
:root {
    --userbook-color: #F4A900;
    --userbook-color--dark: rgb(39 33 17);
    --userbook-color--light: #f7cc67;
    --userbook-color--transparent: #F4A90020;
    --devbook-color: #20B5AC;
    --devbook-color--dark: rgb(32 43 50);
    --devbook-color--light: #77c4be;
    --devbook-color--transparent: #20B5AC20;
    --textbook-color: #7000DF;
    --textbook-color--dark: rgb(40 25 59);
    --textbook-color--light: #9756d5;
    --textbook-color--transparent: #7000DF20;
}

.userbook-section {
    --md-primary-fg-color: var(--userbook-color);
    --md-primary-fg-color--dark: var(--userbook-color--dark);
    --md-primary-fg-color--light: var(--userbook-color--light);
    --md-accent-fg-color--transparent: var(--userbook-color--transparent);
}

.devbook-section {
    --md-primary-fg-color: var(--devbook-color);
    --md-primary-fg-color--dark: var(--devbook-color--dark);
    --md-primary-fg-color--light: var(--devbook-color--light);
    --md-accent-fg-color--transparent: var(--devbook-color--transparent);
}

.textbook-section {
    --md-primary-fg-color: var(--textbook-color);
    --md-primary-fg-color--dark: var(--textbook-color--dark);
    --md-primary-fg-color--light: var(--textbook-color--light);
    --md-accent-fg-color--transparent: var(--textbook-color--transparent);
}

[data-md-color-scheme=slate][data-md-color-primary=indigo] {
    --md-typeset-a-color: var(--md-primary-fg-color--light);
    --md-accent-fg-color: var(--md-primary-fg-color);
    --md-default-bg-color--light: #333;
    --md-footer-bg-color--dark: var(--md-primary-fg-color--dark);
}

[data-md-color-scheme=default][data-md-color-primary=indigo] {
    --md-typeset-a-color: var(--md-primary-fg-color--dark);
    --md-accent-fg-color: var(--md-primary-fg-color);
    --md-default-bg-color--light: #DDD;
    --md-footer-bg-color--dark: var(--md-primary-fg-color--dark);
}

/* Home page cards */
.userbook {
    background: url("../images/userbook.png") no-repeat center;
}

.devbook {
    background: url("../images/devbook.png") no-repeat center;
}

.textbook {
    background: url("../images/textbook.png") no-repeat center;
}

.userbook:hover {
    background: url("../images/userbook-open.png") no-repeat center;
}

.devbook:hover {
    background: url("../images/devbook-open.png") no-repeat center;
}

.textbook:hover {
    background: url("../images/textbook-open.png") no-repeat center;
}

.md-typeset .grid .card {
    text-align: center;
    padding: 0;
}

.md-typeset .grid .card a {
    font-size: 2em;
    font-family: Aldrich, sans-serif;
    display: block;
    line-height: 300px;
    color: white;
    margin-bottom: 10px;
}

/* Top navigation tab style: centered, with icons and custom font*/
.md-tabs .md-tabs__item:first-child {
    display: none;
}

.md-tabs .md-tabs__item a {
    padding-left: 2rem;
    font-size: 2em;
    font-family: Aldrich, sans-serif;
    line-height: 2.4em;
    margin-top: 0;
}

.md-tabs .md-tabs__item:nth-child(2) {
    background: url("../images/userbook.png") no-repeat;
    background-size: 1.4rem;
    background-position: left center;
}

.md-tabs .md-tabs__item:nth-child(3) {
    background: url("../images/devbook.png") no-repeat;
    background-size: 1.4rem;
    background-position: left center;
}

.md-tabs .md-tabs__item:nth-child(4) {
    background: url("../images/textbook.png") no-repeat;
    background-size: 1.4rem;
    background-position: left center;
}

.md-tabs .md-tabs__item--active:nth-child(2) {
    background: url("../images/userbook-open.png") no-repeat;
    background-size: 2.4rem;
    background-position: left center;
}

.md-tabs .md-tabs__item--active:nth-child(3) {
    background: url("../images/devbook-open.png") no-repeat;
    background-size: 2.4rem;
    background-position: left center;
}

.md-tabs .md-tabs__item--active:nth-child(4) {
    background: url("../images/textbook-open.png") no-repeat;
    background-size: 2.4rem;
    background-position: left center;
}

.md-tabs[hidden] .md-tabs__item {
    background: none;
}

.md-tabs__list {
    justify-content: center;
    gap: 30px;
}

/* Bigger logo */
[dir=ltr] .md-header__title {
    margin-left: 0;
}

.md-header__button.md-logo {
    margin: 0;
    padding: .4rem;
}

.md-header__button.md-logo img {
    height: 2rem;
}

/* Header */
.md-tabs,
.md-header {
    background-color: var(--md-primary-fg-color--dark);
}

.md-tabs {
    border-bottom: 2px solid var(--md-primary-fg-color);
}

.md-header--shadow {
    box-shadow: none;
    border-bottom: 2px solid var(--md-primary-fg-color);
}

.md-header__source {
    display: none;
}

/* Separator for source file facts at page bottom */
aside.md-source-file {
    border-top: 1px solid var(--md-primary-fg-color);
    padding-top: 0.5rem;
    margin-top: 2rem;
}

/* Footer */
.md-copyright {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-right: 36px;
}

/* Links to other sections use the color of that section */
.md-content a[href*="userbook"][href^='..'] {
    color: var(--userbook-color--light);
}

.md-content a[href*="userbook"][href^='..']:hover {
    color: var(--userbook-color);
}

.md-content a[href*="devbook"][href^='..'] {
    color: var(--devbook-color--light);
}

.md-content a[href*="devbook"][href^='..']:hover {
    color: var(--devbook-color);
}

.md-content a[href*="textbook"][href^='..'] {
    color: var(--textbook-color--light);
}

.md-content a[href*="textbook"][href^='..']:hover {
    color: var(--textbook-color);
}

/* Tooltips */
.md-tooltip__inner,
[role=tooltip]>.md-tooltip2__inner {
    font-size: 0.6rem;
    background-color: var(--md-default-bg-color--light);
}

/* Search box */
.md-search__form {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid var(--md-primary-fg-color);
    border-radius: 0.4rem;
}

.md-search__icon svg {
    fill: var(--md-primary-fg-color);
}

.md-search__input::placeholder {
    color: var(--md-primary-fg-color);
    opacity: 1;
}

/* Hide definition list terms generated automatically for the reference guide */
.automatic-reference-term dt {
    display: none;
}

/* Glossaries */
a:target {
    background-color: var(--md-accent-fg-color--transparent);
    display: block;
}

/* Dynamic links */
.md-typeset .dylink input {
    height: 0;
    width: 0;
    margin: 0;
}

.md-typeset .dylink label {
    display: none;
}

.md-typeset .dylink input[type=radio]:checked+.dylink-option {
    display: inline;
}

/* Documentation selector icons */
.md-icon img {
    width: 1.2rem;
    height: 1.2rem;
}

.md-header__option[data-md-component="doc_selector"] .md-option:not(:checked)+.md-icon {
    display: none;
}