@font-face {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Aldrich-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Exo2';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../fonts/Exo2-VariableFont.ttf) format('truetype');
}

/* Colors */
.userbook-section {
    --md-primary-fg-color: #F4A900;
    --md-primary-fg-color--dark: #a57504;
    --md-primary-fg-color--light: #f7cc67;
}

.devbook-section {
    --md-primary-fg-color: #20B5AC;
    --md-primary-fg-color--dark: #136d67;
    --md-primary-fg-color--light: #77c4be;
}

.textbook-section {
    --md-primary-fg-color: #7000DF;
    --md-primary-fg-color--dark: #4a0194;
    --md-primary-fg-color--light: #9756d5;
}

[data-md-color-scheme=slate] .userbook-section,
[data-md-color-scheme=slate] .devbook-section,
[data-md-color-scheme=slate] .textbook-section {
    --md-typeset-a-color: var(--md-primary-fg-color--light);
    --md-accent-fg-color: var(--md-primary-fg-color);
}

[data-md-color-scheme=default] .userbook-section,
[data-md-color-scheme=default] .devbook-section,
[data-md-color-scheme=default] .textbook-section {
    --md-typeset-a-color: var(--md-primary-fg-color--dark);
    --md-accent-fg-color: var(--md-primary-fg-color);
}

/* Home page cards */
.userbook {
    background: url("../images/userbook.png") no-repeat center;
}

.devbook {
    background: url("../images/devbook.png") no-repeat center;
}

.textbook {
    background: url("../images/textbook.png") no-repeat center;
}

.userbook:hover {
    background: url("../images/userbook-open.png") no-repeat center;
}

.devbook:hover {
    background: url("../images/devbook-open.png") no-repeat center;
}

.textbook:hover {
    background: url("../images/textbook-open.png") no-repeat center;
}

.md-typeset .grid .card {
    text-align: center;
    padding: 0;
}

.md-typeset .grid .card a {
    font-size: 2em;
    font-family: "Aldrich";
    display: block;
    line-height: 300px;
    color: white;
    margin-bottom: 10px;
}

/* Top navigation tab style: centered, with icons and custom font*/
.md-tabs .md-tabs__item:first-child {
    display: none;
}

.md-tabs .md-tabs__item a {
    padding-left: 2rem;
    font-size: 2em;
    font-family: "Aldrich";
    line-height: 2.4em;
    margin-top: 0;
}

.md-tabs .md-tabs__item:nth-child(2) {
    background: url("../images/userbook.png") no-repeat;
    background-size: 2.4rem;
}

.md-tabs .md-tabs__item:nth-child(3) {
    background: url("../images/devbook.png") no-repeat;
    background-size: 2.4rem;
}

.md-tabs .md-tabs__item:nth-child(4) {
    background: url("../images/textbook.png") no-repeat;
    background-size: 2.4rem;
}

.md-tabs .md-tabs__item--active:nth-child(2) {
    background: url("../images/userbook-open.png") no-repeat;
    background-size: 2.4rem;
}

.md-tabs .md-tabs__item--active:nth-child(3) {
    background: url("../images/devbook-open.png") no-repeat;
    background-size: 2.4rem;
}

.md-tabs .md-tabs__item--active:nth-child(4) {
    background: url("../images/textbook-open.png") no-repeat;
    background-size: 2.4rem;
}

.md-tabs__list {
    justify-content: center;
    gap: 30px;
}

/* Bigger logo */
[dir=ltr] .md-header__title {
    margin-left: 0;
}

.md-header__button.md-logo {
    margin: 0;
    padding: .4rem;
}

.md-header__button.md-logo img {
    height: 2rem;
}

/* Header */
.md-tabs,
.md-header {
    background-color: var(--md-primary-fg-color--dark);
}

.md-tabs {
    border-bottom: 1px solid var(--md-primary-fg-color);
}

/* Separator for source file facts at page bottom */
aside.md-source-file {
    border-top: 1px solid var(--md-primary-fg-color);
    padding-top: 0.5rem;
    margin-top: 2rem;
}

/* Footer */
.md-copyright {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-right: 36px;
}
