openapi: 3.1.0
info:
  version: 1.0.5
  title: Catapult REST Endpoints
  description: OpenAPI Specification of catapult-rest
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://reference.symboltest.net:3001
    description: Testnet node
security:
  - {}
tags:
  - name: Account routes
    description: |
      Accounts are the central entities on the Symbol blockchain. An
      [account](https://docs.symbol.dev/concepts/account.html) is a key pair (private and public key)
      associated with a mutable state stored on-chain. Each account is uniquely identified by an
      [**address**](https://docs.symbol.dev/concepts/cryptography.html#address) derived from its public key,
      encoded in Base32 format (39 characters). The **public key** is recorded on-chain with the first issued transaction
      and remains empty until then.

      An account's on-chain state includes its **balance** (the set of
      [mosaic](https://docs.symbol.dev/concepts/mosaic.html) units it owns) and an
      [**importance score**](https://docs.symbol.dev/concepts/consensus-algorithm.html#importance-calculation)
      that determines the probability of being selected to harvest the next block. Importance is recalculated
      periodically using **activity buckets**, which are rolling data that tracks fees paid, beneficiary counts, and raw
      scores over a sliding window of recalculation periods.

      Accounts participate in block creation through
      [harvesting](https://docs.symbol.dev/concepts/harvesting.html). An eligible account (one that meets the
      minimum balance threshold) can harvest directly, or it can
      [delegate harvesting](https://docs.symbol.dev/concepts/harvesting.html#delegated-harvesting) to a
      **remote account** (proxy) that signs blocks on its behalf. The **account type** field reflects this
      relationship:
      - `0`: Unlinked account, not participating in harvesting delegation.
      - `1`: Balance-holding account (harvester) that is linked to a remote proxy account.
      - `2`: Remote proxy account that signs blocks on behalf of a linked balance-holding account.
      - `3`: Remote-harvester-eligible account that is currently unlinked.

      To enable [remote](https://docs.symbol.dev/concepts/harvesting.html#remote-harvesting) or
      [delegated](https://docs.symbol.dev/concepts/harvesting.html#delegated-harvesting) harvesting, the main
      account links a set of **supplemental public keys**:
      - `Linked key`: public key of the remote proxy account
        ([AccountKeyLinkTransaction](https://docs.symbol.dev/serialization/index.html#accountkeylinktransaction)).
      - `Node key`: public key used for TLS sessions with the node
        ([NodeKeyLinkTransaction](https://docs.symbol.dev/serialization/index.html#nodekeylinktransaction));
        required only for delegated harvesting.
      - `VRF key`: key used to randomize harvester selection
        ([VrfKeyLinkTransaction](https://docs.symbol.dev/serialization/index.html#vrfkeylinktransaction));
        required for all harvesting types.
      - `Voting keys`: keys used for block
        [finalization](https://docs.symbol.dev/concepts/block.html#finalization) voting
        ([VotingKeyLinkTransaction](https://docs.symbol.dev/serialization/index.html#votingkeylinktransaction));
        each key is valid for a defined range of finalization epochs.
  - name: Block routes
    description: |
      [Blocks](https://docs.symbol.dev/concepts/block.html) are the units of the Symbol blockchain. Each block
      contains a list of confirmed [transactions](https://docs.symbol.dev/concepts/transaction.html) and is signed
      by a [harvester](https://docs.symbol.dev/concepts/harvesting.html) account selected by the
      [consensus algorithm](https://docs.symbol.dev/concepts/consensus-algorithm.html).

      - `Height`: unique, sequential position of the block in the chain. Subsequent blocks differ in height by 1.
      - `Timestamp`: number of milliseconds elapsed since the creation of the first block.
      - `Difficulty`: block difficulty (initial 1e14); adjusted in range 1e13 to 1e15 to maintain target block time.
      - `Harvester`: [account](https://docs.symbol.dev/concepts/account.html) that created the block; receives
        transaction [fees](https://docs.symbol.dev/concepts/fees.html) and
        [inflation](https://docs.symbol.dev/concepts/inflation.html) rewards.
      - `Beneficiary address`: optional account designated by the harvester to receive
        [the block reward](https://docs.symbol.dev/concepts/harvesting.html#rewards).
      - `Fee multiplier`: multiplier applied to transaction size to calculate the
        [effective fee](https://docs.symbol.dev/concepts/fees.html).
      - `Importance block`: a special block type that additionally records voting-eligible account count,
        harvesting-eligible account count, total voting balance, and the previous importance block hash.
      - `Finalization` ([docs](https://docs.symbol.dev/concepts/block.html#finalization)): the process that makes blocks
        permanent. Once a block is finalized, its transactions become immutable. Clients that rely on immutability
        should only trust finalized blocks.
  - name: Chain routes
    description: |
      Chain endpoints provide aggregate information about the blockchain state.
      The [chain score](https://docs.symbol.dev/concepts/block.html) is used during synchronization:
      nodes select the chain with the highest score as the canonical one (higher = better chain).
      The [latest finalized block](https://docs.symbol.dev/concepts/block.html#finalization) is the most recent
      block that has been made permanent and will never be rolled back.
  - name: Finalization routes
    description: |
      [Finalization](https://docs.symbol.dev/concepts/block.html#finalization) is the process that makes
      blocks permanent on the Symbol blockchain. Once a block is finalized, its transactions become
      immutable and will never be rolled back.

      Finalization occurs in rounds called **epochs** (e.g. every 1440 blocks, ~12h on mainnet).
      Each epoch is divided into **finalization points**. Voters (eligible accounts with linked voting keys)
      emit prevote and precommit messages; when more than 67% of the voting stake agrees, the block
      is finalized.

      These endpoints return the **finalization proof** which is cryptographic evidence that a block was
      finalized, including message groups (prevote, precommit, count stages) and BLS aggregate
      signatures from the voter set.
  - name: Metadata routes
    description: |
      [Metadata](https://docs.symbol.dev/concepts/metadata.html) lets accounts attach arbitrary key-value
      data to three kinds of on-chain resources on Symbol: **accounts**, **mosaics**, and **namespaces**.
      Each metadata entry is uniquely identified by its source address, target address, metadata type,
      scoped metadata key, and, for mosaic and namespace metadata, the target artifact id. The derived
      composite hash can be used as a compact identifier for lookup.

      - `Source address`: account that created the metadata update.
      - `Target address`: target account for account metadata, or the owner account for mosaic and namespace metadata.
      - `Scoped metadata key`: 64-bit key assigned by the metadata creator to distinguish metadata entries.
      - `Metadata type`: whether the metadata entry is attached to an account, mosaic, or namespace.
      - `Composite hash`: unique identifier derived from the metadata coordinates.
      - `Metal`: convention for storing chunked binary payloads in metadata entries. See the
        [metal-on-symbol repository](https://github.com/OPENSPHERE-Inc/metal-on-symbol).

      Metadata endpoints return individual metadata entries, batch lookup results, paginated search
      results, Merkle proofs for metadata state, and decoded binary payloads stored with the Metal
      convention.
  - name: Mosaic routes
    description: |
      [Mosaics](https://docs.symbol.dev/concepts/mosaic.html) are customizable blockchain assets on Symbol.
      A mosaic definition specifies its unique identifier, total supply, divisibility, owner, duration, and behavior flags.

      - `Mosaic ID`: unique identifier of a mosaic on Symbol.
      - `Mosaic definition`: on-chain state that describes the mosaic supply, divisibility, owner, duration, and flags.
      - `Supply`: total number of mosaic units in existence, expressed in the smallest indivisible / atomic unit.
      - `Divisibility`: number of decimal places supported by the mosaic, from 0 to 6.
      - `Duration`: number of blocks for which the mosaic remains active. A value of `0` means the mosaic does not expire.
      - `Flags`: behavior settings that control supply mutability, transferability, restrictability, and revocability.
      - `Alias`: namespace alias that can be used to refer to the mosaic instead of its raw mosaic ID.

      The behavior flags determine whether the mosaic supply can change, whether it can be transferred between arbitrary
      accounts, whether custom restrictions can be applied, and whether the creator can revoke balances from holders.

      Mosaic endpoints return mosaic definitions, paginated mosaic collections, and Merkle proofs for mosaic state.
  - name: Multisig routes
    description: |
      [Multisig accounts](https://docs.symbol.dev/concepts/multisig-account.html) require approvals
      from one or more cosignatories before they can act. Symbol uses an **M-of-N** model, where
      `N` is the number of cosignatories attached to the multisig account and `M` is the minimum
      number of approvals required for a given action.

      Symbol also supports **multi-level multisig**, where a multisig account can itself act as a
      cosignatory for another multisig account, up to the network-defined maximum depth
      (`multisig.maxMultisigDepth = 3` on mainnet and testnet).

      - `Cosignatory`: account that manages a multisig account and can approve aggregate transactions on its behalf.
      - `Minimum approval`: number of cosignatory approvals required to approve a transaction initiated by the multisig account.
      - `Minimum removal`: number of cosignatory approvals required to remove a cosignatory from the multisig account.

      These endpoints return the current multisig state for an account, the surrounding multisig graph
      across multiple levels, and the Merkle proof for the stored multisig state.
  - name: Namespace routes
    description: |
      [Namespaces](https://docs.symbol.dev/concepts/namespace.html) are human-readable names that can represent accounts,
      mosaics, or hierarchical naming paths on Symbol. A namespace can be either a **root namespace** or a
      **subnamespace**, and each level is identified by its own namespace ID.

      - `Fully-qualified namespace name`: full dot-separated namespace path, for example `symbol.xym`.
      - `Root namespace`: top-level namespace with no parent.
      - `Subnamespace`: child namespace registered under another namespace.
      - `Parent namespace`: direct namespace above a subnamespace in the hierarchy.
      - `Duration`: number of blocks for which the namespace remains active, represented by its lifetime on-chain.
      - `Alias`: link from a namespace to an account address or mosaic ID.
      - `Namespace ID`: unique identifier derived from the namespace path and level.
      - `Active namespace`: namespace whose lifetime includes the current chain height.

      Namespaces can be linked as aliases to an account address or a mosaic ID, making on-chain identifiers easier for
      humans to recognize. Namespace state also tracks owner, lifetime, hierarchy depth, and whether the namespace is
      currently active.

      Namespace endpoints return namespace information, alias name resolution for accounts and mosaics, paginated
      namespace collections, and Merkle proofs for namespace state.
  - name: Network routes
    description: |
      Network endpoints expose configuration and economic parameters of the Symbol blockchain.
      They return **network properties** (identifier, nemesis keys, epoch adjustment),
      **chain properties** (block timing, fees, limits), and **plugin properties** (per-feature settings).
      Additional endpoints provide **currency supply** (total, max, circulating), **inflation** rewards
      at given block heights, **rental fees** for namespaces and mosaics, and **transaction fees**
      (average, median, min/max multipliers).
  - name: Node routes
    description: |
      Node endpoints return information about the specific REST node you are connected to.
      They include **node identity** (public key, roles, host, port), **server version**,
      **health status**, **storage statistics** (blocks, transactions, accounts),
      **node time** (for transaction deadline calculation), **unlocked accounts** (harvesting),
      **connected peers**, and **node metadata** (deployment tool, version).
  - name: Restriction Mosaic routes
    description: |
      [Mosaic restrictions](https://docs.symbol.dev/concepts/mosaic-restriction.html) define rule
      sets that control how a mosaic can be transferred on Symbol. They are commonly used with
      restrictable mosaics to enforce compliance or access rules.
      Mosaic restrictions are stored as two entry types: global restrictions and address restrictions.

      - `Global restriction`: the rule defined for a mosaic. It says what restriction key is checked,
        what value is expected, and how the comparison is performed.
      - `Address restriction`: the value assigned to one specific account for a given mosaic and
        restriction key.

      A global restriction defines the rule, and an address restriction provides the account-specific
      value that is checked against that rule.

      - `Restriction key`: 64-bit identifier that links related global and address restrictions.
      - `Entry type`: tells whether the returned entry is a global restriction entry or an
        address-specific restriction entry.

      Restriction mosaic endpoints return individual restriction entries, batch lookup results,
      paginated search results, and Merkle proofs for mosaic restriction state.
  - name: Restriction Account routes
    description: |
      [Account restrictions](https://docs.symbol.dev/concepts/account-restriction.html) define
      rule sets that limit which transactions an account can send to or receive from other accounts
      on Symbol. Depending on the applied restriction flags, these rules can allow or block incoming
      transactions from specific addresses, incoming transactions containing specific mosaic IDs,
      outgoing transactions to specific addresses, and outgoing transactions of specific transaction
      types.

      Restriction account endpoints return individual account restriction entries, batch lookup
      results, paginated search results, and Merkle proofs for account restriction state.
  - name: Receipt routes
    description: |
      [Receipts](https://docs.symbol.dev/concepts/receipt.html) are records produced while confirmed
      transactions change blockchain state. They are grouped into **transaction statements** and
      **resolution statements**.

      - `Transaction statement`: groups the receipts emitted for a specific transaction source at a given
        block height, including balance transfers, balance changes, expirations, and inflation.
      - `Resolution statement`: records how an unresolved namespace alias used in a transaction was
        resolved to a concrete address or mosaic ID for a specific source and block.
      - `Receipt type`: numeric code identifying the kind of receipt returned in a transaction statement.
      - `Source`: pointer to the transaction and, when relevant, aggregate subtransaction that produced
        the receipt or resolution entry.

      Receipt endpoints return paginated statement collections that can be filtered by height and other
      receipt-specific criteria. [Merkle proofs](https://docs.symbol.dev/concepts/data-validation.html#merkle-proof)
      for receipt statements are available under Block routes.
  - name: Transaction routes
    description: |
      Transaction announcement, lookup, and search. [Transactions](https://docs.symbol.dev/concepts/transaction.html)
      are signed payloads announced to the network and, after validation, may become part of the chain.

      - **Transaction hash**: 64-character hexadecimal identifier used for status lookup and as one way
        to retrieve a transaction record.
      - **Transaction ID**: node database record identifier used by some lookup and pagination flows.
      - **Confirmed transaction**: a transaction included in a block.
      - **Unconfirmed transaction**: a transaction accepted by a node but not yet included in a block.
      - **Partial transaction**: an aggregate bonded transaction waiting for the remaining cosignatures.

      These endpoints announce serialized transactions, retrieve single or multiple transaction
      records, and search paginated transaction collections.
  - name: Transaction status routes
    description: |
      Transaction status endpoints return the current processing state of a transaction identified by its hash.
      They are useful after announcing a transaction and when tracking whether it is still **unconfirmed**,
      already **confirmed**, waiting as **partial**, or has **failed** validation.

      These endpoints support single-hash lookup and batch lookup by transaction hashes.
  - name: Hash Lock routes
    description: |
      [Hash locks](https://docs.symbol.dev/concepts/aggregate-transaction.html#aggregate-bonded) are temporary
      deposits locked before announcing an aggregate bonded transaction. They act as an anti-spam mechanism:
      the lock must be confirmed before the aggregate bonded transaction can be announced, and the locked funds
      are returned when the aggregate bonded transaction completes.

      Hash lock endpoints return individual lock entries, paginated lock collections, batch lookup results,
      and Merkle proofs for hash lock state.
  - name: Secret Lock routes
    description: |
      [Secret locks](https://docs.symbol.dev/guides/secretlock/index.html) temporarily lock
      mosaics for a recipient until either a matching proof is announced or the lock expires.
      They are used for hash-time-locked workflows such as cross-chain swaps and other conditional
      transfers.

      Each secret lock is identified by a composite hash and includes the owner account, recipient
      account, locked mosaic and amount, hash algorithm, secret, end height, and lock status.

      Secret lock endpoints return individual lock entries, paginated lock collections, batch lookup
      results, and Merkle proofs for secret lock state.
externalDocs:
  description: Symbol Technical Documentation
  url: https://docs.symbol.dev/
paths:
  /accounts:
    get:
      tags:
        - Account routes
      summary: Search accounts
      description: |
        Returns a paginated list of accounts matching the given criteria.

        Results can be filtered by `address` and `mosaicId` (mosaic ownership), and ordered by `id` or `balance`.
        Standard pagination parameters (`pageSize`, `pageNumber`, `offset`, `order`) apply.
        The `orderBy` parameter supports `id` and `balance`; when using `orderBy=balance`,
        the `mosaicId` filter is required. The `offset` value must match the `orderBy` field.
      operationId: searchAccounts
      parameters:
        - $ref: '#/components/parameters/addressQuery'
        - $ref: '#/components/parameters/pageSizeQuery'
        - $ref: '#/components/parameters/pageNumberQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/orderQuery'
        - $ref: '#/components/parameters/orderByAccountQuery'
        - $ref: '#/components/parameters/mosaicIdQuery'
      responses:
        '200':
          description: Paginated list of matching accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPage'
              examples:
                default:
                  value:
                    data:
                      - id: 5E62690AB46E5565E8C0B5B5
                        account:
                          version: 1
                          address: 985A3B9B3A5821E7E5D6E7F8A9B0C1D2E3F4A5B6C7D8E9F0
                          addressHeight: '1'
                          publicKey: AC1A6E1D8DE5B17D2C6B1293F1CAD3829EEACF38D09311BB3C8E5A880092DE26
                          publicKeyHeight: '1'
                          accountType: 0
                          supplementalPublicKeys: {}
                          activityBuckets:
                            - startHeight: '1'
                              totalFeesPaid: '0'
                              beneficiaryCount: 0
                              rawScore: '0'
                          mosaics:
                            - id: 0DC67FBE1CAD29E3
                              amount: '1000000'
                          importance: '0.010263666447108395'
                          importanceHeight: '1'
                    pagination:
                      pageNumber: 1
                      pageSize: 10
        '409':
          $ref: '#/components/responses/InvalidArgument'
    post:
      tags:
        - Account routes
      summary: Get accounts information
      description: |
        Retrieves account data for multiple accounts in a single request.
        This is the batch equivalent of the single-account endpoint.

        The request body accepts either an array of public keys or an array of addresses (not both).
        If both `publicKeys` and `addresses` are provided, the request is invalid and the server returns `409` error.
      operationId: getAccountsInfo
      requestBody:
        $ref: '#/components/requestBodies/accountIds'
      responses:
        '200':
          description: Successfully fetched list of account data.
          content:
            application/json:
              schema:
                type: array
                description: Array of account information objects.
                items:
                  $ref: '#/components/schemas/AccountInfoDTO'
              examples:
                default:
                  value:
                    - id: 5E62690AB46E5565E8C0B5B5
                      account:
                        version: 1
                        address: 985A3B9B3A5821E7E5D6E7F8A9B0C1D2E3F4A5B6C7D8E9F0
                        addressHeight: '1'
                        publicKey: AC1A6E1D8DE5B17D2C6B1293F1CAD3829EEACF38D09311BB3C8E5A880092DE26
                        publicKeyHeight: '1'
                        accountType: 0
                        supplementalPublicKeys: {}
                        activityBuckets:
                          - startHeight: '1'
                            totalFeesPaid: '0'
                            beneficiaryCount: 0
                            rawScore: '0'
                        mosaics:
                          - id: 0DC67FBE1CAD29E3
                            amount: '1000000'
                        importance: '0.010263666447108395'
                        importanceHeight: '1'
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /accounts/{accountId}:
    get:
      tags:
        - Account routes
      summary: Get account information
      description: |
        Retrieves account data for a given account identifier.
        The response contains the account state including balance, importance, public key, linked keys, and activity buckets.

        The `accountId` path parameter accepts either a public key or a Base32-encoded address.
      operationId: getAccountInfo
      parameters:
        - $ref: '#/components/parameters/accountIdPath'
      responses:
        '200':
          description: Account information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoDTO'
              examples:
                default:
                  value:
                    id: 5E62690AB46E5565E8C0B5B5
                    account:
                      version: 1
                      address: 985A3B9B3A5821E7E5D6E7F8A9B0C1D2E3F4A5B6C7D8E9F0
                      addressHeight: '1'
                      publicKey: AC1A6E1D8DE5B17D2C6B1293F1CAD3829EEACF38D09311BB3C8E5A880092DE26
                      publicKeyHeight: '1'
                      accountType: 0
                      supplementalPublicKeys: {}
                      activityBuckets:
                        - startHeight: '1'
                          totalFeesPaid: '0'
                          beneficiaryCount: 0
                          rawScore: '0'
                      mosaics:
                        - id: 0DC67FBE1CAD29E3
                          amount: '1000000'
                      importance: '0.010263666447108395'
                      importanceHeight: '1'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /accounts/{accountId}/merkle:
    get:
      tags:
        - Account routes
      summary: Get account Merkle information
      description: |
        Retrieves the Merkle proof data for a given account.
        The Merkle path can be used to independently verify that the account state is included
        in the block state hash.

        If no account state entry exists for the supplied account ID, the endpoint still returns a
        Merkle proof response, but it is a negative proof showing that no account state entry exists
        for the requested account.

        The `accountId` path parameter accepts either a public key or a Base32-encoded address.
      operationId: getAccountInfoMerkle
      parameters:
        - $ref: '#/components/parameters/accountIdPath'
      responses:
        '200':
          description: Account Merkle information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerkleStateInfoDTO'
              examples:
                default:
                  value:
                    raw: 00008080DA9B4AF63BE985715EA635AF98E3CF3B0A22F9A2BE1C7DD40B79948AA63E36586E5D2E9D0C089C1C64BC0D42
                    tree: []
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /blocks:
    get:
      tags:
        - Block routes
      summary: Search blocks
      description: |
        Returns a paginated list of blocks matching the given criteria.

        Results can be filtered by harvester (`signerPublicKey`), `beneficiaryAddress`,
        and timestamp range. Standard pagination parameters (`pageSize`, `pageNumber`,
        `offset`, `order`) apply.
        The `orderBy` parameter supports `id` and `height`. The `offset` value must match the `orderBy` field.
      operationId: searchBlocks
      parameters:
        - $ref: '#/components/parameters/signerPublicKeyQuery'
        - $ref: '#/components/parameters/beneficiaryAddressQuery'
        - $ref: '#/components/parameters/pageSizeQuery'
        - $ref: '#/components/parameters/pageNumberQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/orderQuery'
        - $ref: '#/components/parameters/orderByBlockQuery'
        - $ref: '#/components/parameters/fromTimestampQuery'
        - $ref: '#/components/parameters/toTimestampQuery'
      responses:
        '200':
          description: Paginated list of matching blocks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockPage'
              examples:
                default:
                  value:
                    data:
                      - id: 5E62690AB46E5565E8C0B5B5
                        meta:
                          hash: C8FC3FB54FDDFBCE0E8C71224990124E4EEC5AD5D30E592EDFA9524669A23810
                          totalFee: '0'
                          generationHash: 57F7DA205008026C776CB6AED843393F04CD458E0AA2D9F1D5F31A402072B2D6
                          stateHashSubCacheMerkleRoots: []
                          totalTransactionsCount: 5
                          transactionsCount: 3
                          statementsCount: 2
                        block:
                          size: 480
                          signerPublicKey: AC1A6E1D8DE5B17D2C6B1293F1CAD3829EEACF38D09311BB3C8E5A880092DE26
                          version: 1
                          network: 152
                          type: 33091
                          signature: 4B408BBEDF25F2AC8E0E44A6E51E3CCBA03885902055F75EB9FF50433532CA44BF9175FDA7502EEE2FC16
                          height: '17592'
                          timestamp: '108303181802'
                          difficulty: '100000000000000'
                          proofGamma: 8D49594A96C31EC6C64305FB2CCB47AA7A4AC0A4F614442BB3684D2BF41F274E
                          proofVerificationHash: 82FB583BFE3EE78805784D078F2547AE
                          proofScalar: 480175C83739B22C53EAECAA7E7F3B245F1DFAFA6B3AE5C1D0129502FCBAAD0C
                          previousBlockHash: '0000000000000000000000000000000000000000000000000000000000000000'
                          transactionsHash: C8FC3FB54FDDFBCE0E8C71224990124E4EEC5AD5D30E592EDFA9524669A23810
                          receiptsHash: C8FC3FB54FDDFBCE0E8C71224990124E4EEC5AD5D30E592EDFA9524669A23810
                          stateHash: C8FC3FB54FDDFBCE0E8C71224990124E4EEC5AD5D30E592EDFA9524669A23810
                          beneficiaryAddress: 985A3B9B3A5821E7E5D6E7F8A9B0C1D2E3F4A5B6C7D8E9F0
                          feeMultiplier: 100
                    pagination:
                      pageNumber: 1
                      pageSize: 10
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /blocks/{height}:
    get:
      tags:
        - Block routes
      summary: Get block information
      description: |
        Returns the block at the given height.
        The response includes the block header, harvester signature, and block metadata
        (hash, total fee, generation hash, transaction and statement counts).

        If the block is an importance block, the response additionally contains
        voting-eligible and harvesting-eligible account counts, total voting balance,
        and the previous importance block hash.
      operationId: getBlockByHeight
      parameters:
        - $ref: '#/components/parameters/heightPath'
      responses:
        '200':
          description: Block information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockInfoDTO'
              examples:
                default:
                  value:
                    id: 6962CF6A2976BBB47C1054BC
                    meta:
                      hash: 01D37363E7C88262044F4F7B0DD7B956F11246B95DB9BB8413FA56BADB431B83
                      generationHash: FFC5BEEA11DF1550862D5F10EBBE48A8B1AACFC8F572B155A8885FE80D309C81
                      totalFee: '0'
                      totalTransactionsCount: 0
                      stateHashSubCacheMerkleRoots:
                        - 29FCB54438CDCD2E680ECA8257493283A07B36E8ADA148DF5CC1CC3BBA743456
                        - 13B99273D5F2C7C767767EE2C963D09E7DBDB642A8703C524C779BB38CA0A738
                        - AF75216804449D667BDE3A2A7FA019B711A379CFA6E0D76F54D3CD7409A11B29
                        - 7756DE9F2CB74A914B43E2C19CC209BA6AE4D436A618E79FA66E82ABF4C1FA0F
                        - '0000000000000000000000000000000000000000000000000000000000000000'
                        - 271C4CC44F2B5979CB8BBF0FADA0FFB8C70C553AC66059941C9762B9DF8A3B60
                        - C4C95FF41F432B160244F91D12DAB5D7EF6977B5CD9FD52E40E012A145061094
                        - 71F6FA9C3B6F19BB35210D8B6F3736254A699B5F0BD8759169CFC3D3D1C65007
                        - 8E5EEC4502B7DAF5FD02A5CFDCF59CA1CE9270F193E8E29B0124B25E59B59A8E
                      transactionsCount: 0
                      statementsCount: 1
                    block:
                      size: 376
                      signature: 2071C002EE41AB668E26155EFF654620057E005218A0D43013FE36C5805C4E8A34A74D5CC563B27175EAECA
                      signerPublicKey: FA313F7B4E6148B0E6CB8637599678D1587FCBCFD16F6E3FCBEC9A035B6C2F21
                      version: 1
                      network: 104
                      type: 33091
                      height: '5066794'
                      timestamp: '152230125554'
                      difficulty: '113384262983259'
                      proofGamma: AEB32E1A86D140D08BBF4D577509F47B3551AB9FCA0E377015EBD0E1B08C36AC
                      proofVerificationHash: 57A494E2A5D0F88E2F936A4D9CB69C67
                      proofScalar: 2F0BFFA62650753902F49AF8008BBBEA0EFA84573F47D9AB15A2F871A4DDA004
                      previousBlockHash: 392530D7FDBE2F76F9D49E603E09E6A56B64B501C724F71426BC708841F7DF1D
                      transactionsHash: '0000000000000000000000000000000000000000000000000000000000000000'
                      receiptsHash: 364652B46B3DC25961A6C3D34E94E711E6BFCA865D4F21A45E68670C9D6BA826
                      stateHash: 22CE56C7360E7FE657B854D515FBF0A3706300C21286BD2213AF70973D622F62
                      beneficiaryAddress: 985A3B9B3A5821E7E5D6E7F8A9B0C1D2E3F4A5B6C7D8E9F0
                      feeMultiplier: 0
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /blocks/{height}/transactions/{hash}/merkle:
    get:
      tags:
        - Block routes
      summary: Get the Merkle path for a given transaction and block
      description: |
        Returns the [Merkle path](https://docs.symbol.dev/concepts/data-validation.html#merkle-proof)
        for a [transaction](https://docs.symbol.dev/concepts/transaction.html) included in a block.
        The Merkle path is the minimum number of nodes needed to calculate the Merkle root.

        Steps to calculate the Merkle root:
        1. proofHash = hash (leaf).
        2. Concatenate proofHash with the first unprocessed item from the merklePath list as follows:
        - `left`: the item hash is concatenated before the proofHash (proofHash = sha_256(item.hash + proofHash)).
        - `right`: the item hash is concatenated after the proofHash (proofHash = sha_256(proofHash + item.hash)).
        3. Repeat 2. for every item in the merklePath list.
        4. Compare if the calculated proofHash equals the one recorded in the
        [block header](https://docs.symbol.dev/concepts/block.html)
        (`block.transactionsHash`) to verify if the transaction was included in the block.
      operationId: getMerkleTransaction
      parameters:
        - $ref: '#/components/parameters/heightPath'
        - $ref: '#/components/parameters/transactionHashPath'
      responses:
        '200':
          description: Merkle path for the transaction successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerkleProofInfoDTO'
              examples:
                default:
                  value:
                    merklePath:
                      - position: left
                        hash: C8FC3FB54FDDFBCE0E8C71224990124E4EEC5AD5D30E592EDFA9524669A23810
                      - position: right
                        hash: 5E62690AB46E5565E8C0B5B5A1B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /blocks/{height}/statements/{hash}/merkle:
    get:
      tags:
        - Block routes
      summary: Get the Merkle path for a given receipt statement hash and block
      description: |
        Returns the [Merkle path](https://docs.symbol.dev/concepts/data-validation.html#merkle-proof)
        for a [receipt statement or resolution](https://docs.symbol.dev/concepts/receipt.html) linked to a block.
        The `hash` parameter is the receipt statement hash, not the transaction hash.
        The Merkle path is the minimum number of nodes needed to calculate the Merkle root.

        Steps to calculate the Merkle root:
        1. proofHash = hash (leaf).
        2. Concatenate proofHash with the first unprocessed item from the merklePath list as follows:
        - `left`: the item hash is concatenated before the proofHash (proofHash = sha_256(item.hash + proofHash)).
        - `right`: the item hash is concatenated after the proofHash (proofHash = sha_256(proofHash + item.hash)).
        3. Repeat 2. for every item in the merklePath list.
        4. Compare if the calculated proofHash equals the one recorded in the
        [block header](https://docs.symbol.dev/concepts/block.html)
        (`block.receiptsHash`) to verify if the statement was linked with the block.
      operationId: getMerkleReceipts
      parameters:
        - $ref: '#/components/parameters/heightPath'
        - $ref: '#/components/parameters/receiptHashPath'
      responses:
        '200':
          description: Merkle path for the receipt statement successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerkleProofInfoDTO'
              examples:
                default:
                  value:
                    merklePath:
                      - position: left
                        hash: C8FC3FB54FDDFBCE0E8C71224990124E4EEC5AD5D30E592EDFA9524669A23810
                      - position: right
                        hash: 5E62690AB46E5565E8C0B5B5A1B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /chain/info:
    get:
      tags:
        - Chain routes
      summary: Get chain information
      description: |
        Returns the current state of the blockchain: chain height, chain score, and the
        latest finalized block.
      operationId: getChainInfo
      responses:
        '200':
          description: Chain information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainInfoDTO'
              examples:
                chainInfo:
                  summary: Chain info example
                  value:
                    height: '5270371'
                    scoreHigh: '35'
                    scoreLow: '9355904769811254014'
                    latestFinalizedBlock:
                      finalizationEpoch: 3661
                      finalizationPoint: 68
                      height: '5270348'
                      hash: C219E4BBF8347AE5943BCB4B7D583BE4D7ED55DD6F4D2CD0A018F0D5A6AE0D86
  /finalization/proof/epoch/{epoch}:
    get:
      tags:
        - Finalization routes
      summary: Get finalization proof at epoch
      description: Returns the finalization proof for the greatest block height associated with the given finalization epoch.
      operationId: getFinalizationProofAtEpoch
      parameters:
        - $ref: '#/components/parameters/epochPath'
      responses:
        '200':
          description: Finalization proof successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinalizationProofDTO'
              examples:
                finalizationProof:
                  summary: Example for epoch 3661
                  value:
                    version: 1
                    finalizationEpoch: 3661
                    finalizationPoint: 68
                    height: '5270348'
                    hash: C219E4BBF8347AE5943BCB4B7D583BE4D7ED55DD6F4D2CD0A018F0D5A6AE0D86
                    messageGroups:
                      - stage: 0
                        height: '5270348'
                        hashes:
                          - C219E4BBF8347AE5943BCB4B7D583BE4D7ED55DD6F4D2CD0A018F0D5A6AE0D86
                        signatures:
                          - root:
                              parentPublicKey: 7EDF52C5B42F72FDB4C8A59C6E2350DF43F3E35DCDBE6F6B4A3E2D1C0B9A8978
                              signature: 8F7E6D5C4B3A2918F7E6D5C4B3A291807F6E5D4C3B2A1908F7E6D5C4B3A291807F6E5D4C3B2A1908F7
                            bottom:
                              parentPublicKey: 7EDF52C5B42F72FDB4C8A59C6E2350DF43F3E35DCDBE6F6B4A3E2D1C0B9A8978
                              signature: 9E8D7C6B5A49382A1F0E9D8C7B6A5948E7D6C5B4A39281F0E9D8C7B6A5948E7D6C5B4A39281F0E9D8C
                      - stage: 1
                        height: '5270348'
                        hashes:
                          - C219E4BBF8347AE5943BCB4B7D583BE4D7ED55DD6F4D2CD0A018F0D5A6AE0D86
                        signatures:
                          - root:
                              parentPublicKey: 7EDF52C5B42F72FDB4C8A59C6E2350DF43F3E35DCDBE6F6B4A3E2D1C0B9A8978
                              signature: 1A2B3C4D5E6F7890A1B2C3D4E5F6078A9B0C1D2E3F4A5B6C7D8E9F0A1B2C3D4E5F6078A9B0C1D2E3F4
                            bottom:
                              parentPublicKey: 7EDF52C5B42F72FDB4C8A59C6E2350DF43F3E35DCDBE6F6B4A3E2D1C0B9A8978
                              signature: 2B3C4D5E6F70819A2B3C4D5E6F70819A2B3C4D5E6F70819A2B3C4D5E6F70819A2B3C4D5E6F70819A2B
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /finalization/proof/height/{height}:
    get:
      tags:
        - Finalization routes
      summary: Get finalization proof at height
      description: Returns the finalization proof for the block at the given height.
      operationId: getFinalizationProofAtHeight
      parameters:
        - $ref: '#/components/parameters/heightPath'
      responses:
        '200':
          description: Finalization proof successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinalizationProofDTO'
              examples:
                finalizationProof:
                  summary: Example for height 5270348
                  value:
                    version: 1
                    finalizationEpoch: 3661
                    finalizationPoint: 68
                    height: '5270348'
                    hash: C219E4BBF8347AE5943BCB4B7D583BE4D7ED55DD6F4D2CD0A018F0D5A6AE0D86
                    messageGroups:
                      - stage: 0
                        height: '5270348'
                        hashes:
                          - C219E4BBF8347AE5943BCB4B7D583BE4D7ED55DD6F4D2CD0A018F0D5A6AE0D86
                        signatures:
                          - root:
                              parentPublicKey: 7EDF52C5B42F72FDB4C8A59C6E2350DF43F3E35DCDBE6F6B4A3E2D1C0B9A8978
                              signature: 8F7E6D5C4B3A2918F7E6D5C4B3A291807F6E5D4C3B2A1908F7E6D5C4B3A291807F6E5D4C3B2A1908
                            bottom:
                              parentPublicKey: 7EDF52C5B42F72FDB4C8A59C6E2350DF43F3E35DCDBE6F6B4A3E2D1C0B9A8978
                              signature: 9E8D7C6B5A49382A1F0E9D8C7B6A5948E7D6C5B4A39281F0E9D8C7B6A5948E7D6C5B4A39281F0E9
                      - stage: 1
                        height: '5270348'
                        hashes:
                          - C219E4BBF8347AE5943BCB4B7D583BE4D7ED55DD6F4D2CD0A018F0D5A6AE0D86
                        signatures:
                          - root:
                              parentPublicKey: 7EDF52C5B42F72FDB4C8A59C6E2350DF43F3E35DCDBE6F6B4A3E2D1C0B9A8978
                              signature: 1A2B3C4D5E6F7890A1B2C3D4E5F6078A9B0C1D2E3F4A5B6C7D8E9F0A1B2C3D4E5F6078A9B0C1D2
                            bottom:
                              parentPublicKey: 7EDF52C5B42F72FDB4C8A59C6E2350DF43F3E35DCDBE6F6B4A3E2D1C0B9A8978
                              signature: 2B3C4D5E6F70819A2B3C4D5E6F70819A2B3C4D5E6F70819A2B3C4D5E6F70819A2B3C4D5E6F708
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /network:
    get:
      tags:
        - Network routes
      summary: Get the current network type of the chain
      description: Returns the current network type.
      operationId: getNetworkType
      responses:
        '200':
          description: Network type successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkTypeDTO'
              examples:
                mainnet:
                  summary: Mainnet
                  value:
                    name: mainnet
                    description: Symbol Mainnet
                testnet:
                  summary: Testnet
                  value:
                    name: testnet
                    description: Symbol Testnet
  /network/fees/rental:
    get:
      tags:
        - Network routes
      summary: Get rental fees information
      description: |
        Returns the estimated effective rental fees for namespaces and mosaics.
        This endpoint is only available if the REST instance has access to catapult-server `resources/config-network.properties` file.
        To activate this feature, add the setting `network.propertiesFilePath` in the configuration file (`rest/resources/rest.json`).
      operationId: getRentalFees
      responses:
        '200':
          description: Rental fees successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RentalFeesDTO'
              examples:
                rentalFees:
                  summary: Rental fees example
                  value:
                    effectiveRootNamespaceRentalFeePerBlock: '200'
                    effectiveChildNamespaceRentalFee: '10000000'
                    effectiveMosaicRentalFee: '50000000'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /network/fees/transaction:
    get:
      tags:
        - Network routes
      summary: Get transaction fees information
      description: |
        Returns the average, median, highest, and lowest fee multiplier over the last `numBlocksTransactionFeeStats` blocks.
        The setting `numBlocksTransactionFeeStats` is adjustable in the REST configuration file (`rest.json`) per REST instance.
      operationId: getTransactionFees
      responses:
        '200':
          description: Transaction fees successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionFeesDTO'
              examples:
                transactionFees:
                  summary: Mainnet transaction fees example
                  value:
                    averageFeeMultiplier: 103
                    medianFeeMultiplier: 100
                    highestFeeMultiplier: 1136
                    lowestFeeMultiplier: 0
                    minFeeMultiplier: 10
  /network/properties:
    get:
      tags:
        - Network routes
      summary: Get the network properties
      description: |
        Returns the content from a catapult-server network configuration file (e.g. `config-network.properties`).
        To enable this feature, the REST setting `apiNode.networkPropertyFilePath` in the config file (e.g. `rest.json`)
        must define where the file is located.
      operationId: getNetworkProperties
      responses:
        '200':
          description: Network configuration successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkConfigurationDTO'
              examples:
                networkProperties:
                  summary: Example mainnet properties
                  value:
                    network:
                      identifier: mainnet
                      nemesisSignerPublicKey: BE0B4CF546B7B4F4BBFCFF9F574FDA527C07A53D3FC76F8BB7DB746F8E8E0A9F
                      nodeEqualityStrategy: host
                      generationHashSeed: 57F7DA205008026C776CB6AED843393F04CD458E0AA2D9F1D5F31A402072B2D6
                      epochAdjustment: 1615853185s
                    chain:
                      enableVerifiableState: true
                      enableVerifiableReceipts: true
                      currencyMosaicId: 0x6BED'913F'A202'23F8
                      harvestingMosaicId: 0x6BED'913F'A202'23F8
                      blockGenerationTargetTime: 30s
                      blockTimeSmoothingFactor: '3000'
                      importanceGrouping: '720'
                      importanceActivityPercentage: '5'
                      maxRollbackBlocks: '0'
                      maxDifficultyBlocks: '60'
                      defaultDynamicFeeMultiplier: '100'
                      maxTransactionLifetime: 6h
                      maxBlockFutureTime: 300ms
                      initialCurrencyAtomicUnits: 7'842'928'625'000'000
                      maxMosaicAtomicUnits: 8'999'999'999'000'000
                      totalChainImportance: 7'842'928'625'000'000
                      minHarvesterBalance: 10'000'000'000
                      maxHarvesterBalance: 50'000'000'000'000
                      minVoterBalance: 3'000'000'000'000
                      votingSetGrouping: '1440'
                      maxVotingKeysPerAccount: '3'
                      minVotingKeyLifetime: '112'
                      maxVotingKeyLifetime: '360'
                      harvestBeneficiaryPercentage: '25'
                      harvestNetworkPercentage: '5'
                      harvestNetworkFeeSinkAddressV1: NBUTOBVT5JQDCV6UEPCPFHWWOAOPOCLA5AY5FLI
                      harvestNetworkFeeSinkAddress: NAVORTEX3IPBAUWQBBI3I3BDIOS4AVHPZLCFC7Y
                      maxTransactionsPerBlock: 6'000
                    plugins:
                      accountlink:
                        dummy: to trigger plugin load
                      aggregate:
                        maxTransactionsPerAggregate: '100'
                        maxCosignaturesPerAggregate: '25'
                        enableStrictCosignatureCheck: false
                        enableBondedAggregateSupport: true
                        maxBondedTransactionLifetime: 48h
                      lockhash:
                        lockedFundsPerAggregate: 10'000'000
                        maxHashLockDuration: 2d
                      locksecret:
                        maxSecretLockDuration: 365d
                        minProofSize: '0'
                        maxProofSize: '1024'
                      metadata:
                        maxValueSize: '1024'
                      mosaic:
                        maxMosaicsPerAccount: 1'000
                        maxMosaicDuration: 3650d
                        maxMosaicDivisibility: '6'
                        mosaicRentalFeeSinkAddressV1: NC733XE7DF46Q7QYLIIZBBSCJN2BEEP5FQ6PAYA
                        mosaicRentalFeeSinkAddress: NCVORTEX4XD5IQASZQEHDWUXT33XBOTBMKFDCLI
                        mosaicRentalFee: '500000'
                      multisig:
                        maxMultisigDepth: '3'
                        maxCosignatoriesPerAccount: '25'
                        maxCosignedAccountsPerAccount: '25'
                      namespace:
                        maxNameSize: '64'
                        maxChildNamespaces: '100'
                        maxNamespaceDepth: '3'
                        minNamespaceDuration: 30d
                        maxNamespaceDuration: 1825d
                        namespaceGracePeriodDuration: 30d
                        reservedRootNamespaceNames: symbol, symbl, xym, xem, nem, user, account, org, com, biz, net, edu, mil, gov, info
                        namespaceRentalFeeSinkAddressV1: NBDTBUD6R32ZYJWDEWLJM4YMOX3OOILHGDUMTSA
                        namespaceRentalFeeSinkAddress: NCVORTEX4XD5IQASZQEHDWUXT33XBOTBMKFDCLI
                        rootNamespaceRentalFeePerBlock: '2'
                        childNamespaceRentalFee: '100000'
                      restrictionaccount:
                        maxAccountRestrictionValues: '100'
                      restrictionmosaic:
                        maxMosaicRestrictionValues: '20'
                      transfer:
                        maxMessageSize: '1024'
                    forkHeights:
                      totalVotingBalanceCalculationFix: 528'000
                      treasuryReissuance: 689'761
                      strictAggregateTransactionHash: 1'690'500
                      skipSecretLockUniquenessChecks: 3'191'538
                      skipSecretLockExpirations: 3'197'860, 3'197'866
                      forceSecretLockExpirations: 3'197'458, 3'197'781
                      uniqueAggregateTransactionHash: 4'759'100
                    treasuryReissuanceTransactionSignatures:
                      - 0BBEADD37539444D75C09A245102D2B883267925398504623835DCD625290DEE4FA2371341050C49C001DEDD1C9FE241EA4A7DB335B2069FD4DAFF77AF734C03
                      - 89447704270E8B2F8EED19526587DB58870D90A02ACEF8AE2A54311DEB95C227201CD39662A0229D5746FFB84074EA6C7DD9620A2CE5AA69065C508DC0335201
                      - A317F4EB085C8D3D80435669EF54C6C9C9AD9B57165B14CF051F43879D0112E3A79591DD6D469BFAA850891FA2CB601BA58CD1BAEBFF5D84C49179AC7FE14706
                      - C0BAE301EC15B514C5685A661BC3E23A6596CE9DC412A83F67A8C8611A4415B1B0447E8C09D2816CAE0D750C4AB1ED8FE9C85C05D448C2114147A2C935030708
                      - C478DB6053C639AFC96F5D965159DC95449E5EE69A62E5FA28DF42D85C031B3A131B3AC403D9BFF27E1E64FD8012D05C720F0D2A8654D9F4BC48C8DD2DCEBC03
                      - D19BCD440545CF785D88F903141DE794F2D57012509BC224B25BFCA220267D1ADD42182702F50C1A4E95D0F21604E4F9EEEEF329932FCD0C76B43992B0D90B0D
                      - FDB98C472D0B98FDD766DA177366DEB2DB0E79721BD73DA96A84622A98932DA75BAA327BA9E23D448C6F25344654A6F17F7734C14D1530B327F911A97B4DE30A
                    corruptAggregateTransactionHashes:
                      - 26FF5E7174DEEF3147DB25C37C7AE9905157ACBA2D233D40D1F77A65B60D59BC = 3A2F78C2E7B10FF84EB33BF1DD0FD61951F8E3EA330361
                      - 2DF1D19B5E68102665D11B3CF3069AB5DFED2E60A7690C8788172E0E5E30B72D = 3B64321593D06FF37B191F52FE31E107A8FDB0116AB537
                      - 30FA71E6D1E34DF1E430A07E1B0817BED9A4ED6B0245B7471B0557380A700E1B = AE377EAB7F1970DEC21FF305C39EBDD3ECE413B911EF3E
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /network/inflation:
    get:
      tags:
        - Network routes
      summary: Returns the inflation distribution schedule
      description: |
        Retrieves the network inflation table, where each entry specifies a starting block height and the reward amount
        applied from that height onward.
      operationId: getNetworkInflation
      responses:
        '200':
          description: Inflation distribution schedule successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                description: |
                  Inflation schedule: inflection points (height, reward amount) sorted by height.
                  Each entry defines the reward amount in effect from that block height until the next entry.
                items:
                  $ref: '#/components/schemas/NetworkInflationDTO'
              examples:
                inflation:
                  summary: Example inflation schedule
                  value:
                    - startHeight: '2'
                      rewardAmount: '0'
                    - startHeight: '5760'
                      rewardAmount: '191997042'
                    - startHeight: '172799'
                      rewardAmount: '183764522'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /network/inflation/at/{height}:
    get:
      tags:
        - Network routes
      summary: Returns the inflation distribution data at a specific height
      description: |
        Retrieves network inflation parameters at a given block height.
      operationId: getNetworkInflationAtHeight
      parameters:
        - $ref: '#/components/parameters/heightPath'
      responses:
        '200':
          description: Inflation parameters at the given height successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInflationDTO'
              examples:
                inflationAtHeight:
                  summary: Inflation at block height 5760
                  value:
                    startHeight: '5760'
                    rewardAmount: '191997042'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /network/currency/supply/max:
    get:
      tags:
        - Network routes
      summary: Returns max currency supply
      description: |
        Returns the maximum possible supply of the network currency mosaic.

        Data sources:
          - Maximum supply (`chain.maxMosaicAtomicUnits`) defined in the network properties file
          - Network currency divisibility from blockchain state

        This represents the protocol-level supply cap configured for the network currency.
      operationId: getMaxCurrencySupply
      responses:
        '200':
          description: |
            Successful response containing the max currency supply.

            The value is expressed in whole units with a fractional part
            determined by the mosaic divisibility and returned as a fixed-decimal string.
          content:
            text/plain:
              schema:
                type: string
                pattern: ^\d+\.\d+$
                examples:
                  - '8999999999.000000'
  /network/currency/supply/total:
    get:
      tags:
        - Network routes
      summary: Returns total currency supply
      description: |
        Returns the total current on-chain supply of the network currency mosaic.

        Data sources:
          - Mosaic supply and divisibility from blockchain state

        This value includes both circulating and uncirculating balances and represents
        the full issued supply currently recorded on-chain.
      operationId: getTotalCurrencySupply
      responses:
        '200':
          description: |
            Successful response containing the total currency supply.

            The value is expressed in whole units with a fractional part
            determined by the mosaic divisibility and returned as a fixed-decimal string.
          content:
            text/plain:
              schema:
                type: string
                pattern: ^\d+\.\d+$
                examples:
                  - '7842928625.000000'
  /network/currency/supply/circulating:
    get:
      tags:
        - Network routes
      summary: Returns circulating currency supply
      description: |
        Returns the current circulating supply of the network currency mosaic.

        Circulating supply represents the portion of total on-chain supply that is not held in
        designated uncirculating or reserved accounts (e.g. nemesis or treasury accounts).

        Data sources:
          - Mosaic supply and divisibility from blockchain state
          - Nemesis signer public key from network properties file
          - Uncirculating account public keys defined in rest.json (`uncirculatingAccountPublicKeys`)
      operationId: getCirculatingCurrencySupply
      responses:
        '200':
          description: |
            Successful response containing the circulating currency supply.

            The value is expressed in whole units with a fractional part
            determined by the mosaic divisibility and returned as a fixed-decimal string.
          content:
            text/plain:
              schema:
                type: string
                pattern: ^\d+\.\d+$
                examples:
                  - '6351335211.744781'
  /node/health:
    get:
      tags:
        - Node routes
      summary: Get the node health information
      description: Supplies information regarding the connection and services status.
      operationId: getNodeHealth
      responses:
        '200':
          description: Both API node and database services are reachable from REST server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeHealthInfoDTO'
        '503':
          description: Either API node or database service is unavailable or unreachable from REST server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeHealthInfoDTO'
  /node/info:
    get:
      tags:
        - Node routes
      summary: Get the node information
      description: Supplies additional information about the application running on a node.
      operationId: getNodeInfo
      responses:
        '200':
          description: Node information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeInfoDTO'
              examples:
                nodeInfo:
                  summary: Example node info
                  value:
                    version: 16777993
                    publicKey: AC1A6E1D8DE5B17D2C6B1293F1CAD3829EEACF38D09311BB3C8E5A880092DE26
                    networkGenerationHashSeed: 57F7DA205008026C776CB6AED843393F04CD458E0AA2D9F1D5F31A402072B2D6
                    roles: 7
                    port: 7900
                    networkIdentifier: 152
                    friendlyName: api-node-0
                    host: 127.0.0.1
  /node/peers:
    get:
      tags:
        - Node routes
      summary: Get peers information
      description: Gets the list of peers visible by the node.
      operationId: getNodePeers
      responses:
        '200':
          description: Node peers successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                description: |
                  List of peer nodes visible to the connected node.
                items:
                  $ref: '#/components/schemas/NodeInfoDTO'
              examples:
                nodePeers:
                  summary: Example list of peer nodes
                  value:
                    - version: 16777993
                      publicKey: AC1A6E1D8DE5B17D2C6B1293F1CAD3829EEACF38D09311BB3C8E5A880092DE26
                      networkGenerationHashSeed: 57F7DA205008026C776CB6AED843393F04CD458E0AA2D9F1D5F31A402072B2D6
                      roles: 2
                      port: 7900
                      networkIdentifier: 152
                      friendlyName: api-node-0
                      host: 127.0.0.1
                    - version: 16777994
                      publicKey: FA313F7B4E6148B0E6CB8637599678D1587FCBCFD16F6E3FCBEC9A035B6C2F21
                      networkGenerationHashSeed: 57F7DA205008026C776CB6AED843393F04CD458E0AA2D9F1D5F31A402072B2D6
                      roles: 7
                      port: 7900
                      networkIdentifier: 152
                      friendlyName: peer-node-1
                      host: 192.168.1.10
  /node/storage:
    get:
      tags:
        - Node routes
      summary: Get the storage information of the node
      description: Returns storage information about the node.
      operationId: getNodeStorage
      responses:
        '200':
          description: Storage information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageInfoDTO'
              examples:
                nodeStorage:
                  summary: Example node storage statistics
                  value:
                    numBlocks: 245053
                    numTransactions: 58590
                    numAccounts: 177
  /node/time:
    get:
      tags:
        - Node routes
      summary: Get the node time
      description: Gets the node time at the moment the reply was sent and received.
      operationId: getNodeTime
      responses:
        '200':
          description: Node time successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeTimeDTO'
              examples:
                nodeTime:
                  summary: Example node time with round-trip timestamps
                  value:
                    communicationTimestamps:
                      sendTimestamp: '108303181802'
                      receiveTimestamp: '108303181850'
  /node/server:
    get:
      tags:
        - Node routes
      summary: Get the version of the running REST component
      description: Returns the version of the running catapult-rest component.
      operationId: getServerInfo
      responses:
        '200':
          description: Server information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerInfoDTO'
              examples:
                serverInfo:
                  summary: Example REST server and deployment info
                  value:
                    serverInfo:
                      restVersion: 1.0.14
                      deployment:
                        deploymentTool: symbol-shoestring
                        deploymentToolVersion: 1.0.0
                        lastUpdatedDate: '2025-06-02'
  /node/unlockedaccount:
    get:
      tags:
        - Node routes
      summary: Get the unlocked harvesting account public keys
      description: Returns array of unlocked account public keys.
      operationId: getUnlockedAccount
      responses:
        '200':
          description: Unlocked harvesting accounts successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnlockedAccountDTO'
              examples:
                unlockedAccount:
                  summary: Example unlocked harvesting accounts
                  value:
                    unlockedAccount:
                      - AC1A6E1D8DE5B17D2C6B1293F1CAD3829EEACF38D09311BB3C8E5A880092DE26
                      - FA313F7B4E6148B0E6CB8637599678D1587FCBCFD16F6E3FCBEC9A035B6C2F21
  /node/metadata:
    get:
      tags:
        - Node routes
      summary: Retrieve node metadata
      description: |
        Gets the node metadata information that has been set by the node operator.

        **How to set:** Add a top-level `nodeMetadata` object in the REST server JSON configuration
        file. Example:

        ```json
        {
          "nodeMetadata": {
            "deploymentTool": "symbol-shoestring",
            "version": "1.0.0",
            "customLabel": "my-node"
          }
        }
        ```

        The entire `nodeMetadata` object is served as-is; add any key-value pairs to personalize
        your node.
      operationId: getNodeMetadata
      responses:
        '200':
          description: Node metadata successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeMetadataDTO'
              examples:
                nodeMetadata:
                  summary: Example node metadata (symbol-shoestring)
                  value:
                    deploymentTool: symbol-shoestring
                    version: 1.0.2
                    nodeName: api-node-0
  /transactions:
    put:
      tags:
        - Transaction routes
      summary: Announce a new transaction
      description: |
        Broadcasts a signed transaction to the network through this node.

        The request must contain the serialized transaction payload in hexadecimal form. Transactions are
        normally created and signed client-side with a [Symbol SDK](https://docs.symbol.dev/sdk.html) and
        then announced with this endpoint.

        The [catbuffer library](https://github.com/symbol/symbol/tree/main/catbuffer) defines the binary
        serialization format used by Symbol entities.

        Acceptance by this node does not mean the transaction is already part of the blockchain. The
        transaction still needs to be validated and confirmed by the network.

        To verify the final result, query `GET /transactionStatus/{hash}` on the same node that received
        the announce request. If that node drops the transaction before propagation, other nodes may not know
        the transaction at all and can return `404` for the same hash. Transaction status availability is not guaranteed
        indefinitely: failed statuses are stored in a capped collection and may be evicted as new entries arrive.
      operationId: announceTransaction
      requestBody:
        $ref: '#/components/requestBodies/transactionPayload'
      responses:
        '202':
          description: Transaction accepted for processing and broadcast by the node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnounceTransactionInfoDTO'
              examples:
                success:
                  summary: Transaction packet pushed to the node
                  value:
                    message: packet 9 was pushed to the network via /transactions
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /transactions/confirmed:
    get:
      tags:
        - Transaction routes
      summary: Search confirmed transactions
      description: |
        Returns a paginated list of confirmed transactions matching the supplied filters.

        Use this endpoint when you need on-chain transactions only (already included in blocks).
        Use `searchUnconfirmedTransactions` for transactions that are still pending in a node pool, and
        use `searchPartialTransactions` for aggregate bonded transactions waiting for cosignatures.

        If a transaction was announced with an alias rather than an address, the address considered during
        filtering is the one resolved from that alias at confirmation time.

        For cursor-style pagination on this endpoint, set `offset` to the `id` of the last transaction
        from the previous page. For general pagination strategy guidance, see the `offset` and
        `pageNumber` query parameter descriptions.
      operationId: searchConfirmedTransactions
      parameters:
        - $ref: '#/components/parameters/addressQuery'
        - $ref: '#/components/parameters/recipientAddressQuery'
        - $ref: '#/components/parameters/signerPublicKeyQuery'
        - $ref: '#/components/parameters/heightQuery'
        - $ref: '#/components/parameters/fromHeightQuery'
        - $ref: '#/components/parameters/toHeightQuery'
        - $ref: '#/components/parameters/fromTransferAmountQuery'
        - $ref: '#/components/parameters/toTransferAmountQuery'
        - $ref: '#/components/parameters/transactionTypesQuery'
        - $ref: '#/components/parameters/embeddedQuery'
        - $ref: '#/components/parameters/transferMosaicIdQuery'
        - $ref: '#/components/parameters/pageSizeQuery'
        - $ref: '#/components/parameters/pageNumberQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/orderQuery'
      responses:
        '200':
          description: Page of confirmed transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionPage'
              examples:
                topLevelOnly:
                  summary: Example response with embedded set to false
                  value:
                    data:
                      - meta:
                          height: '1'
                          hash: 96285C7EB0622892F4F67772DB2E030E4FDDBF389CAF164790CA846D8280EA1A
                          merkleComponentHash: 96285C7EB0622892F4F67772DB2E030E4FDDBF389CAF164790CA846D8280EA1A
                          index: 6505
                          timestamp: '0'
                          feeMultiplier: 0
                        transaction:
                          size: 176
                          signature: 86499F4AF09ED620D961C0A2CD5D22400A632E360F7FA23EA5D62C2B60A63E00EE1F34455657C1C72FA597D
                          signerPublicKey: BE0B4CF546B7B4F4BBFCFF9F574FDA527C07A53D3FC76F8BB7DB746F8E8E0A9F
                          version: 1
                          network: 104
                          type: 16724
                          maxFee: '0'
                          deadline: '1'
                          recipientAddress: 68338CA70482DF1658E60BBC4657C1D74A2E5827FEF4DC37
                          mosaics:
                            - id: E74B99BA41F4AFEE
                              amount: '24441954321'
                        id: 60574DCDA0A3E6414C032983
                    pagination:
                      pageNumber: 1
                      pageSize: 10
                includingEmbedded:
                  summary: Example response with embedded set to true
                  value:
                    data:
                      - meta:
                          height: '5299119'
                          hash: E4D08A928C14038E34482EFBC5BC213B481FCB6212F3302968565B96E81963D6
                          merkleComponentHash: E59CEFF103FA692C2AEFCBEAAE75B0609C860E5B47BF9A05BCDA1AC1B11099B3
                          index: 0
                          timestamp: '159206499627'
                          feeMultiplier: 100
                        transaction:
                          size: 712
                          signature: E6ACAA3328B6DE2650918FC24360F70D3AD8B65C7CD139815A453D37B3F22C21D7A32ED98E1CECA924C
                          signerPublicKey: 0544EA984581DBF1C0A98F14231F83AAAFC4F26E09DB035CE0C99737DE4E1DD7
                          version: 3
                          network: 104
                          type: 16961
                          maxFee: '71200'
                          deadline: '159213671557'
                          transactionsHash: C8E3AD4E745AC47D688337EF4E23A9238600D41771E68EA1783A33E50A67F8DC
                          cosignatures:
                            - version: '0'
                              signerPublicKey: DD8710269484573DB6C497B6722B6B8A5D1136305C16CD81313F899CD792FCA5
                              signature: F29AC6AF8FB7EE85535927502253B04A3EA934A60AB57F39C30EBFFE72D9F52A3F42173A6D9BDEC8
                          transactions:
                            - meta:
                                height: '5299119'
                                aggregateHash: E4D08A928C14038E34482EFBC5BC213B481FCB6212F3302968565B96E81963D6
                                aggregateId: 69CD42DF2976BBB47C19E3AE
                                index: 1
                                timestamp: '159206499627'
                                feeMultiplier: 100
                              transaction:
                                signerPublicKey: 88F44BBD37BE0F98A7F06B6D958E0A8807F05A9A14F5DE408012E2AA6E2A84DE
                                version: 1
                                network: 104
                                type: 16724
                                recipientAddress: 68E5AC45A655D1F08C4D13825DA9D9822C89080F5ADCAAD1
                                message: 011F102526858BE43F4CBA54E9F62E80B22830DEB5FA180431ED4633701D2ABC0C6129D1719C087BCE1C23
                                mosaics: []
                              id: 69CD42DF2976BBB47C19E3B0
                        id: 69CD42DF2976BBB47C19E3AE
                      - meta:
                          height: '5299119'
                          aggregateHash: E4D08A928C14038E34482EFBC5BC213B481FCB6212F3302968565B96E81963D6
                          aggregateId: 69CD42DF2976BBB47C19E3AE
                          index: 1
                          timestamp: '159206499627'
                          feeMultiplier: 100
                        transaction:
                          signerPublicKey: 88F44BBD37BE0F98A7F06B6D958E0A8807F05A9A14F5DE408012E2AA6E2A84DE
                          version: 1
                          network: 104
                          type: 16724
                          recipientAddress: 68E5AC45A655D1F08C4D13825DA9D9822C89080F5ADCAAD1
                          message: 011F102526858BE43F4CBA54E9F62E80B22830DEB5FA180431ED4633701D2ABC0C6129D1719C087BCE1C23
                          mosaics: []
                        id: 69CD42DF2976BBB47C19E3B0
                    pagination:
                      pageNumber: 1
                      pageSize: 100
        '409':
          $ref: '#/components/responses/InvalidArgument'
    post:
      tags:
        - Transaction routes
      summary: Get confirmed transactions information
      description: |
        Returns confirmed transactions for the list of identifiers in the request body.
        Each request item can be either a transaction ID assigned by the node or a transaction hash.
        Both values are returned by transaction retrieval and search endpoints, for example
        `GET /transactions/confirmed` and `GET /transactions/confirmed/{transactionId}`.

        Use this endpoint when you need on-chain data for multiple transactions in one call.
        Use `getUnconfirmedTransactions` for transactions still pending in a node pool, and
        use `getPartialTransactions` for aggregate bonded transactions waiting for cosignatures.
      operationId: getConfirmedTransactions
      requestBody:
        $ref: '#/components/requestBodies/transactionIds'
      responses:
        '200':
          description: Confirmed transaction information for the requested identifiers.
          content:
            application/json:
              schema:
                type: array
                description: Array of confirmed transaction entries.
                items:
                  $ref: '#/components/schemas/TransactionInfoDTO'
              examples:
                default:
                  summary: Example confirmed transaction batch response
                  value:
                    - meta:
                        height: '5299379'
                        hash: 399724B8F6EBA9327D84B52B39BD6B6B1CD07819DEEE633F3AB9BDC9A305B930
                        merkleComponentHash: 215CA36FDB4FA94796DE931FAA68C97C855D69770CF0CAED0AC4D7E460580844
                        index: 0
                        timestamp: '159214132791'
                        feeMultiplier: 128
                      transaction:
                        size: 368
                        signature: 0C34EA160F07070DAED62E734EAE734D1DFBD78499486A09561094551946DE3BAF79317AA000718724255C67BE
                        signerPublicKey: B93B3931652DF080F1699F0EA14C6C760075785981C034AD4F435AC1EBEDA137
                        version: 3
                        network: 104
                        type: 16961
                        maxFee: '47200'
                        deadline: '159221254067'
                        transactionsHash: 2C4946AB5EAD0224CBF43EE1432A06833243892CD27FE3B6CD0797E959CA5DC7
                        cosignatures:
                          - version: '0'
                            signerPublicKey: 3AB7AF84CC38E4E112F840ABD31866BD83AD5BCE765F31F84601D35799B9FFF4
                            signature: 07BBD3BD1EBFDDE9B771F646278DEAEA245ED8FA66800169EE533377884F76816DEEDA8A8319EC838930DC
                      id: 69CD60B02976BBB47C19E5D9
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /transactions/confirmed/{transactionId}:
    get:
      tags:
        - Transaction routes
      summary: Get confirmed transaction information
      description: |
        Returns confirmed transaction information given a transaction ID assigned by the node or transaction hash.

        Use this endpoint when you need on-chain transaction data (the transaction is already included in a block).
        Use `getUnconfirmedTransaction` while the transaction is still in a node's unconfirmed pool, and
        use `getPartialTransaction` for aggregate bonded transactions waiting for cosignatures.
      operationId: getConfirmedTransaction
      parameters:
        - $ref: '#/components/parameters/transactionIdPath'
      responses:
        '200':
          description: Confirmed transaction information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionInfoDTO'
              examples:
                aggregateTransaction:
                  summary: Example confirmed aggregate transaction
                  value:
                    meta:
                      height: '5299379'
                      hash: 399724B8F6EBA9327D84B52B39BD6B6B1CD07819DEEE633F3AB9BDC9A305B930
                      merkleComponentHash: 215CA36FDB4FA94796DE931FAA68C97C855D69770CF0CAED0AC4D7E460580844
                      index: 0
                      timestamp: '159214132791'
                      feeMultiplier: 128
                    transaction:
                      size: 368
                      signature: 0C34EA160F07070DAED62E734EAE734D1DFBD78499486A09561094551946DE3BAF79317AA000718724255C67BE
                      signerPublicKey: B93B3931652DF080F1699F0EA14C6C760075785981C034AD4F435AC1EBEDA137
                      version: 3
                      network: 104
                      type: 16961
                      maxFee: '47200'
                      deadline: '159221254067'
                      transactionsHash: 2C4946AB5EAD0224CBF43EE1432A06833243892CD27FE3B6CD0797E959CA5DC7
                      cosignatures:
                        - version: '0'
                          signerPublicKey: 3AB7AF84CC38E4E112F840ABD31866BD83AD5BCE765F31F84601D35799B9FFF4
                          signature: 07BBD3BD1EBFDDE9B771F646278DEAEA245ED8FA66800169EE533377884F76816DEEDA8A8319EC838930DCC
                      transactions:
                        - meta:
                            height: '5299379'
                            aggregateHash: 399724B8F6EBA9327D84B52B39BD6B6B1CD07819DEEE633F3AB9BDC9A305B930
                            aggregateId: 69CD60B02976BBB47C19E5D9
                            index: 0
                            timestamp: '159214132791'
                            feeMultiplier: 128
                          transaction:
                            signerPublicKey: 8AC8A6034897189C1C7F30CDD4FE88D881E2CE5F94E2580C390CCEAAD06362D3
                            version: 1
                            network: 104
                            type: 16724
                            recipientAddress: 680D52CD378CDA123BFBBC54DB3CED5C4031473BF0B5EC02
                            mosaics:
                              - id: 6BED913FA20223F8
                                amount: '11254000000'
                          id: 69CD60B02976BBB47C19E5DA
                    id: 69CD60B02976BBB47C19E5D9
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /transactions/unconfirmed:
    get:
      tags:
        - Transaction routes
      summary: Search unconfirmed transactions
      description: |
        Returns a paginated list of unconfirmed transactions matching the supplied filters.

        Use this endpoint for transactions accepted by a node but not yet included in a block.
        Use `searchConfirmedTransactions` for on-chain transactions, and use
        `searchPartialTransactions` for aggregate bonded transactions waiting for cosignatures.

        For cursor-style pagination on this endpoint, set `offset` to the `id` of the last transaction
        from the previous page. For general pagination strategy guidance, see the `offset` and
        `pageNumber` query parameter descriptions.
      operationId: searchUnconfirmedTransactions
      parameters:
        - $ref: '#/components/parameters/addressQuery'
        - $ref: '#/components/parameters/recipientAddressQuery'
        - $ref: '#/components/parameters/signerPublicKeyQuery'
        - $ref: '#/components/parameters/heightQuery'
        - $ref: '#/components/parameters/fromHeightQuery'
        - $ref: '#/components/parameters/toHeightQuery'
        - $ref: '#/components/parameters/fromTransferAmountQuery'
        - $ref: '#/components/parameters/toTransferAmountQuery'
        - $ref: '#/components/parameters/transactionTypesQuery'
        - $ref: '#/components/parameters/embeddedQuery'
        - $ref: '#/components/parameters/transferMosaicIdQuery'
        - $ref: '#/components/parameters/pageSizeQuery'
        - $ref: '#/components/parameters/pageNumberQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/orderQuery'
      responses:
        '200':
          description: Page of unconfirmed transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionPage'
              examples:
                default:
                  summary: Example response with an unconfirmed transaction
                  value:
                    data:
                      - meta:
                          height: '0'
                          hash: 031FE3A39574F2AC073ACC107A18F175F74ADD0A9CE6C4C5B26AA220986662F0
                          merkleComponentHash: 031FE3A39574F2AC073ACC107A18F175F74ADD0A9CE6C4C5B26AA220986662F0
                          index: 0
                        transaction:
                          size: 176
                          signature: 25163A3D6607C900841DC3BF23C5054D47F75D87C22E4143616AA9225D3853DD60FF8DC314DCAC4911CB261B2
                          signerPublicKey: A6977B7FF4C3354EFC9393F7EC6F0FBD85A2A649A0B50A06A6A5452629B28006
                          version: 1
                          network: 104
                          type: 16724
                          maxFee: '17600'
                          deadline: '159220199218'
                          recipientAddress: 68F17F8F3647965E8587F4CADD6B4177213DA8CE3E609EF6
                          mosaics:
                            - id: 6BED913FA20223F8
                              amount: '1000000'
                        id: 69CD5C452976BBB47C19E584
                    pagination:
                      pageNumber: 1
                      pageSize: 10
        '409':
          $ref: '#/components/responses/InvalidArgument'
    post:
      tags:
        - Transaction routes
      summary: Get information about unconfirmed transactions
      description: |
        Returns unconfirmed transactions for the list of identifiers in the request body.
        Unconfirmed transactions are accepted by a node and pending inclusion in a block.

        Each request item can be either a transaction ID assigned by the node or a transaction hash.
        Both values are returned by transaction retrieval and search endpoints, for example
        `GET /transactions/unconfirmed` and `GET /transactions/unconfirmed/{transactionId}`.

        Use this endpoint when checking multiple transactions that are accepted by a node but not yet
        included in a block. Use `getConfirmedTransactions` for on-chain transactions, and
        use `getPartialTransactions` for aggregate bonded transactions waiting for cosignatures.
      operationId: getUnconfirmedTransactions
      requestBody:
        $ref: '#/components/requestBodies/transactionIds'
      responses:
        '200':
          description: Unconfirmed transaction information for the requested identifiers.
          content:
            application/json:
              schema:
                type: array
                description: Array of unconfirmed transaction entries.
                items:
                  $ref: '#/components/schemas/TransactionInfoDTO'
              examples:
                default:
                  summary: Example unconfirmed transaction batch response
                  value:
                    - meta:
                        height: '0'
                        hash: E5D72BEE9EF4BFD1F44757E8929E5434E9213DDB63A1783AA061086F2054D719
                        merkleComponentHash: E5D72BEE9EF4BFD1F44757E8929E5434E9213DDB63A1783AA061086F2054D719
                        index: 0
                      transaction:
                        size: 328
                        signature: 862748DA2628D09C0D53EF937DC0FB8A52388B287368D105F287320153D1B4B372F0B20A82A5B695FE73BFFEFF
                        signerPublicKey: D3078EDE1559AF366629C81E33CBB2859187A682EADC338C7F79E228959A2CC4
                        version: 3
                        network: 152
                        type: 16705
                        maxFee: '32800'
                        deadline: '107828961814'
                        transactionsHash: 96596CE7C3DF325418D75014A37606DC5E7D6840D9181D434F29BD9D0655D2C3
                        cosignatures: []
                      id: 69CD73E4C72A61F64A178158
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /transactions/unconfirmed/{transactionId}:
    get:
      tags:
        - Transaction routes
      summary: Get unconfirmed transaction information
      description: |
        Returns one unconfirmed transaction identified by the path value.
        An unconfirmed transaction is accepted by a node and pending inclusion in a block.

        The path accepts either the transaction ID assigned by the node or the transaction hash.
        Both values are returned by transaction retrieval and search endpoints, for example
        `GET /transactions/unconfirmed` and `GET /transactions/unconfirmed/{transactionId}`.

        Use this endpoint while a transaction is accepted by a node but not yet included in a block.
        Use `getConfirmedTransaction` once it is confirmed on-chain, and use `getPartialTransaction`
        for aggregate bonded transactions waiting for cosignatures.
      operationId: getUnconfirmedTransaction
      parameters:
        - $ref: '#/components/parameters/transactionIdPath'
      responses:
        '200':
          description: Unconfirmed transaction information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionInfoDTO'
              examples:
                aggregateTransaction:
                  summary: Example unconfirmed transaction response
                  value:
                    meta:
                      height: '0'
                      hash: E5D72BEE9EF4BFD1F44757E8929E5434E9213DDB63A1783AA061086F2054D719
                      merkleComponentHash: E5D72BEE9EF4BFD1F44757E8929E5434E9213DDB63A1783AA061086F2054D719
                      index: 0
                    transaction:
                      size: 328
                      signature: 862748DA2628D09C0D53EF937DC0FB8A52388B287368D105F287320153D1B4B372F0B20A82A5B695FE73BFFEFFCD
                      signerPublicKey: D3078EDE1559AF366629C81E33CBB2859187A682EADC338C7F79E228959A2CC4
                      version: 3
                      network: 152
                      type: 16705
                      maxFee: '32800'
                      deadline: '107828961814'
                      transactionsHash: 96596CE7C3DF325418D75014A37606DC5E7D6840D9181D434F29BD9D0655D2C3
                      cosignatures: []
                    id: 69CD73E4C72A61F64A178158
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /transactionStatus:
    post:
      tags:
        - Transaction status routes
      summary: Get transaction statuses
      description: |
        Returns the current statuses of the transactions identified by the given array of transaction hashes.

        When checking status after announcing transactions, it is best to query the same node that received
        the announce request. If that node rejects a transaction before propagation, only that node may know
        the detailed rejection reason. Other nodes may not know the transaction at all because it was never propagated.
      operationId: getTransactionStatuses
      requestBody:
        $ref: '#/components/requestBodies/transactionHashes'
      responses:
        '200':
          description: Transaction statuses successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                description: Transaction statuses matching the requested transaction hashes.
                items:
                  $ref: '#/components/schemas/TransactionStatusDTO'
              examples:
                default:
                  summary: Batch transaction status example
                  value:
                    - group: confirmed
                      code: Success
                      hash: 8EF4E8BB3D4F4741D5C4A692E82D3ED197005DF200C2D3C57B00AAD090D0ECF7
                      deadline: '158608182197'
                      height: '5278957'
                    - group: confirmed
                      code: Success
                      hash: F72BFE1424297A026EB36B07DFDA6AD2D8EC62F0095312EF31A8089E2A007B59
                      deadline: '158608138564'
                      height: '5278956'
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /transactionStatus/{hash}:
    get:
      tags:
        - Transaction status routes
      summary: Get transaction status
      description: |
        Returns the current status of the transaction identified by the given transaction hash.

        When checking status after announcing a transaction, it is best to query the same node that received
        the announce request. If that node rejects the transaction before propagation, only that node may know
        the detailed rejection reason. Other nodes may not know the transaction at all because it was never propagated.
      operationId: getTransactionStatus
      parameters:
        - $ref: '#/components/parameters/transactionHashPath'
      responses:
        '200':
          description: Transaction status successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatusDTO'
              examples:
                default:
                  summary: Confirmed transaction status example
                  value:
                    group: confirmed
                    code: Success
                    hash: 8EF4E8BB3D4F4741D5C4A692E82D3ED197005DF200C2D3C57B00AAD090D0ECF7
                    deadline: '158608182197'
                    height: '5278957'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /transactions/partial:
    get:
      tags:
        - Transaction routes
      summary: Search partial transactions
      description: |
        Returns a paginated list of partial transactions matching the supplied filters.

        Use this endpoint for aggregate bonded transactions that still wait for required cosignatures.
        Use `searchUnconfirmedTransactions` for non-partial pending transactions, and
        use `searchConfirmedTransactions` once transactions are confirmed on-chain.

        For cursor-style pagination on this endpoint, set `offset` to the `id` of the last transaction
        from the previous page. For general pagination strategy guidance, see the `offset` and
        `pageNumber` query parameter descriptions.
      operationId: searchPartialTransactions
      parameters:
        - $ref: '#/components/parameters/addressQuery'
        - $ref: '#/components/parameters/recipientAddressQuery'
        - $ref: '#/components/parameters/signerPublicKeyQuery'
        - $ref: '#/components/parameters/heightQuery'
        - $ref: '#/components/parameters/fromHeightQuery'
        - $ref: '#/components/parameters/toHeightQuery'
        - $ref: '#/components/parameters/fromTransferAmountQuery'
        - $ref: '#/components/parameters/toTransferAmountQuery'
        - $ref: '#/components/parameters/transactionTypesQuery'
        - $ref: '#/components/parameters/embeddedQuery'
        - $ref: '#/components/parameters/transferMosaicIdQuery'
        - $ref: '#/components/parameters/pageSizeQuery'
        - $ref: '#/components/parameters/pageNumberQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/orderQuery'
      responses:
        '200':
          description: Page of partial transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionPage'
              examples:
                topLevelOnly:
                  summary: Example response with partial aggregate bonded transactions
                  value:
                    data:
                      - meta:
                          height: '0'
                          hash: E7FACE48AA997C6249D49C9BE4F30A0F8DB898BF266D578D06C8372CF0012305
                          merkleComponentHash: '0000000000000000000000000000000000000000000000000000000000000000'
                          index: 0
                        transaction:
                          size: 248
                          signature: 416F363728A4F3BD89DF251138BDC4DD2B58B69C9C2CB0D9B2735E4643781023499F442CEB2D2796D4DA1A7C
                          signerPublicKey: FFEA4F971FA8A6DCF63B410F1FF2868A9A7E1EFFD8B73DFB39F190E324F23049
                          version: 3
                          network: 152
                          type: 16961
                          maxFee: '45600'
                          deadline: '107989381281'
                          transactionsHash: 4C88E5297F38E158CAEFDB2674138E581553630F7CAA08C14920688F392F6557
                          cosignatures: []
                        id: 69CD5FAFC72A61F64A177DFC
                    pagination:
                      pageNumber: 1
                      pageSize: 10
                includingEmbedded:
                  summary: Example response with embedded set to true
                  value:
                    data:
                      - meta:
                          height: '0'
                          hash: E7FACE48AA997C6249D49C9BE4F30A0F8DB898BF266D578D06C8372CF0012305
[...]
