openapi: 3.1.0
info:
  version: 1.0.5
  title: Catapult REST Endpoints
  description: OpenAPI Specification of catapult-rest
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://reference.symboltest.net:3001
    description: Testnet node
security:
  - {}
tags:
  - name: Account routes
    description: |
      Accounts are the central entities on the Symbol blockchain. An
      [account](https://docs.symbol.dev/concepts/account.html) is a key pair (private and public key)
      associated with a mutable state stored on-chain. Each account is uniquely identified by an
      [**address**](https://docs.symbol.dev/concepts/cryptography.html#address) derived from its public key,
      encoded in Base32 format (39 characters). The **public key** is recorded on-chain with the first issued transaction
      and remains empty until then.

      An account's on-chain state includes its **balance** (the set of
      [mosaic](https://docs.symbol.dev/concepts/mosaic.html) units it owns) and an
      [**importance score**](https://docs.symbol.dev/concepts/consensus-algorithm.html#importance-calculation)
      that determines the probability of being selected to harvest the next block. Importance is recalculated
      periodically using **activity buckets**, which are rolling data that tracks fees paid, beneficiary counts, and raw
      scores over a sliding window of recalculation periods.

      Accounts participate in block creation through
      [harvesting](https://docs.symbol.dev/concepts/harvesting.html). An eligible account (one that meets the
      minimum balance threshold) can harvest directly, or it can
      [delegate harvesting](https://docs.symbol.dev/concepts/harvesting.html#delegated-harvesting) to a
      **remote account** (proxy) that signs blocks on its behalf. The **account type** field reflects this
      relationship:
      - `0`: Unlinked account, not participating in harvesting delegation.
      - `1`: Balance-holding account (harvester) that is linked to a remote proxy account.
      - `2`: Remote proxy account that signs blocks on behalf of a linked balance-holding account.
      - `3`: Remote-harvester-eligible account that is currently unlinked.

      To enable [remote](https://docs.symbol.dev/concepts/harvesting.html#remote-harvesting) or
      [delegated](https://docs.symbol.dev/concepts/harvesting.html#delegated-harvesting) harvesting, the main
      account links a set of **supplemental public keys**:
      - `Linked key`: public key of the remote proxy account
        ([AccountKeyLinkTransaction](https://docs.symbol.dev/serialization/index.html#accountkeylinktransaction)).
      - `Node key`: public key used for TLS sessions with the node
        ([NodeKeyLinkTransaction](https://docs.symbol.dev/serialization/index.html#nodekeylinktransaction));
        required only for delegated harvesting.
      - `VRF key`: key used to randomize harvester selection
        ([VrfKeyLinkTransaction](https://docs.symbol.dev/serialization/index.html#vrfkeylinktransaction));
        required for all harvesting types.
      - `Voting keys`: keys used for block
        [finalization](https://docs.symbol.dev/concepts/block.html#finalization) voting
        ([VotingKeyLinkTransaction](https://docs.symbol.dev/serialization/index.html#votingkeylinktransaction));
        each key is valid for a defined range of finalization epochs.
  - name: Block routes
    description: |
      [Blocks](https://docs.symbol.dev/concepts/block.html) are the units of the Symbol blockchain. Each block
      contains a list of confirmed [transactions](https://docs.symbol.dev/concepts/transaction.html) and is signed
      by a [harvester](https://docs.symbol.dev/concepts/harvesting.html) account selected by the
      [consensus algorithm](https://docs.symbol.dev/concepts/consensus-algorithm.html).

      - `Height`: unique, sequential position of the block in the chain. Subsequent blocks differ in height by 1.
      - `Timestamp`: number of milliseconds elapsed since the creation of the first block.
      - `Difficulty`: block difficulty (initial 1e14); adjusted in range 1e13 to 1e15 to maintain target block time.
      - `Harvester`: [account](https://docs.symbol.dev/concepts/account.html) that created the block; receives
        transaction [fees](https://docs.symbol.dev/concepts/fees.html) and
        [inflation](https://docs.symbol.dev/concepts/inflation.html) rewards.
      - `Beneficiary address`: optional account designated by the harvester to receive a
        [the block reward](https://docs.symbol.dev/concepts/harvesting.html#rewards).
      - `Fee multiplier`: multiplier applied to transaction size to calculate the
        [effective fee](https://docs.symbol.dev/concepts/fees.html).
      - `Importance block`: a special block type that additionally records voting-eligible account count,
        harvesting-eligible account count, total voting balance, and the previous importance block hash.
      - `Finalization` ([docs](https://docs.symbol.dev/concepts/block.html#finalization)): the process that makes blocks
        permanent. Once a block is finalized, its transactions become immutable. Clients that rely on immutability
        should only trust finalized blocks.
  - name: Chain routes
    description: |
      Chain endpoints provide aggregate information about the blockchain state.
      The [chain score](https://docs.symbol.dev/concepts/block.html) is used during synchronization:
      nodes select the chain with the highest score as the canonical one (higher = better chain).
      The [latest finalized block](https://docs.symbol.dev/concepts/block.html#finalization) is the most recent
      block that has been made permanent and will never be rolled back.
  - name: Finalization routes
    description: |
      [Finalization](https://docs.symbol.dev/concepts/block.html#finalization) is the process that makes
      blocks permanent on the Symbol blockchain. Once a block is finalized, its transactions become
      immutable and will never be rolled back.

      Finalization occurs in rounds called **epochs** (e.g. every 1440 blocks, ~12h on mainnet).
      Each epoch is divided into **finalization points**. Voters (eligible accounts with linked voting keys)
      emit prevote and precommit messages; when more than 67% of the voting stake agrees, the block
      is finalized.

      These endpoints return the **finalization proof** which is cryptographic evidence that a block was
      finalized, including message groups (prevote, precommit, count stages) and BLS aggregate
      signatures from the voter set.
  - name: Metadata routes
  - name: Mosaic routes
    description: |
      [Mosaics](https://docs.symbol.dev/concepts/mosaic.html) are customizable blockchain assets on Symbol.
      A mosaic definition specifies its unique identifier, total supply, divisibility, owner, duration, and behavior flags.

      - `Mosaic id`: unique identifier of a mosaic on Symbol.
      - `Mosaic definition`: on-chain state that describes the mosaic supply, divisibility, owner, duration, and flags.
      - `Supply`: total number of mosaic units in existence, expressed in the smallest indivisible / atomic unit.
      - `Divisibility`: number of decimal places supported by the mosaic, from 0 to 6.
      - `Duration`: number of blocks for which the mosaic remains active. A value of `0` means the mosaic does not expire.
      - `Flags`: behavior settings that control supply mutability, transferability, restrictability, and revocability.
      - `Alias`: namespace alias that can be used to refer to the mosaic instead of its raw mosaic id.

      The behavior flags determine whether the mosaic supply can change, whether it can be transferred between arbitrary
      accounts, whether custom restrictions can be applied, and whether the creator can revoke balances from holders.

      Mosaic endpoints return mosaic definitions, paginated mosaic collections, and Merkle proofs for mosaic state.
  - name: Multisig routes
  - name: Namespace routes
    description: |
      [Namespaces](https://docs.symbol.dev/concepts/namespace.html) are human-readable names that can represent accounts,
      mosaics, or hierarchical naming paths on Symbol. A namespace can be either a **root namespace** or a
      **subnamespace**, and each level is identified by its own namespace id.

      - `Fully-qualified namespace name`: full dot-separated namespace path, for example `symbol.xym`.
      - `Root namespace`: top-level namespace with no parent.
      - `Subnamespace`: child namespace registered under another namespace.
      - `Parent namespace`: direct namespace above a subnamespace in the hierarchy.
      - `Duration`: number of blocks for which the namespace remains active, represented by its lifetime on-chain.
      - `Alias`: link from a namespace to an account address or mosaic id.
      - `Namespace id`: unique identifier derived from the namespace path and level.
      - `Active namespace`: namespace whose lifetime includes the current chain height.

      Namespaces can be linked as aliases to an account address or a mosaic id, making on-chain identifiers easier for
      humans to recognize. Namespace state also tracks owner, lifetime, hierarchy depth, and whether the namespace is
      currently active.

      Namespace endpoints return namespace information, alias name resolution for accounts and mosaics, paginated
      namespace collections, and Merkle proofs for namespace state.
  - name: Network routes
    description: |
      Network endpoints expose configuration and economic parameters of the Symbol blockchain.
      They return **network properties** (identifier, nemesis keys, epoch adjustment),
      **chain properties** (block timing, fees, limits), and **plugin properties** (per-feature settings).
      Additional endpoints provide **currency supply** (total, max, circulating), **inflation** rewards
      at given block heights, **rental fees** for namespaces and mosaics, and **transaction fees**
      (average, median, min/max multipliers).
  - name: Node routes
    description: |
      Node endpoints return information about the specific REST node you are connected to.
      They include **node identity** (public key, roles, host, port), **server version**,
      **health status**, **storage statistics** (blocks, transactions, accounts),
      **node time** (for transaction deadline calculation), **unlocked accounts** (harvesting),
      **connected peers**, and **node metadata** (deployment tool, version).
  - name: Restriction Mosaic routes
  - name: Restriction Account routes
  - name: Receipt routes
  - name: Transaction routes
  - name: Transaction status routes
  - name: Hash Lock routes
  - name: Secret Lock routes
externalDocs:
  description: Symbol Technical Documentation
  url: https://docs.symbol.dev/
paths:
  /accounts:
    get:
      tags:
        - Account routes
      summary: Search accounts
      description: |
        Returns a paginated list of accounts matching the given criteria.

        Results can be filtered by account address and mosaic ownership, and ordered by id or balance.
        Standard pagination parameters (``pageSize``, ``pageNumber``, ``offset``, ``order``) apply.
        The ``orderBy`` parameter supports ``id`` and ``balance``; when using ``orderBy=balance``,
        the ``mosaicId`` filter is required. The ``offset`` value must match the ``orderBy`` field.
      operationId: searchAccounts
      parameters:
        - $ref: '#/components/parameters/addressQuery'
        - $ref: '#/components/parameters/pageSizeQuery'
        - $ref: '#/components/parameters/pageNumberQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/orderQuery'
        - $ref: '#/components/parameters/orderByAccountQuery'
        - $ref: '#/components/parameters/mosaicIdQuery'
      responses:
        '200':
          description: Paginated list of matching accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPage'
              examples:
                default:
                  value:
                    data:
                      - id: 5E62690AB46E5565E8C0B5B5
                        account:
                          version: 1
                          address: 985A3B9B3A5821E7E5D6E7F8A9B0C1D2E3F4A5B6C7D8E9F0
                          addressHeight: '1'
                          publicKey: AC1A6E1D8DE5B17D2C6B1293F1CAD3829EEACF38D09311BB3C8E5A880092DE26
                          publicKeyHeight: '1'
                          accountType: 0
                          supplementalPublicKeys: {}
                          activityBuckets:
                            - startHeight: '1'
                              totalFeesPaid: '0'
                              beneficiaryCount: 0
                              rawScore: '0'
                          mosaics:
                            - id: 0DC67FBE1CAD29E3
                              amount: '1000000'
                          importance: '0.010263666447108395'
                          importanceHeight: '1'
                    pagination:
                      pageNumber: 1
                      pageSize: 10
        '409':
          $ref: '#/components/responses/InvalidArgument'
    post:
      tags:
        - Account routes
      summary: Get accounts information
      description: |
        Retrieves account data for multiple accounts in a single request.
        This is the batch equivalent of the single-account endpoint.

        The request body accepts either an array of public keys or an array of addresses (not both).
        If both `publicKeys` and `addresses` are provided, the request is invalid and the server returns `409` error.
      operationId: getAccountsInfo
      requestBody:
        $ref: '#/components/requestBodies/accountIds'
      responses:
        '200':
          description: Successfully fetched list of account data.
          content:
            application/json:
              schema:
                type: array
                description: Array of account information objects.
                items:
                  $ref: '#/components/schemas/AccountInfoDTO'
              examples:
                default:
                  value:
                    - id: 5E62690AB46E5565E8C0B5B5
                      account:
                        version: 1
                        address: 985A3B9B3A5821E7E5D6E7F8A9B0C1D2E3F4A5B6C7D8E9F0
                        addressHeight: '1'
                        publicKey: AC1A6E1D8DE5B17D2C6B1293F1CAD3829EEACF38D09311BB3C8E5A880092DE26
                        publicKeyHeight: '1'
                        accountType: 0
                        supplementalPublicKeys: {}
                        activityBuckets:
                          - startHeight: '1'
                            totalFeesPaid: '0'
                            beneficiaryCount: 0
                            rawScore: '0'
                        mosaics:
                          - id: 0DC67FBE1CAD29E3
                            amount: '1000000'
                        importance: '0.010263666447108395'
                        importanceHeight: '1'
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /accounts/{accountId}:
    get:
      tags:
        - Account routes
      summary: Get account information
      description: |
        Retrieves account data for a given account identifier.
        The response contains the account state including balance, importance, public key, linked keys, and activity buckets.

        The ``accountId`` path parameter accepts either a public key or a Base32-encoded address.
      operationId: getAccountInfo
      parameters:
        - $ref: '#/components/parameters/accountIdPath'
      responses:
        '200':
          description: Account information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoDTO'
              examples:
                default:
                  value:
                    id: 5E62690AB46E5565E8C0B5B5
                    account:
                      version: 1
                      address: 985A3B9B3A5821E7E5D6E7F8A9B0C1D2E3F4A5B6C7D8E9F0
                      addressHeight: '1'
                      publicKey: AC1A6E1D8DE5B17D2C6B1293F1CAD3829EEACF38D09311BB3C8E5A880092DE26
                      publicKeyHeight: '1'
                      accountType: 0
                      supplementalPublicKeys: {}
                      activityBuckets:
                        - startHeight: '1'
                          totalFeesPaid: '0'
                          beneficiaryCount: 0
                          rawScore: '0'
                      mosaics:
                        - id: 0DC67FBE1CAD29E3
                          amount: '1000000'
                      importance: '0.010263666447108395'
                      importanceHeight: '1'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /accounts/{accountId}/merkle:
    get:
      tags:
        - Account routes
      summary: Get account Merkle information
      description: |
        Retrieves the Merkle proof data for a given account.
        The Merkle path can be used to independently verify that the account state is included
        in the block state hash.

        The ``accountId`` path parameter accepts either a public key or a Base32-encoded address.
      operationId: getAccountInfoMerkle
      parameters:
        - $ref: '#/components/parameters/accountIdPath'
      responses:
        '200':
          description: Account Merkle information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerkleStateInfoDTO'
              examples:
                default:
                  value:
                    raw: 00008080DA9B4AF63BE985715EA635AF98E3CF3B0A22F9A2BE1C7DD40B79948AA63E36586E5D2E9D0C089C1C64BC0D42...
                    tree: []
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /blocks:
    get:
      tags:
        - Block routes
      summary: Search blocks
      description: |
        Returns a paginated list of blocks matching the given criteria.

        Results can be filtered by harvester (``signerPublicKey``), beneficiary address,
        and timestamp range. Standard pagination parameters (``pageSize``, ``pageNumber``,
        ``offset``, ``order``) apply.
        The ``orderBy`` parameter supports ``id`` and ``height``. The ``offset`` value must match the ``orderBy`` field.
      operationId: searchBlocks
      parameters:
        - $ref: '#/components/parameters/signerPublicKeyQuery'
        - $ref: '#/components/parameters/beneficiaryAddressQuery'
        - $ref: '#/components/parameters/pageSizeQuery'
        - $ref: '#/components/parameters/pageNumberQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/orderQuery'
        - $ref: '#/components/parameters/orderByBlockQuery'
        - $ref: '#/components/parameters/fromTimestampQuery'
        - $ref: '#/components/parameters/toTimestampQuery'
      responses:
        '200':
          description: Paginated list of matching blocks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockPage'
              examples:
                default:
                  value:
                    data:
                      - id: 5E62690AB46E5565E8C0B5B5
                        meta:
                          hash: C8FC3FB54FDDFBCE0E8C71224990124E4EEC5AD5D30E592EDFA9524669A23810
                          totalFee: '0'
                          generationHash: 57F7DA205008026C776CB6AED843393F04CD458E0AA2D9F1D5F31A402072B2D6
                          stateHashSubCacheMerkleRoots: []
                          totalTransactionsCount: 5
                          transactionsCount: 3
                          statementsCount: 2
                        block:
                          size: 480
                          signerPublicKey: AC1A6E1D8DE5B17D2C6B1293F1CAD3829EEACF38D09311BB3C8E5A880092DE26
                          version: 1
                          network: 152
                          type: 33091
                          signature: 4B408BBEDF25F2AC8E0E44A6E51E3CCBA03885902055F75EB9FF50433532CA44BF9175FDA7502EEE2FC16...
                          height: '17592'
                          timestamp: '108303181802'
                          difficulty: '100000000000000'
                          proofGamma: 8D49594A96C31EC6C64305FB2CCB47AA7A4AC0A4F614442BB3684D2BF41F274E
                          proofVerificationHash: 82FB583BFE3EE78805784D078F2547AE
                          proofScalar: 480175C83739B22C53EAECAA7E7F3B245F1DFAFA6B3AE5C1D0129502FCBAAD0C
                          previousBlockHash: '0000000000000000000000000000000000000000000000000000000000000000'
                          transactionsHash: C8FC3FB54FDDFBCE0E8C71224990124E4EEC5AD5D30E592EDFA9524669A23810
                          receiptsHash: C8FC3FB54FDDFBCE0E8C71224990124E4EEC5AD5D30E592EDFA9524669A23810
                          stateHash: C8FC3FB54FDDFBCE0E8C71224990124E4EEC5AD5D30E592EDFA9524669A23810
                          beneficiaryAddress: 985A3B9B3A5821E7E5D6E7F8A9B0C1D2E3F4A5B6C7D8E9F0
                          feeMultiplier: 100
                    pagination:
                      pageNumber: 1
                      pageSize: 10
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /blocks/{height}:
    get:
      tags:
        - Block routes
      summary: Get block information
      description: |
        Returns the block at the given height.
        The response includes the block header, harvester signature, and block metadata
        (hash, total fee, generation hash, transaction and statement counts).

        If the block is an importance block, the response additionally contains
        voting-eligible and harvesting-eligible account counts, total voting balance,
        and the previous importance block hash.
      operationId: getBlockByHeight
      parameters:
        - $ref: '#/components/parameters/heightPath'
      responses:
        '200':
          description: Block information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockInfoDTO'
              examples:
                default:
                  value:
                    id: 6962CF6A2976BBB47C1054BC
                    meta:
                      hash: 01D37363E7C88262044F4F7B0DD7B956F11246B95DB9BB8413FA56BADB431B83
                      generationHash: FFC5BEEA11DF1550862D5F10EBBE48A8B1AACFC8F572B155A8885FE80D309C81
                      totalFee: '0'
                      totalTransactionsCount: 0
                      stateHashSubCacheMerkleRoots:
                        - 29FCB54438CDCD2E680ECA8257493283A07B36E8ADA148DF5CC1CC3BBA743456
                        - 13B99273D5F2C7C767767EE2C963D09E7DBDB642A8703C524C779BB38CA0A738
                        - AF75216804449D667BDE3A2A7FA019B711A379CFA6E0D76F54D3CD7409A11B29
                        - 7756DE9F2CB74A914B43E2C19CC209BA6AE4D436A618E79FA66E82ABF4C1FA0F
                        - '0000000000000000000000000000000000000000000000000000000000000000'
                        - 271C4CC44F2B5979CB8BBF0FADA0FFB8C70C553AC66059941C9762B9DF8A3B60
                        - C4C95FF41F432B160244F91D12DAB5D7EF6977B5CD9FD52E40E012A145061094
                        - 71F6FA9C3B6F19BB35210D8B6F3736254A699B5F0BD8759169CFC3D3D1C65007
                        - 8E5EEC4502B7DAF5FD02A5CFDCF59CA1CE9270F193E8E29B0124B25E59B59A8E
                      transactionsCount: 0
                      statementsCount: 1
                    block:
                      size: 376
                      signature: 2071C002EE41AB668E26155EFF654620057E005218A0D43013FE36C5805C4E8A34A74D5CC563B27175EAECA...
                      signerPublicKey: FA313F7B4E6148B0E6CB8637599678D1587FCBCFD16F6E3FCBEC9A035B6C2F21
                      version: 1
                      network: 104
                      type: 33091
                      height: '5066794'
                      timestamp: '152230125554'
                      difficulty: '113384262983259'
                      proofGamma: AEB32E1A86D140D08BBF4D577509F47B3551AB9FCA0E377015EBD0E1B08C36AC
                      proofVerificationHash: 57A494E2A5D0F88E2F936A4D9CB69C67
                      proofScalar: 2F0BFFA62650753902F49AF8008BBBEA0EFA84573F47D9AB15A2F871A4DDA004
                      previousBlockHash: 392530D7FDBE2F76F9D49E603E09E6A56B64B501C724F71426BC708841F7DF1D
                      transactionsHash: '0000000000000000000000000000000000000000000000000000000000000000'
                      receiptsHash: 364652B46B3DC25961A6C3D34E94E711E6BFCA865D4F21A45E68670C9D6BA826
                      stateHash: 22CE56C7360E7FE657B854D515FBF0A3706300C21286BD2213AF70973D622F62
                      beneficiaryAddress: 985A3B9B3A5821E7E5D6E7F8A9B0C1D2E3F4A5B6C7D8E9F0
                      feeMultiplier: 0
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /blocks/{height}/transactions/{hash}/merkle:
    get:
      tags:
        - Block routes
      summary: Get the Merkle path for a given transaction and block
      description: |
        Returns the [Merkle path](https://docs.symbol.dev/concepts/data-validation.html#merkle-proof)
        for a [transaction](https://docs.symbol.dev/concepts/transaction.html) included in a block.
        The Merkle path is the minimum number of nodes needed to calculate the Merkle root.

        Steps to calculate the Merkle root:
        1. proofHash = hash (leaf).
        2. Concatenate proofHash with the first unprocessed item from the merklePath list as follows:
        - `left`: the item hash is concatenated before the proofHash (proofHash = sha_256(item.hash + proofHash)).
        - `right`: the item hash is concatenated after the proofHash (proofHash = sha_256(proofHash + item.hash)).
        3. Repeat 2. for every item in the merklePath list.
        4. Compare if the calculated proofHash equals the one recorded in the
        [block header](https://docs.symbol.dev/concepts/block.html)
        (`block.transactionsHash`) to verify if the transaction was included in the block.
      operationId: getMerkleTransaction
      parameters:
        - $ref: '#/components/parameters/heightPath'
        - $ref: '#/components/parameters/transactionHashPath'
      responses:
        '200':
          description: Merkle path for the transaction successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerkleProofInfoDTO'
              examples:
                default:
                  value:
                    merklePath:
                      - position: left
                        hash: C8FC3FB54FDDFBCE0E8C71224990124E4EEC5AD5D30E592EDFA9524669A23810
                      - position: right
                        hash: 5E62690AB46E5565E8C0B5B5A1B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /blocks/{height}/statements/{hash}/merkle:
    get:
      tags:
        - Block routes
      summary: Get the Merkle path for a given receipt statement hash and block
      description: |
        Returns the [Merkle path](https://docs.symbol.dev/concepts/data-validation.html#merkle-proof)
        for a [receipt statement or resolution](https://docs.symbol.dev/concepts/receipt.html) linked to a block.
        The ``hash`` parameter is the receipt statement hash, not the transaction hash.
        The Merkle path is the minimum number of nodes needed to calculate the Merkle root.

        Steps to calculate the Merkle root:
        1. proofHash = hash (leaf).
        2. Concatenate proofHash with the first unprocessed item from the merklePath list as follows:
        - `left`: the item hash is concatenated before the proofHash (proofHash = sha_256(item.hash + proofHash)).
        - `right`: the item hash is concatenated after the proofHash (proofHash = sha_256(proofHash + item.hash)).
        3. Repeat 2. for every item in the merklePath list.
        4. Compare if the calculated proofHash equals the one recorded in the
        [block header](https://docs.symbol.dev/concepts/block.html)
        (`block.receiptsHash`) to verify if the statement was linked with the block.
      operationId: getMerkleReceipts
      parameters:
        - $ref: '#/components/parameters/heightPath'
        - $ref: '#/components/parameters/receiptHashPath'
      responses:
        '200':
          description: Merkle path for the receipt statement successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerkleProofInfoDTO'
              examples:
                default:
                  value:
                    merklePath:
                      - position: left
                        hash: C8FC3FB54FDDFBCE0E8C71224990124E4EEC5AD5D30E592EDFA9524669A23810
                      - position: right
                        hash: 5E62690AB46E5565E8C0B5B5A1B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /chain/info:
    get:
      tags:
        - Chain routes
      summary: Get chain information
      description: |
        Returns the current state of the blockchain: chain height, chain score, and the
        latest finalized block.
      operationId: getChainInfo
      responses:
        '200':
          description: Chain information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainInfoDTO'
              examples:
                chainInfo:
                  summary: Chain info example
                  value:
                    height: '5270371'
                    scoreHigh: '35'
                    scoreLow: '9355904769811254014'
                    latestFinalizedBlock:
                      finalizationEpoch: 3661
                      finalizationPoint: 68
                      height: '5270348'
                      hash: C219E4BBF8347AE5943BCB4B7D583BE4D7ED55DD6F4D2CD0A018F0D5A6AE0D86
  /finalization/proof/epoch/{epoch}:
    get:
      tags:
        - Finalization routes
      summary: Get finalization proof
      description: Returns the finalization proof for the greatest block height associated with the given finalization epoch.
      operationId: getFinalizationProofAtEpoch
      parameters:
        - $ref: '#/components/parameters/epochPath'
      responses:
        '200':
          description: Finalization proof successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinalizationProofDTO'
              examples:
                finalizationProof:
                  summary: Example for epoch 3661
                  value:
                    version: 1
                    finalizationEpoch: 3661
                    finalizationPoint: 68
                    height: '5270348'
                    hash: C219E4BBF8347AE5943BCB4B7D583BE4D7ED55DD6F4D2CD0A018F0D5A6AE0D86
                    messageGroups:
                      - stage: 0
                        height: '5270348'
                        hashes:
                          - C219E4BBF8347AE5943BCB4B7D583BE4D7ED55DD6F4D2CD0A018F0D5A6AE0D86
                        signatures:
                          - root:
                              parentPublicKey: 7EDF52C5B42F72FDB4C8A59C6E2350DF43F3E35DCDBE6F6B4A3E2D1C0B9A8978
                              signature: 8F7E6D5C4B3A2918F7E6D5C4B3A291807F6E5D4C3B2A1908F7E6D5C4B3A291807F6E5D4C3B2A1908F7...
                            bottom:
                              parentPublicKey: 7EDF52C5B42F72FDB4C8A59C6E2350DF43F3E35DCDBE6F6B4A3E2D1C0B9A8978
                              signature: 9E8D7C6B5A49382A1F0E9D8C7B6A5948E7D6C5B4A39281F0E9D8C7B6A5948E7D6C5B4A39281F0E9D8C...
                      - stage: 1
                        height: '5270348'
                        hashes:
                          - C219E4BBF8347AE5943BCB4B7D583BE4D7ED55DD6F4D2CD0A018F0D5A6AE0D86
                        signatures:
                          - root:
                              parentPublicKey: 7EDF52C5B42F72FDB4C8A59C6E2350DF43F3E35DCDBE6F6B4A3E2D1C0B9A8978
                              signature: 1A2B3C4D5E6F7890A1B2C3D4E5F6078A9B0C1D2E3F4A5B6C7D8E9F0A1B2C3D4E5F6078A9B0C1D2E3F4...
                            bottom:
                              parentPublicKey: 7EDF52C5B42F72FDB4C8A59C6E2350DF43F3E35DCDBE6F6B4A3E2D1C0B9A8978
                              signature: 2B3C4D5E6F70819A2B3C4D5E6F70819A2B3C4D5E6F70819A2B3C4D5E6F70819A2B3C4D5E6F70819A2B...
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /finalization/proof/height/{height}:
    get:
      tags:
        - Finalization routes
      summary: Get finalization proof
      description: Returns the finalization proof for the block at the given height.
      operationId: getFinalizationProofAtHeight
      parameters:
        - $ref: '#/components/parameters/heightPath'
      responses:
        '200':
          description: Finalization proof successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinalizationProofDTO'
              examples:
                finalizationProof:
                  summary: Example for height 5270348
                  value:
                    version: 1
                    finalizationEpoch: 3661
                    finalizationPoint: 68
                    height: '5270348'
                    hash: C219E4BBF8347AE5943BCB4B7D583BE4D7ED55DD6F4D2CD0A018F0D5A6AE0D86
                    messageGroups:
                      - stage: 0
                        height: '5270348'
                        hashes:
                          - C219E4BBF8347AE5943BCB4B7D583BE4D7ED55DD6F4D2CD0A018F0D5A6AE0D86
                        signatures:
                          - root:
                              parentPublicKey: 7EDF52C5B42F72FDB4C8A59C6E2350DF43F3E35DCDBE6F6B4A3E2D1C0B9A8978
                              signature: 8F7E6D5C4B3A2918F7E6D5C4B3A291807F6E5D4C3B2A1908F7E6D5C4B3A291807F6E5D4C3B2A1908...
                            bottom:
                              parentPublicKey: 7EDF52C5B42F72FDB4C8A59C6E2350DF43F3E35DCDBE6F6B4A3E2D1C0B9A8978
                              signature: 9E8D7C6B5A49382A1F0E9D8C7B6A5948E7D6C5B4A39281F0E9D8C7B6A5948E7D6C5B4A39281F0E9...
                      - stage: 1
                        height: '5270348'
                        hashes:
                          - C219E4BBF8347AE5943BCB4B7D583BE4D7ED55DD6F4D2CD0A018F0D5A6AE0D86
                        signatures:
                          - root:
                              parentPublicKey: 7EDF52C5B42F72FDB4C8A59C6E2350DF43F3E35DCDBE6F6B4A3E2D1C0B9A8978
                              signature: 1A2B3C4D5E6F7890A1B2C3D4E5F6078A9B0C1D2E3F4A5B6C7D8E9F0A1B2C3D4E5F6078A9B0C1D2...
                            bottom:
                              parentPublicKey: 7EDF52C5B42F72FDB4C8A59C6E2350DF43F3E35DCDBE6F6B4A3E2D1C0B9A8978
                              signature: 2B3C4D5E6F70819A2B3C4D5E6F70819A2B3C4D5E6F70819A2B3C4D5E6F70819A2B3C4D5E6F708...
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /network:
    get:
      tags:
        - Network routes
      summary: Get the current network type of the chain
      description: Returns the current network type.
      operationId: getNetworkType
      responses:
        '200':
          description: Network type successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkTypeDTO'
              examples:
                mainnet:
                  summary: Mainnet
                  value:
                    name: mainnet
                    description: Symbol Mainnet
                testnet:
                  summary: Testnet
                  value:
                    name: testnet
                    description: Symbol Testnet
  /network/fees/rental:
    get:
      tags:
        - Network routes
      summary: Get rental fees information
      description: |
        Returns the estimated effective rental fees for namespaces and mosaics.
        This endpoint is only available if the REST instance has access to catapult-server ``resources/config-network.properties`` file.
        To activate this feature, add the setting "network.propertiesFilePath" in the configuration file (rest/resources/rest.json).
      operationId: getRentalFees
      responses:
        '200':
          description: Rental fees successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RentalFeesDTO'
              examples:
                rentalFees:
                  summary: Rental fees example
                  value:
                    effectiveRootNamespaceRentalFeePerBlock: '200'
                    effectiveChildNamespaceRentalFee: '10000000'
                    effectiveMosaicRentalFee: '50000000'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /network/fees/transaction:
    get:
      tags:
        - Network routes
      summary: Get transaction fees information
      description: |
        Returns the average, median, highest and lower fee multiplier over the last "numBlocksTransactionFeeStats".
        The setting "numBlocksTransactionFeeStats" is adjustable via the configuration file (rest/resources/rest.json) per REST instance.
      operationId: getTransactionFees
      responses:
        '200':
          description: Transaction fees successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionFeesDTO'
              examples:
                transactionFees:
                  summary: Mainnet transaction fees example
                  value:
                    averageFeeMultiplier: 103
                    medianFeeMultiplier: 100
                    highestFeeMultiplier: 1136
                    lowestFeeMultiplier: 0
                    minFeeMultiplier: 10
  /network/properties:
    get:
      tags:
        - Network routes
      summary: Get the network properties
      description: |
        Returns the content from a catapult-server network configuration file (e.g. ``config-network.properties``).
        To enable this feature, the REST setting ``apiNode.networkPropertyFilePath`` in the config file (e.g. ``rest.json``)
        must define where the file is located.
      operationId: getNetworkProperties
      responses:
        '200':
          description: Network configuration successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkConfigurationDTO'
              examples:
                networkProperties:
                  summary: Example mainnet properties
                  value:
                    network:
                      identifier: mainnet
                      nemesisSignerPublicKey: BE0B4CF546B7B4F4BBFCFF9F574FDA527C07A53D3FC76F8BB7DB746F8E8E0A9F
                      nodeEqualityStrategy: host
                      generationHashSeed: 57F7DA205008026C776CB6AED843393F04CD458E0AA2D9F1D5F31A402072B2D6
                      epochAdjustment: 1615853185s
                    chain:
                      enableVerifiableState: true
                      enableVerifiableReceipts: true
                      currencyMosaicId: 0x6BED'913F'A202'23F8
                      harvestingMosaicId: 0x6BED'913F'A202'23F8
                      blockGenerationTargetTime: 30s
                      blockTimeSmoothingFactor: '3000'
                      importanceGrouping: '720'
                      importanceActivityPercentage: '5'
                      maxRollbackBlocks: '0'
                      maxDifficultyBlocks: '60'
                      defaultDynamicFeeMultiplier: '100'
                      maxTransactionLifetime: 6h
                      maxBlockFutureTime: 300ms
                      initialCurrencyAtomicUnits: 7'842'928'625'000'000
                      maxMosaicAtomicUnits: 8'999'999'999'000'000
                      totalChainImportance: 7'842'928'625'000'000
                      minHarvesterBalance: 10'000'000'000
                      maxHarvesterBalance: 50'000'000'000'000
                      minVoterBalance: 3'000'000'000'000
                      votingSetGrouping: '1440'
                      maxVotingKeysPerAccount: '3'
                      minVotingKeyLifetime: '112'
                      maxVotingKeyLifetime: '360'
                      harvestBeneficiaryPercentage: '25'
                      harvestNetworkPercentage: '5'
                      harvestNetworkFeeSinkAddressV1: NBUTOBVT5JQDCV6UEPCPFHWWOAOPOCLA5AY5FLI
                      harvestNetworkFeeSinkAddress: NAVORTEX3IPBAUWQBBI3I3BDIOS4AVHPZLCFC7Y
                      maxTransactionsPerBlock: 6'000
                    plugins:
                      accountlink:
                        dummy: to trigger plugin load
                      aggregate:
                        maxTransactionsPerAggregate: '100'
                        maxCosignaturesPerAggregate: '25'
                        enableStrictCosignatureCheck: false
                        enableBondedAggregateSupport: true
                        maxBondedTransactionLifetime: 48h
                      lockhash:
                        lockedFundsPerAggregate: 10'000'000
                        maxHashLockDuration: 2d
                      locksecret:
                        maxSecretLockDuration: 365d
                        minProofSize: '0'
                        maxProofSize: '1024'
                      metadata:
                        maxValueSize: '1024'
                      mosaic:
                        maxMosaicsPerAccount: 1'000
                        maxMosaicDuration: 3650d
                        maxMosaicDivisibility: '6'
                        mosaicRentalFeeSinkAddressV1: NC733XE7DF46Q7QYLIIZBBSCJN2BEEP5FQ6PAYA
                        mosaicRentalFeeSinkAddress: NCVORTEX4XD5IQASZQEHDWUXT33XBOTBMKFDCLI
                        mosaicRentalFee: '500000'
                      multisig:
                        maxMultisigDepth: '3'
                        maxCosignatoriesPerAccount: '25'
                        maxCosignedAccountsPerAccount: '25'
                      namespace:
                        maxNameSize: '64'
                        maxChildNamespaces: '100'
                        maxNamespaceDepth: '3'
                        minNamespaceDuration: 30d
                        maxNamespaceDuration: 1825d
                        namespaceGracePeriodDuration: 30d
                        reservedRootNamespaceNames: symbol, symbl, xym, xem, nem, user, account, org, com, biz, net, edu, mil, gov, info
                        namespaceRentalFeeSinkAddressV1: NBDTBUD6R32ZYJWDEWLJM4YMOX3OOILHGDUMTSA
                        namespaceRentalFeeSinkAddress: NCVORTEX4XD5IQASZQEHDWUXT33XBOTBMKFDCLI
                        rootNamespaceRentalFeePerBlock: '2'
                        childNamespaceRentalFee: '100000'
                      restrictionaccount:
                        maxAccountRestrictionValues: '100'
                      restrictionmosaic:
                        maxMosaicRestrictionValues: '20'
                      transfer:
                        maxMessageSize: '1024'
                    forkHeights:
                      totalVotingBalanceCalculationFix: 528'000
                      treasuryReissuance: 689'761
                      strictAggregateTransactionHash: 1'690'500
                      skipSecretLockUniquenessChecks: 3'191'538
                      skipSecretLockExpirations: 3'197'860, 3'197'866
                      forceSecretLockExpirations: 3'197'458, 3'197'781
                      uniqueAggregateTransactionHash: 4'759'100
                    treasuryReissuanceTransactionSignatures:
                      - 0BBEADD37539444D75C09A245102D2B883267925398504623835DCD625290DEE4FA2371341050C49C001DEDD1C9FE241EA4A7DB335B2069FD4DAFF77AF734C03
                      - 89447704270E8B2F8EED19526587DB58870D90A02ACEF8AE2A54311DEB95C227201CD39662A0229D5746FFB84074EA6C7DD9620A2CE5AA69065C508DC0335201
                      - A317F4EB085C8D3D80435669EF54C6C9C9AD9B57165B14CF051F43879D0112E3A79591DD6D469BFAA850891FA2CB601BA58CD1BAEBFF5D84C49179AC7FE14706
                      - C0BAE301EC15B514C5685A661BC3E23A6596CE9DC412A83F67A8C8611A4415B1B0447E8C09D2816CAE0D750C4AB1ED8FE9C85C05D448C2114147A2C935030708
                      - C478DB6053C639AFC96F5D965159DC95449E5EE69A62E5FA28DF42D85C031B3A131B3AC403D9BFF27E1E64FD8012D05C720F0D2A8654D9F4BC48C8DD2DCEBC03
                      - D19BCD440545CF785D88F903141DE794F2D57012509BC224B25BFCA220267D1ADD42182702F50C1A4E95D0F21604E4F9EEEEF329932FCD0C76B43992B0D90B0D
                      - FDB98C472D0B98FDD766DA177366DEB2DB0E79721BD73DA96A84622A98932DA75BAA327BA9E23D448C6F25344654A6F17F7734C14D1530B327F911A97B4DE30A
                    corruptAggregateTransactionHashes:
                      - 26FF5E7174DEEF3147DB25C37C7AE9905157ACBA2D233D40D1F77A65B60D59BC = 3A2F78C2E7B10FF84EB33BF1DD0FD61951F8E3EA330361...
                      - 2DF1D19B5E68102665D11B3CF3069AB5DFED2E60A7690C8788172E0E5E30B72D = 3B64321593D06FF37B191F52FE31E107A8FDB0116AB537...
                      - 30FA71E6D1E34DF1E430A07E1B0817BED9A4ED6B0245B7471B0557380A700E1B = AE377EAB7F1970DEC21FF305C39EBDD3ECE413B911EF3E...
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /network/inflation:
    get:
      tags:
        - Network routes
      summary: Returns the inflation distribution schedule
      description: |
        Retrieves the network inflation table, where each entry specifies a starting block height and the reward amount
        applied from that height onward.
      operationId: getNetworkInflation
      responses:
        '200':
          description: Inflation distribution schedule successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                description: |
                  Inflation schedule: inflection points (height, reward amount) sorted by height.
                  Each entry defines the reward amount in effect from that block height until the next entry.
                items:
                  $ref: '#/components/schemas/NetworkInflationDTO'
              examples:
                inflation:
                  summary: Example inflation schedule
                  value:
                    - startHeight: '2'
                      rewardAmount: '0'
                    - startHeight: '5760'
                      rewardAmount: '191997042'
                    - startHeight: '172799'
                      rewardAmount: '183764522'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /network/inflation/at/{height}:
    get:
      tags:
        - Network routes
      summary: Returns the inflation distribution data at specific height
      description: |
        Retrieves network inflation parameters at a given block height.
      operationId: getNetworkInflationAtHeight
      parameters:
        - $ref: '#/components/parameters/heightPath'
      responses:
        '200':
          description: Inflation parameters at the given height successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInflationDTO'
              examples:
                inflationAtHeight:
                  summary: Inflation at block height 5760
                  value:
                    startHeight: '5760'
                    rewardAmount: '191997042'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /network/currency/supply/max:
    get:
      tags:
        - Network routes
      summary: Returns max currency supply
      description: |
        Returns the maximum possible supply of the network currency mosaic.

        Data sources:
          - Maximum supply (`chain.maxMosaicAtomicUnits`) defined in the network properties file
          - Network currency divisibility from blockchain state

        This represents the protocol-level supply cap configured for the network currency.
      operationId: getMaxCurrencySupply
      responses:
        '200':
          description: |
            Successful response containing the max currency supply.

            The value is expressed in whole units with a fractional part
            determined by the mosaic divisibility and returned as a fixed-decimal string.
          content:
            text/plain:
              schema:
                type: string
                pattern: ^\d+\.\d+$
                examples:
                  - '8999999999.000000'
  /network/currency/supply/total:
    get:
      tags:
        - Network routes
      summary: Returns total currency supply
      description: |
        Returns the total current on-chain supply of the network currency mosaic.

        Data sources:
          - Mosaic supply and divisibility from blockchain state

        This value includes both circulating and uncirculating balances and represents
        the full issued supply currently recorded on-chain.
      operationId: getTotalCurrencySupply
      responses:
        '200':
          description: |
            Successful response containing the total currency supply.

            The value is expressed in whole units with a fractional part
            determined by the mosaic divisibility and returned as a fixed-decimal string.
          content:
            text/plain:
              schema:
                type: string
                pattern: ^\d+\.\d+$
                examples:
                  - '7842928625.000000'
  /network/currency/supply/circulating:
    get:
      tags:
        - Network routes
      summary: Returns circulating currency supply
      description: |
        Returns the current circulating supply of the network currency mosaic.

        Circulating supply represents the portion of total on-chain supply that is not held in
        designated uncirculating or reserved accounts (e.g. nemesis or treasury accounts).

        Data sources:
          - Mosaic supply and divisibility from blockchain state
          - Nemesis signer public key from network properties file
          - Uncirculating account public keys defined in rest.json (`uncirculatingAccountPublicKeys`)
      operationId: getCirculatingCurrencySupply
      responses:
        '200':
          description: |
            Successful response containing the circulating currency supply.

            The value is expressed in whole units with a fractional part
            determined by the mosaic divisibility and returned as a fixed-decimal string.
          content:
            text/plain:
              schema:
                type: string
                pattern: ^\d+\.\d+$
                examples:
                  - '6351335211.744781'
  /node/health:
    get:
      tags:
        - Node routes
      summary: Get the node health information
      description: Supplies information regarding the connection and services status.
      operationId: getNodeHealth
      responses:
        '200':
          description: Both API node and database services are reachable from REST server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeHealthInfoDTO'
        '503':
          description: Either API node or database service is unavailable or unreachable from REST server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeHealthInfoDTO'
  /node/info:
    get:
      tags:
        - Node routes
      summary: Get the node information
      description: Supplies additional information about the application running on a node.
      operationId: getNodeInfo
      responses:
        '200':
          description: Node information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeInfoDTO'
              examples:
                nodeInfo:
                  summary: Example node info
                  value:
                    version: 16777993
                    publicKey: AC1A6E1D8DE5B17D2C6B1293F1CAD3829EEACF38D09311BB3C8E5A880092DE26
                    networkGenerationHashSeed: 57F7DA205008026C776CB6AED843393F04CD458E0AA2D9F1D5F31A402072B2D6
                    roles: 7
                    port: 7900
                    networkIdentifier: 152
                    friendlyName: api-node-0
                    host: 127.0.0.1
  /node/peers:
    get:
      tags:
        - Node routes
      summary: Get peers information
      description: Gets the list of peers visible by the node.
      operationId: getNodePeers
      responses:
        '200':
          description: Node peers successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                description: |
                  List of peer nodes visible to the connected node.
                items:
                  $ref: '#/components/schemas/NodeInfoDTO'
              examples:
                nodePeers:
                  summary: Example list of peer nodes
                  value:
                    - version: 16777993
                      publicKey: AC1A6E1D8DE5B17D2C6B1293F1CAD3829EEACF38D09311BB3C8E5A880092DE26
                      networkGenerationHashSeed: 57F7DA205008026C776CB6AED843393F04CD458E0AA2D9F1D5F31A402072B2D6
                      roles: 2
                      port: 7900
                      networkIdentifier: 152
                      friendlyName: api-node-0
                      host: 127.0.0.1
                    - version: 16777994
                      publicKey: FA313F7B4E6148B0E6CB8637599678D1587FCBCFD16F6E3FCBEC9A035B6C2F21
                      networkGenerationHashSeed: 57F7DA205008026C776CB6AED843393F04CD458E0AA2D9F1D5F31A402072B2D6
                      roles: 7
                      port: 7900
                      networkIdentifier: 152
                      friendlyName: peer-node-1
                      host: 192.168.1.10
  /node/storage:
    get:
      tags:
        - Node routes
      summary: Get the storage information of the node
      description: Returns storage information about the node.
      operationId: getNodeStorage
      responses:
        '200':
          description: Storage information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageInfoDTO'
              examples:
                nodeStorage:
                  summary: Example node storage statistics
                  value:
                    numBlocks: 245053
                    numTransactions: 58590
                    numAccounts: 177
  /node/time:
    get:
      tags:
        - Node routes
      summary: Get the node time
      description: Gets the node time at the moment the reply was sent and received.
      operationId: getNodeTime
      responses:
        '200':
          description: Node time successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeTimeDTO'
              examples:
                nodeTime:
                  summary: Example node time with round-trip timestamps
                  value:
                    communicationTimestamps:
                      sendTimestamp: '108303181802'
                      receiveTimestamp: '108303181850'
  /node/server:
    get:
      tags:
        - Node routes
      summary: Get the version of the running REST component
      description: Returns the version of the running catapult-rest component.
      operationId: getServerInfo
      responses:
        '200':
          description: Server information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerInfoDTO'
              examples:
                serverInfo:
                  summary: Example REST server and deployment info
                  value:
                    serverInfo:
                      restVersion: 1.0.14
                      deployment:
                        deploymentTool: symbol-bootstrap
                        deploymentToolVersion: 1.0.6
                        lastUpdatedDate: '2021-06-02'
  /node/unlockedaccount:
    get:
      tags:
        - Node routes
      summary: Get the unlocked harvesting account public keys
      description: Returns array of unlocked account public keys.
      operationId: getUnlockedAccount
      responses:
        '200':
          description: Unlocked harvesting accounts successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnlockedAccountDTO'
              examples:
                unlockedAccount:
                  summary: Example unlocked harvesting accounts
                  value:
                    unlockedAccount:
                      - AC1A6E1D8DE5B17D2C6B1293F1CAD3829EEACF38D09311BB3C8E5A880092DE26
                      - FA313F7B4E6148B0E6CB8637599678D1587FCBCFD16F6E3FCBEC9A035B6C2F21
  /node/metadata:
    get:
      tags:
        - Node routes
      summary: Retrieve node metadata
      description: |
        Gets the node metadata information that has been set by the node operator.

        **How to set:** Add a top-level ``nodeMetadata`` object in the REST server JSON configuration
        file. Example:

        ```json
        {
          "nodeMetadata": {
            "deploymentTool": "symbol-bootstrap",
            "version": "1.0.0",
            "customLabel": "my-node"
          }
        }
        ```

        The entire ``nodeMetadata`` object is served as-is; add any key-value pairs to personalize
        your node.
      operationId: getNodeMetadata
      responses:
        '200':
          description: Node metadata successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeMetadataDTO'
              examples:
                nodeMetadata:
                  summary: Example node metadata (symbol-bootstrap)
                  value:
                    deploymentTool: symbol-bootstrap
                    version: 1.0.2
                    nodeName: api-node-0
  /transactions:
    put:
      tags:
        - Transaction routes
      summary: Announce a new transaction
      description: |
        Announces a transaction to the network.
        The [catbuffer library](https://github.com/symbol/symbol/tree/main/catbuffer)
        defines the protocol to serialize and deserialize Symbol entities.
        Catbuffers are integrated into [Symbol SDKs](https://docs.symbol.dev/sdk.html).
        It's recommended to use SDKs instead of calling the API endpoint directly to announce transactions.
      operationId: announceTransaction
      requestBody:
        $ref: '#/components/requestBodies/transactionPayload'
      responses:
        '202':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnounceTransactionInfoDTO'
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /transactions/confirmed:
    get:
      tags:
        - Transaction routes
      summary: Search confirmed transactions
      description: |
        Returns an array of confirmed transactions.
        If a transaction was announced with an alias rather than an address, the
        address that will be considered when querying is the one that
        was resolved from the alias at confirmation time.
      operationId: searchConfirmedTransactions
      parameters:
        - $ref: '#/components/parameters/addressQuery'
        - $ref: '#/components/parameters/recipientAddressQuery'
        - $ref: '#/components/parameters/signerPublicKeyQuery'
        - $ref: '#/components/parameters/heightQuery'
        - $ref: '#/components/parameters/fromHeightQuery'
        - $ref: '#/components/parameters/toHeightQuery'
        - $ref: '#/components/parameters/fromTransferAmountQuery'
        - $ref: '#/components/parameters/toTransferAmountQuery'
        - $ref: '#/components/parameters/transactionTypesQuery'
        - $ref: '#/components/parameters/embeddedQuery'
        - $ref: '#/components/parameters/transferMosaicIdQuery'
        - $ref: '#/components/parameters/pageSizeQuery'
        - $ref: '#/components/parameters/pageNumberQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/orderQuery'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionPage'
        '409':
          $ref: '#/components/responses/InvalidArgument'
    post:
      tags:
        - Transaction routes
      summary: Get confirmed trasactions information
      description: Returns confirmed transactions information for a given array of transactionIds.
      operationId: getConfirmedTransactions
      requestBody:
        $ref: '#/components/requestBodies/transactionIds'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                description: Array of transactions information.
                items:
                  $ref: '#/components/schemas/TransactionInfoDTO'
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /transactions/confirmed/{transactionId}:
    get:
      tags:
        - Transaction routes
      summary: Get confirmed transaction information
      description: Returns confirmed transaction information given a transactionId or hash.
      operationId: getConfirmedTransaction
      parameters:
        - $ref: '#/components/parameters/transactionIdPath'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionInfoDTO'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /transactions/unconfirmed:
    get:
      tags:
        - Transaction routes
      summary: Search unconfirmed transactions
      description: Returns an array of unconfirmed transactions.
      operationId: searchUnconfirmedTransactions
      parameters:
        - $ref: '#/components/parameters/addressQuery'
        - $ref: '#/components/parameters/recipientAddressQuery'
        - $ref: '#/components/parameters/signerPublicKeyQuery'
        - $ref: '#/components/parameters/heightQuery'
        - $ref: '#/components/parameters/fromHeightQuery'
        - $ref: '#/components/parameters/toHeightQuery'
        - $ref: '#/components/parameters/fromTransferAmountQuery'
        - $ref: '#/components/parameters/toTransferAmountQuery'
        - $ref: '#/components/parameters/transactionTypesQuery'
        - $ref: '#/components/parameters/embeddedQuery'
        - $ref: '#/components/parameters/transferMosaicIdQuery'
        - $ref: '#/components/parameters/pageSizeQuery'
        - $ref: '#/components/parameters/pageNumberQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/orderQuery'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionPage'
        '409':
          $ref: '#/components/responses/InvalidArgument'
    post:
      tags:
        - Transaction routes
      summary: Get unconfirmed trasactions information
      description: Returns unconfirmed transactions information for a given array of transactionIds.
      operationId: getUnconfirmedTransactions
      requestBody:
        $ref: '#/components/requestBodies/transactionIds'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                description: Array of transactions information.
                items:
                  $ref: '#/components/schemas/TransactionInfoDTO'
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /transactions/unconfirmed/{transactionId}:
    get:
      tags:
        - Transaction routes
      summary: Get unconfirmed transaction information
      description: Returns unconfirmed transaction information given a transactionId or hash.
      operationId: getUnconfirmedTransaction
      parameters:
        - $ref: '#/components/parameters/transactionIdPath'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionInfoDTO'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /transactionStatus:
    post:
      tags:
        - Transaction status routes
      summary: Get transaction statuses
      description: Returns an array of transaction statuses for a given array of transaction hashes.
      operationId: getTransactionStatuses
      requestBody:
        $ref: '#/components/requestBodies/transactionHashes'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                description: Array of transactions status.
                items:
                  $ref: '#/components/schemas/TransactionStatusDTO'
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /transactionStatus/{hash}:
    get:
      tags:
        - Transaction status routes
      summary: Get transaction status
      description: Returns the transaction status for a given hash.
      operationId: getTransactionStatus
      parameters:
        - $ref: '#/components/parameters/transactionHashPath'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatusDTO'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /transactions/partial:
    get:
      tags:
        - Transaction routes
      summary: Search partial transactions
      description: Returns an array of partial transactions.
      operationId: searchPartialTransactions
      parameters:
        - $ref: '#/components/parameters/addressQuery'
        - $ref: '#/components/parameters/recipientAddressQuery'
        - $ref: '#/components/parameters/signerPublicKeyQuery'
        - $ref: '#/components/parameters/heightQuery'
        - $ref: '#/components/parameters/fromHeightQuery'
        - $ref: '#/components/parameters/toHeightQuery'
        - $ref: '#/components/parameters/fromTransferAmountQuery'
        - $ref: '#/components/parameters/toTransferAmountQuery'
        - $ref: '#/components/parameters/transactionTypesQuery'
        - $ref: '#/components/parameters/embeddedQuery'
        - $ref: '#/components/parameters/transferMosaicIdQuery'
        - $ref: '#/components/parameters/pageSizeQuery'
        - $ref: '#/components/parameters/pageNumberQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/orderQuery'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionPage'
        '409':
          $ref: '#/components/responses/InvalidArgument'
    put:
      tags:
        - Transaction routes
      summary: Announce an aggregate bonded transaction
      description: Announces an aggregate bonded transaction to the network.
      operationId: announcePartialTransaction
      requestBody:
        $ref: '#/components/requestBodies/transactionPayload'
      responses:
        '202':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnounceTransactionInfoDTO'
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
    post:
      tags:
        - Transaction routes
      summary: Get partial trasactions information
      description: Returns partial transactions information for a given array of transactionIds.
      operationId: getPartialTransactions
      requestBody:
        $ref: '#/components/requestBodies/transactionIds'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                description: Array of transactions information.
                items:
                  $ref: '#/components/schemas/TransactionInfoDTO'
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /transactions/partial/{transactionId}:
    get:
      tags:
        - Transaction routes
      summary: Get partial transaction information
      description: Returns partial transaction information given a transactionId or hash.
      operationId: getPartialTransaction
      parameters:
        - $ref: '#/components/parameters/transactionIdPath'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionInfoDTO'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /transactions/cosignature:
    put:
      tags:
        - Transaction routes
      summary: Announce a cosignature transaction
      description: Announces a cosignature transaction to the network.
      operationId: announceCosignatureTransaction
      requestBody:
        $ref: '#/components/requestBodies/cosignature'
      responses:
        '202':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnounceTransactionInfoDTO'
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /account/{address}/lock/hash:
    get:
      tags:
        - Hash Lock routes
      summary: Search hash lock entries by account
      description: Returns an array of hash locks for the given account address.
      operationId: searchAccountHashLocks
      parameters:
        - $ref: '#/components/parameters/addressPath'
        - $ref: '#/components/parameters/pageSizeQuery'
        - $ref: '#/components/parameters/pageNumberQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/orderQuery'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HashLockPage'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /lock/hash:
    get:
      tags:
        - Hash Lock routes
      summary: Search hash lock entries
      description: Returns an array of hash locks.
      operationId: searchHashLock
      parameters:
        - $ref: '#/components/parameters/addressQuery'
        - $ref: '#/components/parameters/pageSizeQuery'
        - $ref: '#/components/parameters/pageNumberQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/orderQuery'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HashLockPage'
        '409':
          $ref: '#/components/responses/InvalidArgument'
    post:
      tags:
        - Hash Lock routes
      summary: Get hash lock information for an array of hashes
      description: Gets an array of hash lock entries for the given hashes.
      operationId: getHashLocks
      requestBody:
        $ref: '#/components/requestBodies/hashes'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                description: Array of hash lock entries.
                items:
                  $ref: '#/components/schemas/HashLockInfoDTO'
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /lock/hash/{hash}:
    get:
      tags:
        - Hash Lock routes
      summary: Get hash lock information
      description: Gets the hash lock for a given hash.
      operationId: getHashLock
      parameters:
        - $ref: '#/components/parameters/hashPath'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HashLockInfoDTO'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /lock/hash/{hash}/merkle:
    get:
      tags:
        - Hash Lock routes
      summary: Get hash lock Merkle information
      description: Gets the hash lock Merkle for a given hash.
      operationId: getHashLockMerkle
      parameters:
        - $ref: '#/components/parameters/hashPath'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerkleStateInfoDTO'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /account/{address}/lock/secret:
    get:
      tags:
        - Secret Lock routes
      summary: Search secret lock entries by account
      description: Returns an array of secret locks for the given account address.
      operationId: searchAccountSecretLocks
      parameters:
        - $ref: '#/components/parameters/addressPath'
        - $ref: '#/components/parameters/secretQuery'
        - $ref: '#/components/parameters/pageSizeQuery'
        - $ref: '#/components/parameters/pageNumberQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/orderQuery'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretLockPage'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /lock/secret:
    get:
      tags:
        - Secret Lock routes
      summary: Search secret lock entries
      description: Returns an array of secret locks.
      operationId: searchSecretLock
      parameters:
        - $ref: '#/components/parameters/addressQuery'
        - $ref: '#/components/parameters/secretQuery'
        - $ref: '#/components/parameters/pageSizeQuery'
        - $ref: '#/components/parameters/pageNumberQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/orderQuery'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretLockPage'
        '409':
          $ref: '#/components/responses/InvalidArgument'
    post:
      tags:
        - Secret Lock routes
      summary: Get secret lock information for an array of composite hashes
      description: Gets an array of secret lock entries for the given composite hashes.
      operationId: getSecretLocks
      requestBody:
        $ref: '#/components/requestBodies/compositeHashes'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                description: Array of secret lock entries.
                items:
                  $ref: '#/components/schemas/SecretLockInfoDTO'
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /lock/secret/{compositeHash}:
    get:
      tags:
        - Secret Lock routes
      summary: Get secret lock information
      description: Gets the hash lock for a given composite hash.
      operationId: getSecretLock
      parameters:
        - $ref: '#/components/parameters/compositeHashPath'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretLockInfoDTO'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /lock/secret/{compositeHash}/merkle:
    get:
      tags:
        - Secret Lock routes
      summary: Get secret lock Merkle information
      description: Gets the secret lock Merkle for a given composite hash.
      operationId: getSecretLockMerkle
      parameters:
        - $ref: '#/components/parameters/compositeHashPath'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerkleStateInfoDTO'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /metadata:
    get:
      tags:
        - Metadata routes
      summary: Search metadata entries
      description: Returns an array of metadata.
      operationId: searchMetadataEntries
      parameters:
        - $ref: '#/components/parameters/sourceAddressQuery'
        - $ref: '#/components/parameters/targetAddressQuery'
        - $ref: '#/components/parameters/scopedMetadataKeyQuery'
        - $ref: '#/components/parameters/targetIdQuery'
        - $ref: '#/components/parameters/metadataTypeQuery'
        - $ref: '#/components/parameters/pageSizeQuery'
        - $ref: '#/components/parameters/pageNumberQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/orderQuery'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataPage'
        '409':
          $ref: '#/components/responses/InvalidArgument'
    post:
      tags:
        - Metadata routes
      summary: Get metadata information for an array of composite hashes
      description: Gets an array of metadata entries for the given composite hashes.
      operationId: getMetadataEntries
      requestBody:
        $ref: '#/components/requestBodies/compositeHashes'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                description: Array of metadata entries.
                items:
                  $ref: '#/components/schemas/MetadataInfoDTO'
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /metadata/{compositeHash}:
    get:
      tags:
        - Metadata routes
      summary: Get metadata information
      description: Gets the metadata for a given composite hash.
      operationId: getMetadata
      parameters:
        - $ref: '#/components/parameters/compositeHashPath'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataInfoDTO'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /metadata/{compositeHash}/merkle:
    get:
      tags:
        - Metadata routes
      summary: Get metadata Merkle information
      description: Gets the metadata Merkle for a given composite hash.
      operationId: getMetadataMerkle
      parameters:
        - $ref: '#/components/parameters/compositeHashPath'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerkleStateInfoDTO'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /metadata/metal/{metalId}:
    get:
      tags:
        - Metadata routes
      summary: Get Metal metadata binary data
      description: |
        Gets the binary payload stored in a Metal metadata entry.
        The response content type is determined by the stored data (e.g. image, document).
        Optional query parameters can override the response headers for content type and filename.
      operationId: getMetadataMetal
      parameters:
        - $ref: '#/components/parameters/metalIdPath'
        - name: mimeType
          in: query
          description: Override the MIME type of the response.
          required: false
          schema:
            type: string
            example: image/png
        - name: fileName
          in: query
          description: Override the filename in the Content-Disposition header.
          required: false
          schema:
            type: string
        - name: download
          in: query
          description: When true, sets Content-Disposition to attachment.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Binary payload of the Metal metadata.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /mosaics/{mosaicId}:
    get:
      tags:
        - Mosaic routes
      summary: Get mosaic information
      description: |
        Retrieves the current on-chain state for a mosaic.
        The response includes the mosaic definition, such as supply, divisibility, owner address, duration, and behavior flags.
      operationId: getMosaic
      parameters:
        - $ref: '#/components/parameters/mosaicIdPath'
      responses:
        '200':
          description: Mosaic information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MosaicInfoDTO'
              examples:
                default:
                  value:
                    id: 69B7F98B80B1371126C487FF
                    mosaic:
                      version: 1
                      id: 0369A2A323F891F6
                      supply: '100'
                      startHeight: '5252662'
                      ownerAddress: 6885AAC78AD47CC9D9B57532C9F1C627CC032164E8EF2992
                      revision: 1
                      flags: 2
                      divisibility: 0
                      duration: '0'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /mosaics/{mosaicId}/merkle:
    get:
      tags:
        - Mosaic routes
      summary: Get mosaic Merkle information
      description: |
        Returns the Merkle state proof for a mosaic.

        Clients can use this information to verify that the mosaic state is included in the node's state Merkle tree.
        See [Data Validation](https://docs.symbol.dev/concepts/data-validation.html) for an overview of Patricia Merkle
        trees and state proofs on Symbol.
      operationId: getMosaicMerkle
      parameters:
        - $ref: '#/components/parameters/mosaicIdPath'
      responses:
        '200':
          description: Mosaic Merkle information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerkleStateInfoDTO'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /mosaics:
    get:
      tags:
        - Mosaic routes
      summary: Search mosaics
      description: |
        Returns a paginated list of mosaics matching the given criteria.
        Results can be filtered by mosaic owner address. Standard pagination parameters apply.
      operationId: searchMosaics
      parameters:
        - $ref: '#/components/parameters/ownerAddressQuery'
        - $ref: '#/components/parameters/pageSizeQuery'
        - $ref: '#/components/parameters/pageNumberQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/orderQuery'
      responses:
        '200':
          description: Paginated list of matching mosaics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MosaicPage'
              examples:
                default:
                  value:
                    data:
                      - id: 60574DD2FC6BD03EE3C3F22F
                        mosaic:
                          version: 1
                          id: 6BED913FA20223F8
                          supply: '8519943085765488'
                          startHeight: '1'
                          ownerAddress: 68258605CB5ABC592FE691190202CDFD6DDEE659A6BB30B8
                          revision: 1
                          flags: 2
                          divisibility: 6
                          duration: '0'
                      - id: 60574DDCFC6BD03EE3C3F536
                        mosaic:
                          version: 1
                          id: 63078E73FBCC2CAC
                          supply: '3800000'
                          startHeight: '117'
                          ownerAddress: 6854F763D03307D0281EFC4BB3B4926316F9AEE74EB63EE8
                          revision: 1
                          flags: 3
                          divisibility: 0
                          duration: '0'
                    pagination:
                      pageNumber: 1
                      pageSize: 10
        '409':
          $ref: '#/components/responses/InvalidArgument'
    post:
      tags:
        - Mosaic routes
      summary: Get mosaics information for an array of mosaics
      description: |
        Retrieves the current on-chain state for multiple mosaics.
        The response includes only mosaics that were found, so its length can be smaller
        than the number of requested identifiers. Response entries are not guaranteed to
        preserve the order of the requested identifiers.
      operationId: getMosaics
      requestBody:
        $ref: '#/components/requestBodies/mosaicIds'
      responses:
        '200':
          description: Mosaic information successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                description: Array of found mosaic information objects in server-defined order.
                items:
                  $ref: '#/components/schemas/MosaicInfoDTO'
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /account/{address}/multisig:
    get:
      tags:
        - Multisig routes
      summary: Get multisig account information
      description: Returns the multisig account information.
      operationId: getAccountMultisig
      parameters:
        - $ref: '#/components/parameters/addressPath'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultisigAccountInfoDTO'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /account/{address}/multisig/merkle:
    get:
      tags:
        - Multisig routes
      summary: Get multisig account Merkle information
      description: Returns the multisig account Merkle information.
      operationId: getAccountMultisigMerkle
      parameters:
        - $ref: '#/components/parameters/addressPath'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerkleStateInfoDTO'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /account/{address}/multisig/graph:
    get:
      tags:
        - Multisig routes
      summary: Get multisig account graph information
      description: Returns the multisig account graph.
      operationId: getAccountMultisigGraph
      parameters:
        - $ref: '#/components/parameters/addressPath'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MultisigAccountGraphInfoDTO'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /namespaces:
    get:
      tags:
        - Namespace routes
      summary: Search namespaces
      description: Returns a paginated list of namespaces matching the given criteria.
      operationId: searchNamespaces
      parameters:
        - $ref: '#/components/parameters/ownerAddressQuery'
        - $ref: '#/components/parameters/registrationTypeQuery'
        - $ref: '#/components/parameters/level0Query'
        - $ref: '#/components/parameters/aliasTypeQuery'
        - $ref: '#/components/parameters/pageSizeQuery'
        - $ref: '#/components/parameters/pageNumberQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/orderQuery'
      responses:
        '200':
          description: Paginated list of matching namespaces.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespacePage'
              examples:
                default:
                  value:
                    data:
                      - id: 60574DD2A0A3E6414C039189
                        meta:
                          index: 0
                          active: true
                        namespace:
                          version: 1
                          registrationType: 0
                          depth: 1
                          level0: A95F1F8A96159516
                          alias:
                            type: 0
                          parentId: '0000000000000000'
                          ownerAddress: 68258605CB5ABC592FE691190202CDFD6DDEE659A6BB30B8
                          startHeight: '1'
                          endHeight: '18446744073709551615'
                      - id: 60574DD2A0A3E6414C03918E
                        meta:
                          index: 0
                          active: true
                        namespace:
                          version: 1
                          registrationType: 1
                          depth: 2
                          level0: A95F1F8A96159516
                          level1: E74B99BA41F4AFEE
                          alias:
                            type: 1
                            mosaicId: 6BED913FA20223F8
                          parentId: A95F1F8A96159516
                          ownerAddress: 68258605CB5ABC592FE691190202CDFD6DDEE659A6BB30B8
                          startHeight: '1'
                          endHeight: '18446744073709551615'
                    pagination:
                      pageNumber: 1
                      pageSize: 10
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /namespaces/{namespaceId}:
    get:
      tags:
        - Namespace routes
      summary: Get namespace information
      description: Retrieves the current on-chain state for a namespace.
      operationId: getNamespace
      parameters:
        - $ref: '#/components/parameters/namespaceIdPath'
      responses:
        '200':
          description: Namespace information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceInfoDTO'
              examples:
                default:
                  value:
                    id: 60574DD2A0A3E6414C039189
                    meta:
                      index: 0
                      active: true
                    namespace:
                      version: 1
                      registrationType: 0
                      depth: 1
                      level0: A95F1F8A96159516
                      alias:
                        type: 0
                      parentId: '0000000000000000'
                      ownerAddress: 68258605CB5ABC592FE691190202CDFD6DDEE659A6BB30B8
                      startHeight: '1'
                      endHeight: '18446744073709551615'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /namespaces/{namespaceId}/merkle:
    get:
      tags:
        - Namespace routes
      summary: Get namespace Merkle information
      description: |
        Returns the Merkle state proof for a namespace.
        Clients can use this information to verify that the namespace state is included in the node's state Merkle tree.
        See [Data Validation](https://docs.symbol.dev/concepts/data-validation.html) for an overview of Patricia Merkle
        trees and state proofs on Symbol.
      operationId: getNamespaceMerkle
      parameters:
        - $ref: '#/components/parameters/namespaceIdPath'
      responses:
        '200':
          description: Namespace Merkle state proof successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerkleStateInfoDTO'
              examples:
                default:
                  value:
                    raw: 0000FFFF644E8433278BF93C2884FD895E2EE6ECCFB0C42C0E80AA3A762D1CFB...
                    tree:
                      - type: 0
                        path: ''
                        encodedPath: '00'
                        nibbleCount: 0
                        linkMask: FFFF
                        links:
                          - bit: '0'
                            link: 644E8433278BF93C2884FD895E2EE6ECCFB0C42C0E80AA3A762D1CFB5DAC5115
                          - bit: A
                            link: C68CBC18285D6330C6F4DE4F78A1103FFF2B5077D2BE71B46A37A558D19C4D23
                          - bit: F
                            link: 5B6FCF527CAC1DE69BA0FC6EC9403E1891A136B80DD67CBE0DF615E6665B5A03
                        branchHash: 4BC8081155A51C0288EE58AF84050AB18B3712695489FEC0741C4C2606F8C861
                      - type: 255
                        path: 793E37E8616665E4E5DA0CAF388172AB754CEE17FE702019228A996084F6E7
                        encodedPath: 20793E37E8616665E4E5DA0CAF388172AB754CEE17FE702019228A996084F6E7
                        nibbleCount: 62
                        value: F48F12376B7C72F97E1533DE6DDB6F957DAB4F9031F959261AA2C5B655C864AA
                        leafHash: 85AA375FCF9F46F82E71126195A6DA0C0DD2F00378C16C7B986C5DDDA15192C6
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /namespaces/names:
    post:
      tags:
        - Namespace routes
      summary: Get readable names for a set of namespaces
      description: |
        Resolves human-readable namespace names for namespace identifiers.

        Submit an array of namespace identifiers in the request body. For each matching
        identifier, the response returns the namespace name. When a matching identifier is
        a subnamespace, the response will also include its parent namespace entry and parent
        namespace identifier. Identifiers that cannot be resolved are omitted from the
        response.
      operationId: getNamespacesNames
      requestBody:
        $ref: '#/components/requestBodies/namespaceIds'
      responses:
        '200':
          description: Namespace names successfully resolved.
          content:
            application/json:
              schema:
                type: array
                description: Array of resolved namespace name entries.
                items:
                  $ref: '#/components/schemas/NamespaceNameDTO'
              examples:
                subnamespaceWithParent:
                  value:
                    - id: E74B99BA41F4AFEE
                      name: xym
                      parentId: A95F1F8A96159516
                    - id: A95F1F8A96159516
                      name: symbol
                rootNamespace:
                  value:
                    - id: A95F1F8A96159516
                      name: symbol
        '400':
          $ref: '#/components/responses/InvalidContent'
        '409':
          $ref: '#/components/responses/InvalidArgument'
  /namespaces/account/names:
    post:
      tags:
        - Namespace routes
[...]
