{% set ns = namespace(step_count=1) %}

{% macro list_begin() -%}
{% set ns.step_count = 1 %}
<table markdown class="tutorial">
{%- endmacro %}

{% macro list_end() -%}
</table>
{%- endmacro %}

{% macro step_begin(fname) -%}
<tr markdown><td markdown>![]({{ fname }}){ .data-description=".step-{{ ns.step_count }}" }<div markdown class="step-{{ ns.step_count }}"><span class="big-number">{{ ns.step_count }}. </span>
{%- endmacro -%}

{% macro step_end() -%}
</div></td></tr>
{% set ns.step_count = ns.step_count + 1 %}
{%- endmacro %}
