.* -> catapult
catapult -> catapult/utils

# rules don't have to be in any particular order, but I guess that will make them easier to read

# level 1
catapult/crypto -> catapult/utils
catapult/deltaset -> catapult/utils

catapult/thread/detail -> catapult/utils
catapult/thread -> catapult/thread/detail

# hack, there's dependency in include dirs
# catapult/utils/HexFormatter.h ->  catapult/utils/traits/Traits.h    (catapult/utils -> catapult/utils/traits)
# catapult/utils/traits/Traits.h -> catapult/utils/ClampedBaseValue.h (catapult/utils/traits -> catapult/utils)
catapult/utils/.* -> catapult/utils
catapult/utils -> catapult/utils/traits

# level 2
catapult/io -> catapult/model
catapult/ionet -> catapult/model
catapult/ionet -> catapult/thread
catapult/model -> catapult/crypto

# level 3
catapult/api -> catapult/io
catapult/api -> catapult/ionet

catapult/config -> catapult/ionet

catapult/net -> catapult/ionet

catapult/state -> catapult/model

# level 4
catapult/cache -> catapult/deltaset
catapult/cache -> catapult/io
catapult/cache -> catapult/state

# level 5
catapult/cache_core -> catapult/cache
catapult/cache_core -> catapult/deltaset

catapult/disruptor -> catapult/model
catapult/disruptor -> catapult/thread

catapult/handlers -> catapult/api

catapult/observers -> catapult/cache

catapult/plugins -> catapult/cache
catapult/plugins -> catapult/ionet
catapult/plugins -> catapult/observers
catapult/plugins -> catapult/validators
catapult/plugins -> plugins/coresystem/src

catapult/validators -> catapult/cache
catapult/validators -> catapult/thread

# level 6
catapult/chain -> catapult/cache_core
catapult/chain -> catapult/observers
catapult/chain -> catapult/validators
catapult/chain -> catapult/disruptor
catapult/chain -> catapult/handlers
catapult/chain -> catapult/net

catapult/subscribers -> catapult/cache
catapult/subscribers -> catapult/config
catapult/subscribers -> catapult/validators

# level 7
catapult/consumers -> catapult/chain

# level 8
catapult/extensions -> catapult/consumers
catapult/extensions -> catapult/plugins
catapult/extensions -> catapult/subscribers

# level 9
catapult/local -> catapult/extensions

# level 10
catapult/server -> catapult/local

# EXTENSIONS
EXTENSIONS_BASE = catapult/extensions

extensions/addressextraction.* -> EXTENSIONS_BASE
extensions/addressextraction -> extensions/addressextraction/src

extensions/diagnostics.* -> EXTENSIONS_BASE
extensions/diagnostics -> extensions/diagnostics/src

extensions/eventsource.* -> EXTENSIONS_BASE
extensions/eventsource -> extensions/eventsource/src

extensions/filechain.* -> EXTENSIONS_BASE
extensions/filechain -> extensions/filechain/src

extensions/harvesting.* -> EXTENSIONS_BASE
extensions/harvesting -> extensions/harvesting/src

extensions/hashcache.* -> EXTENSIONS_BASE
extensions/hashcache -> extensions/hashcache/src
extensions/hashcache/src -> plugins/services/hashcache/src/cache

extensions/networkheight.* -> EXTENSIONS_BASE
extensions/networkheight -> extensions/networkheight/src

extensions/nodediscovery.* -> EXTENSIONS_BASE
extensions/nodediscovery -> extensions/nodediscovery/src
extensions/nodediscovery/src.* -> nodediscovery/src.*

extensions/packetserver.* -> EXTENSIONS_BASE
extensions/packetserver -> extensions/packetserver/src

extensions/partialtransaction.* -> EXTENSIONS_BASE
extensions/partialtransaction -> extensions/partialtransaction/src
EXT_PARTIALTRANSACTION_SRC = extensions/partialtransaction/src.*
EXT_PARTIALTRANSACTION_SRC -> partialtransaction/src.*
EXT_PARTIALTRANSACTION_SRC -> EXTENSIONS_BASE
EXT_PARTIALTRANSACTION_SRC -> plugins/txes/aggregate/src/model
extensions/partialtransaction/src/chain -> plugins/txes/aggregate/src/validators

extensions/sync.* -> EXTENSIONS_BASE
extensions/sync -> extensions/sync/src

extensions/syncsource.* -> EXTENSIONS_BASE
extensions/syncsource -> extensions/syncsource/src

extensions/transactionsink.* -> EXTENSIONS_BASE
extensions/transactionsink -> extensions/transactionsink/src

extensions/unbondedpruning.* -> EXTENSIONS_BASE
extensions/unbondedpruning -> extensions/unbondedpruning/src
extensions/unbondedpruning/src -> plugins/txes/lock/src/model

extensions/zeromq.* -> EXTENSIONS_BASE
extensions/zeromq -> extensions/zeromq/src

# mongo extension and plugins

EXT_MONGO_SRC = extensions/mongo/src.*
EXT_MONGO_SRC -> EXTENSIONS_BASE
EXT_MONGO_SRC -> mongo/src.*
extensions/mongo/src -> extensions/mongo/src/mappers
extensions/mongo/src -> extensions/mongo/src/storages
extensions/mongo -> EXT_MONGO_SRC

EXT_MONGO_AGGREGATE_SRC = extensions/mongo/plugins/aggregate/src.*
EXT_MONGO_AGGREGATE_SRC -> mongo/src.*
EXT_MONGO_AGGREGATE_SRC -> plugins/txes/aggregate/src.*

EXT_MONGO_LOCK_SRC = extensions/mongo/plugins/lock/src.*
EXT_MONGO_LOCK_SRC -> mongo/src.*
EXT_MONGO_LOCK_SRC -> plugins/txes/lock/src.*
extensions/mongo/plugins/lock/src -> extensions/mongo/plugins/lock/src/storages

EXT_MONGO_PLUGIN_MULTISIG_SRC = extensions/mongo/plugins/multisig/src.*
EXT_MONGO_PLUGIN_MULTISIG_SRC -> mongo/src.*
EXT_MONGO_PLUGIN_MULTISIG_SRC -> plugins/txes/multisig/src.*
extensions/mongo/plugins/multisig/src -> extensions/mongo/plugins/multisig/src/storages
extensions/mongo/plugins/multisig/src/storages -> src/mappers
extensions/mongo/plugins/multisig/src/storages -> catapult/thread

EXT_MONGO_PLUGIN_NAMESPACE_SRC = extensions/mongo/plugins/namespace/src.*
EXT_MONGO_PLUGIN_NAMESPACE_SRC -> mongo/src.*
EXT_MONGO_PLUGIN_NAMESPACE_SRC -> plugins/txes/namespace/src.*
extensions/mongo/plugins/namespace/src -> extensions/mongo/plugins/namespace/src/storages
extensions/mongo/plugins/namespace/src/storages -> src/mappers
extensions/mongo/plugins/namespace/src/storages -> catapult/thread

extensions/mongo/plugins/transfer/src -> mongo/src.*
extensions/mongo/plugins/transfer/src -> plugins/txes/transfer/src/model

# plugins

PLUGIN_BASE = catapult/plugins

PLUGIN_SERVICE_CORESYSTEM = plugins/coresystem/src.*
PLUGIN_SERVICE_CORESYSTEM -> plugins/coresystem/src/.* # local includes
PLUGIN_SERVICE_CORESYSTEM -> PLUGIN_BASE
PLUGIN_SERVICE_CORESYSTEM -> catapult/cache_core
plugins/coresystem/src/handlers -> catapult/handlers

PLUGIN_SERVICE_HASHCACHE = plugins/services/hashcache/src.*
PLUGIN_SERVICE_HASHCACHE -> src/.* # local includes
PLUGIN_SERVICE_HASHCACHE -> PLUGIN_BASE
plugins/services/hashcache/src/cache -> catapult/deltaset
plugins/services/hashcache/src/handlers -> catapult/handlers

PLUGIN_SERVICE_SIGNATURE = plugins/services/signature/src.*
PLUGIN_SERVICE_SIGNATURE -> src/.* # local includes
PLUGIN_SERVICE_SIGNATURE -> PLUGIN_BASE

# transaction plugins

PLUGIN_TX_AGGREGATE = plugins/txes/aggregate/src.*
PLUGIN_TX_AGGREGATE -> src/.* # local includes
PLUGIN_TX_AGGREGATE -> PLUGIN_BASE

PLUGIN_TX_LOCK = plugins/txes/lock/src.*
PLUGIN_TX_LOCK -> src/.*
PLUGIN_TX_LOCK -> PLUGIN_BASE
PLUGIN_TX_LOCK -> plugins/txes/aggregate.*
PLUGIN_TX_LOCK -> catapult/cache_core
plugins/txes/lock/src/cache -> catapult/deltaset
plugins/txes/lock/src/validators -> plugins/txes/aggregate/src/model

PLUGIN_TX_MULTISIG = plugins/txes/multisig/src.*
PLUGIN_TX_MULTISIG -> src/.* # local includes
PLUGIN_TX_MULTISIG -> PLUGIN_BASE
PLUGIN_TX_MULTISIG -> plugins/txes/aggregate.*
plugins/txes/multisig/src/cache -> catapult/deltaset

PLUGIN_TX_NAMESPACE = plugins/txes/namespace/src.*
PLUGIN_TX_NAMESPACE -> src/.* # local includes
PLUGIN_TX_NAMESPACE -> PLUGIN_BASE
PLUGIN_TX_NAMESPACE -> plugins/txes/namespace.*
PLUGIN_TX_NAMESPACE -> catapult/cache_core
plugins/txes/namespace/src/handlers -> catapult/handlers

PLUGIN_TX_TRANSFER = plugins/txes/transfer/src.*
PLUGIN_TX_TRANSFER -> src/.* # local includes
PLUGIN_TX_TRANSFER -> PLUGIN_BASE

