.* -> catapult
catapult -> catapult/utils

# rules don't have to be in any particular order, but I guess that will make them easier to read

# level 1
catapult/crypto -> catapult/utils
catapult/deltaset -> catapult/utils

catapult/thread/detail -> catapult/utils
catapult/thread -> catapult/thread/detail

# hack, there's dependency in include dirs
# catapult/utils/HexFormatter.h ->  catapult/utils/traits/Traits.h    (catapult/utils -> catapult/utils/traits)
# catapult/utils/traits/Traits.h -> catapult/utils/ClampedBaseValue.h (catapult/utils/traits -> catapult/utils)
catapult/utils/.* -> catapult/utils
catapult/utils -> catapult/utils/traits

catapult/version/nix -> catapult/version
catapult/version/win -> catapult/version

# level 2
catapult/model -> catapult/crypto

# level 2b
catapult/ionet -> catapult/model
catapult/ionet -> catapult/thread
catapult/ionet -> catapult/version

# level 2c
catapult/config -> catapult/ionet
catapult/net -> catapult/ionet

# level 2d
catapult/io -> catapult/config
catapult/io -> catapult/model

# level 3
catapult/api -> catapult/io
catapult/api -> catapult/ionet

catapult/crypto_voting -> catapult/io

catapult/state -> catapult/io

catapult/tree -> catapult/io

# level 3b
catapult/cache_db -> catapult/deltaset
catapult/cache_db -> catapult/tree

# level 4
catapult/cache -> catapult/cache_db
catapult/cache -> catapult/deltaset
catapult/cache -> catapult/io
catapult/cache -> catapult/state
catapult/cache -> catapult/tree

catapult/cache_tx -> catapult/state

catapult/process -> catapult/io
catapult/process -> catapult/version

# level 5
catapult/cache_core -> catapult/cache
catapult/cache_core -> catapult/deltaset

catapult/disruptor -> catapult/model
catapult/disruptor -> catapult/thread

catapult/handlers -> catapult/api
catapult/handlers -> catapult/cache

catapult/observers -> catapult/cache

catapult/plugins -> catapult/cache
catapult/plugins -> catapult/config
catapult/plugins -> catapult/handlers
catapult/plugins -> catapult/ionet
catapult/plugins -> catapult/observers
catapult/plugins -> catapult/validators

catapult/validators -> catapult/cache
catapult/validators -> catapult/thread

# level 6
catapult/chain -> catapult/cache_core
catapult/chain -> catapult/cache_tx
catapult/chain -> catapult/disruptor
catapult/chain -> catapult/handlers
catapult/chain -> catapult/net
catapult/chain -> catapult/observers
catapult/chain -> catapult/validators

catapult/keylink -> catapult/cache_core
catapult/keylink -> catapult/observers
catapult/keylink -> catapult/validators

catapult/subscribers -> catapult/cache
catapult/subscribers -> catapult/cache_tx
catapult/subscribers -> catapult/config
catapult/subscribers -> catapult/validators

# level 7
catapult/consumers -> catapult/chain
catapult/consumers -> catapult/subscribers

# level 8
catapult/extensions -> catapult/consumers
catapult/extensions -> catapult/plugins
catapult/extensions -> catapult/subscribers

# level 9
catapult/local -> catapult/extensions

# level 10
catapult/local/broker -> catapult/local
catapult/local/recovery -> catapult/local
catapult/local/server -> catapult/local

# level 11
catapult/process/broker -> catapult/local/broker
catapult/process/broker -> catapult/process

catapult/process/recovery -> catapult/local/recovery
catapult/process/recovery -> catapult/process

catapult/process/server -> catapult/local/server
catapult/process/server -> catapult/process

# EXTENSIONS
EXTENSIONS_BASE = catapult/extensions

extensions/addressextraction.* -> EXTENSIONS_BASE
extensions/addressextraction -> extensions/addressextraction/src

extensions/diagnostics.* -> EXTENSIONS_BASE
extensions/diagnostics -> extensions/diagnostics/src

extensions/filespooling.* -> EXTENSIONS_BASE
extensions/filespooling -> extensions/filespooling/src

extensions/finalization.* -> EXTENSIONS_BASE
extensions/finalization -> extensions/finalization/src
extensions/finalization -> finalization/src/io
EXT_FINALIZATION_SRC = extensions/finalization/src.*
EXT_FINALIZATION_SRC -> finalization/src.*
EXT_FINALIZATION_SRC -> catapult/crypto_voting

extensions/harvesting.* -> EXTENSIONS_BASE
extensions/harvesting -> extensions/harvesting/src

extensions/hashcache.* -> EXTENSIONS_BASE
extensions/hashcache -> extensions/hashcache/src
extensions/hashcache/src -> plugins/services/hashcache/src/cache

extensions/networkheight.* -> EXTENSIONS_BASE
extensions/networkheight -> extensions/networkheight/src

extensions/nodediscovery.* -> EXTENSIONS_BASE
extensions/nodediscovery -> extensions/nodediscovery/src
extensions/nodediscovery/src.* -> nodediscovery/src.*

extensions/packetserver.* -> EXTENSIONS_BASE
extensions/packetserver -> extensions/packetserver/src

extensions/partialtransaction.* -> EXTENSIONS_BASE
extensions/partialtransaction -> extensions/partialtransaction/src
EXT_PARTIALTRANSACTION_SRC = extensions/partialtransaction/src.*
EXT_PARTIALTRANSACTION_SRC -> partialtransaction/src.*
EXT_PARTIALTRANSACTION_SRC -> EXTENSIONS_BASE
EXT_PARTIALTRANSACTION_SRC -> plugins/txes/aggregate/src/model
extensions/partialtransaction/src/chain -> plugins/txes/aggregate/src/validators

extensions/pluginhandlers.* -> EXTENSIONS_BASE
extensions/pluginhandlers -> extensions/pluginhandlers/src

extensions/sync.* -> EXTENSIONS_BASE
extensions/sync -> extensions/sync/src

extensions/syncsource.* -> EXTENSIONS_BASE
extensions/syncsource -> extensions/syncsource/src

extensions/timesync.* -> EXTENSIONS_BASE
extensions/timesync -> extensions/timesync/src
extensions/timesync/src.* -> timesync/src.*

extensions/transactionsink.* -> EXTENSIONS_BASE
extensions/transactionsink -> extensions/transactionsink/src

extensions/unbondedpruning.* -> EXTENSIONS_BASE
extensions/unbondedpruning -> extensions/unbondedpruning/src
extensions/unbondedpruning/src -> plugins/txes/lock_hash/src/model

extensions/zeromq.* -> EXTENSIONS_BASE
extensions/zeromq -> extensions/zeromq/src

# mongo extension and plugins

EXT_MONGO_SRC = extensions/mongo/src.*
EXT_MONGO_SRC -> EXTENSIONS_BASE
EXT_MONGO_SRC -> mongo/src.*
extensions/mongo/src/mappers -> plugins/coresystem/src/model
extensions/mongo/src -> extensions/mongo/src/mappers
extensions/mongo/src -> extensions/mongo/src/storages
extensions/mongo -> EXT_MONGO_SRC

extensions/mongo/plugins/account_link/src -> mongo/src.*
extensions/mongo/plugins/account_link/src -> plugins/txes/account_link/src/model

EXT_MONGO_AGGREGATE_SRC = extensions/mongo/plugins/aggregate/src.*
EXT_MONGO_AGGREGATE_SRC -> mongo/src.*
EXT_MONGO_AGGREGATE_SRC -> plugins/txes/aggregate/src.*

EXT_MONGO_LOCK_SHARED_SRC = extensions/mongo/plugins/lock_shared/src.*
EXT_MONGO_LOCK_SHARED_SRC -> mongo/src.*
EXT_MONGO_LOCK_SHARED_SRC -> plugins/txes/lock_shared/src.*
extensions/mongo/plugins/lock_shared/src -> extensions/mongo/plugins/lock_shared/src/storages

EXT_MONGO_LOCK_HASH_SRC = extensions/mongo/plugins/lock_hash/src.*
EXT_MONGO_LOCK_HASH_SRC -> EXT_MONGO_LOCK_SHARED_SRC
EXT_MONGO_LOCK_HASH_SRC -> plugins/txes/lock_hash/src.*
extensions/mongo/plugins/lock_hash/src -> extensions/mongo/plugins/lock_hash/src/storages
extensions/mongo/plugins/lock_hash/src/mappers -> mongo/plugins/lock_shared/src/mappers
extensions/mongo/plugins/lock_hash/src/storages -> mongo/plugins/lock_shared/src/storages

EXT_MONGO_LOCK_SECRET_SRC = extensions/mongo/plugins/lock_secret/src.*
EXT_MONGO_LOCK_SECRET_SRC -> EXT_MONGO_LOCK_SHARED_SRC
EXT_MONGO_LOCK_SECRET_SRC -> plugins/txes/lock_secret/src.*
extensions/mongo/plugins/lock_secret/src -> extensions/mongo/plugins/lock_secret/src/storages
extensions/mongo/plugins/lock_secret/src/mappers -> mongo/plugins/lock_shared/src/mappers
extensions/mongo/plugins/lock_secret/src/storages -> mongo/plugins/lock_shared/src/storages

EXT_MONGO_METADATA_SRC = extensions/mongo/plugins/metadata/src.*
EXT_MONGO_METADATA_SRC -> mongo/src.*
EXT_MONGO_METADATA_SRC -> plugins/txes/metadata/src.*
extensions/mongo/plugins/metadata/src -> extensions/mongo/plugins/metadata/src/storages

EXT_MONGO_MOSAIC_SRC = extensions/mongo/plugins/mosaic/src.*
EXT_MONGO_MOSAIC_SRC -> mongo/src.*
EXT_MONGO_MOSAIC_SRC -> plugins/txes/mosaic/src.*
extensions/mongo/plugins/mosaic/src -> extensions/mongo/plugins/mosaic/src/storages
extensions/mongo/plugins/mosaic/src/storages -> src/mappers

EXT_MONGO_MULTISIG_SRC = extensions/mongo/plugins/multisig/src.*
EXT_MONGO_MULTISIG_SRC -> mongo/src.*
EXT_MONGO_MULTISIG_SRC -> plugins/txes/multisig/src.*
extensions/mongo/plugins/multisig/src -> extensions/mongo/plugins/multisig/src/storages
extensions/mongo/plugins/multisig/src/storages -> src/mappers

EXT_MONGO_NAMESPACE_SRC = extensions/mongo/plugins/namespace/src.*
EXT_MONGO_NAMESPACE_SRC -> mongo/src.*
EXT_MONGO_NAMESPACE_SRC -> plugins/txes/namespace/src.*
extensions/mongo/plugins/namespace/src -> extensions/mongo/plugins/namespace/src/storages
extensions/mongo/plugins/namespace/src/storages -> src/mappers

EXT_MONGO_RESTRICTION_ACCOUNT_SRC = extensions/mongo/plugins/restriction_account/src.*
EXT_MONGO_RESTRICTION_ACCOUNT_SRC -> mongo/src.*
EXT_MONGO_RESTRICTION_ACCOUNT_SRC -> plugins/txes/restriction_account/src.*
extensions/mongo/plugins/restriction_account/src -> extensions/mongo/plugins/restriction_account/src/storages

EXT_MONGO_RESTRICTION_MOSAIC_SRC = extensions/mongo/plugins/restriction_mosaic/src.*
EXT_MONGO_RESTRICTION_MOSAIC_SRC -> mongo/src.*
EXT_MONGO_RESTRICTION_MOSAIC_SRC -> plugins/txes/restriction_mosaic/src.*
extensions/mongo/plugins/restriction_mosaic/src -> extensions/mongo/plugins/restriction_mosaic/src/storages

extensions/mongo/plugins/transfer/src -> mongo/src.*
extensions/mongo/plugins/transfer/src -> plugins/txes/transfer/src/model

# plugins

PLUGIN_BASE = catapult/plugins

PLUGIN_SERVICE_CORESYSTEM = plugins/coresystem/src.*
PLUGIN_SERVICE_CORESYSTEM -> plugins/coresystem/src/.* # local includes
PLUGIN_SERVICE_CORESYSTEM -> src/.* # local includes
PLUGIN_SERVICE_CORESYSTEM -> PLUGIN_BASE
PLUGIN_SERVICE_CORESYSTEM -> catapult/cache_core
plugins/coresystem/src -> catapult/handlers
plugins/coresystem/src/observers -> src/importance
plugins/coresystem/src/plugins -> catapult/keylink

PLUGIN_SERVICE_HASHCACHE = plugins/services/hashcache/src.*
PLUGIN_SERVICE_HASHCACHE -> src/.* # local includes
PLUGIN_SERVICE_HASHCACHE -> PLUGIN_BASE
plugins/services/hashcache/src/cache -> catapult/deltaset
plugins/services/hashcache/src/handlers -> catapult/handlers

PLUGIN_SERVICE_SIGNATURE = plugins/services/signature/src.*
PLUGIN_SERVICE_SIGNATURE -> src/.* # local includes
PLUGIN_SERVICE_SIGNATURE -> PLUGIN_BASE

# transaction plugins

PLUGIN_TX_ACCOUNT_LINK = plugins/txes/account_link/src.*
PLUGIN_TX_ACCOUNT_LINK -> src/.* # local includes
PLUGIN_TX_ACCOUNT_LINK -> PLUGIN_BASE
PLUGIN_TX_ACCOUNT_LINK -> catapult/cache_core
PLUGIN_TX_ACCOUNT_LINK -> catapult/keylink

PLUGIN_TX_AGGREGATE = plugins/txes/aggregate/src.*
PLUGIN_TX_AGGREGATE -> src/.* # local includes
PLUGIN_TX_AGGREGATE -> PLUGIN_BASE

PLUGIN_TX_LOCK_SHARED = plugins/txes/lock_shared/src.*
PLUGIN_TX_LOCK_SHARED -> src/.* # local includes
PLUGIN_TX_LOCK_SHARED -> PLUGIN_BASE
PLUGIN_TX_LOCK_SHARED -> catapult/cache_core
plugins/txes/lock_shared/src/cache -> catapult/deltaset

PLUGIN_TX_LOCK_HASH = plugins/txes/lock_hash/src.*
PLUGIN_TX_LOCK_HASH -> plugins/txes/lock_shared/src.*
PLUGIN_TX_LOCK_HASH -> plugins/txes/aggregate.*
plugins/txes/lock_hash/src/cache -> catapult/deltaset
plugins/txes/lock_hash/src/validators -> plugins/txes/aggregate/src/model

PLUGIN_TX_LOCK_SECRET = plugins/txes/lock_secret/src.*
PLUGIN_TX_LOCK_SECRET -> plugins/txes/lock_shared/src.*
plugins/txes/lock_secret/src/cache -> catapult/deltaset

PLUGIN_TX_METADATA = plugins/txes/metadata/src.*
PLUGIN_TX_METADATA -> src/.*
PLUGIN_TX_METADATA -> PLUGIN_BASE
plugins/txes/metadata/src.* -> plugins/txes/namespace/src
plugins/txes/metadata/src/plugins -> plugins/txes/namespace/src/model
plugins/txes/metadata/src/state -> plugins/txes/metadata/src/model

PLUGIN_TX_MOSAIC = plugins/txes/mosaic/src.*
PLUGIN_TX_MOSAIC -> src/.* # local includes
PLUGIN_TX_MOSAIC -> PLUGIN_BASE
PLUGIN_TX_MOSAIC -> plugins/txes/mosaic.*
PLUGIN_TX_MOSAIC -> catapult/cache_core
plugins/txes/mosaic/src/plugins -> catapult/handlers

PLUGIN_TX_MULTISIG = plugins/txes/multisig/src.*
PLUGIN_TX_MULTISIG -> src/.* # local includes
PLUGIN_TX_MULTISIG -> PLUGIN_BASE
PLUGIN_TX_MULTISIG -> plugins/txes/aggregate.*
plugins/txes/multisig/src/cache -> catapult/deltaset

PLUGIN_TX_NAMESPACE = plugins/txes/namespace/src.*
PLUGIN_TX_NAMESPACE -> src/.* # local includes
PLUGIN_TX_NAMESPACE -> PLUGIN_BASE
PLUGIN_TX_NAMESPACE -> plugins/txes/namespace.*
PLUGIN_TX_NAMESPACE -> catapult/cache_core
plugins/txes/namespace/src/plugins -> catapult/handlers

PLUGIN_TX_RESTRICTION_ACCOUNT = plugins/txes/restriction_account/src.*
PLUGIN_TX_RESTRICTION_ACCOUNT -> src/.*
PLUGIN_TX_RESTRICTION_ACCOUNT -> PLUGIN_BASE

PLUGIN_TX_RESTRICTION_MOSAIC = plugins/txes/restriction_mosaic/src.*
PLUGIN_TX_RESTRICTION_MOSAIC -> src/.*
PLUGIN_TX_RESTRICTION_MOSAIC -> PLUGIN_BASE

PLUGIN_TX_TRANSFER = plugins/txes/transfer/src.*
PLUGIN_TX_TRANSFER -> src/.* # local includes
PLUGIN_TX_TRANSFER -> PLUGIN_BASE
