astroid==2.5.1
cffi==1.14.5
cryptography==3.4.6
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
mnemonic==0.19
Pillow==8.1.1
pycodestyle==2.6.0
pycparser==2.20
pylint==2.7.2
pylint-quotes==0.2.1
pysha3==1.0.2
PyYAML==5.4.1
pyzbar==0.1.8
qrcode==6.1
six==1.15.0
toml==0.10.2
typed-ast==1.4.2
wrapt==1.12.1
