{% extends "_base/function.html.jinja" %}

{% block heading scoped %}
	{# Additional short anchor for convenience #}
	<a id={{ function.parent.name }}.{{ function.name }}></a>
	{{ super() }}
{% endblock heading %}

{% block docstring scoped %}
	<dl class="automatic-reference-term"><dt>py:{{ function.parent.name }}.{{ function.name }}</dt><dd>
	{%- with docstring_sections = function.docstring.parsed -%}
		{%- include "docstring"|get_template with context -%}
	{%- endwith -%}
	</dd></dl>
{% endblock docstring %}
