_build*/
CMakeFiles/
niserve.dir/
Release/
x64/
*~
*.swp
*.obj
*.o
*.pch
*.sln
*.vcxproj
*.vcxproj.filters
CMakeCache.txt
cmake_install.cmake
Makefile
.idea
.build-tools.cson
.clang_complete
build.sh
compile_commands.json
__pycache__
data*/
npm-*.log*
.vscode/
internal
